{% extends model('component') %}

{% define config = {
    name: 'product-item-summary',
    tag: 'ul'
} %}

{% define data = {
    productItem: {},
    options: []
} %}

{% block class %}{{ parent() }} list{% endblock %}

{% block body %}
    {% if data.productItem is not empty %}
        <li class="{{ component.renderClass(config.name ~ '__item', modifiers) }}">
            <div class="{{ component.renderClass(config.name ~ '__item-holder', modifiers) }}">
                {% include molecule('product-options', 'ProductOptionWidget') ignore missing with {
                    modifiers: ['summary'],
                    data: {
                        options: data.productItem.productOptions | default([])
                    }
                } only %}
            </div>
        </li>
    {% else %}
        {% for option in data.options %}
            <li class="{{ component.renderClass(config.name ~ '__item', modifiers) }}">
                <ul>
                    <li class="{{ config.name }}__item-inner">
                        + {{ option.value | trans }}:
                        <span class="float-right">{{ option.sumPrice | default(0) | money }}</span>
                    </li>
                </ul>
            </li>
        {% endfor %}
    {% endif %}
{% endblock %}
