{% extends model('component') %}

{% define config = {
    name: 'additional-order-buttons',
    tag: 'additional-order-buttons',
} %}

{% define data = {
    idSalesOrder: required,
    urlContainerSelect: required,
    itemSku: required,
    posListeForm: false,
    orderPosition: '',
    overviewForm: false,
    urlContainerSelect: '',
    urlMultiPickingOverview: '',
    urlPosListe: '',
    currentPosition: [],
    position: '',
} %}

{% block body %}

    <div class="grid grid--justify spacing-top">
        {% block leftColBottom %}
            <div class="col col--md-4 {{ config.name }}__spacing">
                <button type="button" class="button button--round button--ubersicht additional-button {% if data.overviewForm %} {{ config.name }}__selected-form {% endif %}" id="overviewBtn__{{ data.itemSku }}" onclick="multiPickingOverview('{{ data.itemSku }}')">
                    <span class="col--md-4">
                            {% include atom('icon') with {
                                data: {
                                    name: 'overview',
                                    rowText:  'multi.picking.header.overview' | trans
                                }
                            } only %}
                        </span>
                    <span class="col--md-8">{{ 'multi.picking.header.overview' | trans }}</span>
                </button>
            </div>
        {% endblock %}
        {% block midColBottom %}
                <div class="col col--md-4 {{ config.name }}__spacing">
                    <button type="button" class="button button--round button--posListe {% if data.posListeForm %} {{ config.name }}__selected-form {% endif %} {% if data.overviewForm %} button--disabled {% endif %}" id="posListeBtn__{{ data.itemSku }}" onclick="posListeForm('{{ data.itemSku }}')">
                     <span class="col--md-4">
                            {% include atom('icon') with {
                                data: {
                                    name: 'posliste',
                                    rowText: 'Pos. Liste'
                                }
                            } only %}
                        </span>
                        <span class="col--md-8">Pos. Liste</span>
                    </button>
                </div>
        {% endblock %}
        {% block rightColBottom %}
            <div class="col col--md-4 {{ config.name }}__spacing">
                {% set tokenName = 'start-picking-%d' | format(data.idSalesOrder) %}
                    <button type="button" class=" button button--round button--addContainers {% if data.overviewForm %} button--disabled {% endif %}" onclick="addContainer('{{ data.itemSku }}')">
                      <span class="col--md-4">
                            {% include atom('icon') with {
                                data: {
                                    name: 'addcontainer',
                                    rowText: 'Add Cont.'
                                }
                            } only %}
                        </span>
                        <span class="col--md-8">Add Con.</span>
                    </button>
            </div>
        {% endblock %}
    </div>
    <form id="formOverview" action="{{ data.urlMultiPickingOverview }}" method="post">
        {% set tokenName = 'overview-%d' | format(data.idSalesOrder) %}
        <input type="hidden" name="idOrder" value="{{ data.idSalesOrder}}">
        <input type="hidden" name="token" value="{{ csrf_token(tokenName) }}">
        <input type="hidden" name="skipToken" value="picking">
        <input type="hidden" name="position" value="{{ data.position }}">
        <input type="hidden" id="addContainerSku" name="sku" value="">
    </form>

    <form id="formAddContainerSku" action="{{ data.urlContainerSelect }}" method="post">
        {% set tokenName = 'container-select-%d' | format(data.idSalesOrder) %}
        <input type="hidden" name="formAddContainerSku" value="1">
        <input type="hidden" name="idOrder" value="{{ data.idSalesOrder}}">
        <input type="hidden" name="orderPosition" value="{{ data.orderPosition }}">
        <input type="hidden" name="itemSku" value="{{ data.itemSku }}">
        <input type="hidden" name="token" value="{{ csrf_token(tokenName) }}">
        <input type="hidden" id="addContainerSku" name="sku" value="">
    </form>

    <form id="formPosListeSku" action="{{ data.urlPosListe }}" method="post">
        {% set tokenName = 'pos-liste-%d' | format(data.idSalesOrder) %}
        <input type="hidden" name="idOrder" value="{{ data.idSalesOrder }}">
        <input type="hidden" name="token" value="{{ csrf_token(tokenName) }}">
        <input type="hidden" name="position" value="{{ data.position }}">
        <input type="hidden" id="addFromModal" name="fromModal" value="false">
        <input type="hidden" id="addPosListeSku" name="sku" value="">
    </form>

    <script>
        function multiPickingOverview(sku) {

            document.getElementById('addContainerSku').value = sku;
            document.getElementById('formOverview').submit();
        }

        function posListeForm(sku, fromModal='false')
        {
            document.getElementById('addPosListeSku').value = sku;
            document.getElementById('addFromModal').value = fromModal;
            document.getElementById('formPosListeSku').submit();
        }

        function addContainer(sku) {
            document.getElementById('addContainerSku').value = sku;
            document.getElementById('formAddContainerSku').submit();
        }
    </script>

{% endblock %}
