{% extends organism('header', '@SprykerShop:ShopUi') %}

{% define data = {
    merchant: app['merchant_name'],
    showStoreSwitches: true,
    showLangCurrencySwitches: true,
    currentCodeBucket: app.currentCodeBucket,
} %}

{% define hamburgerIcon = {
    iconName: 'shop',
    secondIconName: 'shop',
    isButton: true,
    jsClass: 'js-header__navigation-trigger js-page-layout-main--block-scroll-trigger icon--color-orange',
 }
%}

{% define close = {
    iconName: 'close',
    secondIconName: '',
    isButton: true,
    jsClass: 'js-header__navigation-trigger js-page-layout-main--block-scroll-trigger icon--color-black is-hidden',
}
%}
{% block body %}
    {% embed molecule('popup-ui-shipment-form') with {
    } only %}
    {% endembed %}

    {% if data.currentCodeBucket=='DE' %}
        <div class="{{ config.name }}__meta-navigation-top">
                <div class="container">
                    <div class="{{ config.name }}__text-left col col--lg-4">
                        <a href="https://www.globus.de/" target = "_blank" class="{{ config.name }}__link_orange">
                            <svg version="1.1" id="Icons" class="{{ config.name }}__icon_left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" fill="#7B7B7B" xml:space="preserve">
                                <title>004-tiefkuehl</title>
                                <g>
                                    <path d="M11.2,10c0,0.7-0.1,1.4-0.4,2.1c-0.3,0.7-0.6,1.2-1.1,1.7c-0.5,0.4-1.1,0.7-1.8,0.7s-1.3-0.2-1.8-0.7s-0.9-1-1.1-1.7
                                    c-0.3-0.7-0.4-1.4-0.4-2.1c0-0.7,0.1-1.4,0.4-2.1s0.6-1.2,1.1-1.7s1.1-0.7,1.8-0.7s1.3,0.2,1.8,0.6c0.5,0.4,0.9,1,1.1,1.7
                                    S11.2,9.3,11.2,10z M9.1,10c0-1.5-0.1-2.5-0.3-3S8.3,6.2,7.9,6.2c-0.2,0-0.4,0.1-0.6,0.3S6.9,7.1,6.8,7.7S6.7,9,6.7,10
                                    c0,0.8,0,1.4,0.1,1.9s0.2,0.9,0.3,1.2c0.1,0.3,0.2,0.5,0.4,0.6s0.3,0.1,0.5,0.1c0.4,0,0.7-0.3,0.9-0.8C9,12.5,9.1,11.5,9.1,10z
                                     M17,5.7L8.8,20.3H7.5l8.2-14.6H17z M19.7,15.9c0,0.7-0.1,1.4-0.4,2.1s-0.6,1.2-1.1,1.7s-1.1,0.7-1.8,0.7S15,20,14.5,19.6
                                    s-0.9-1-1.1-1.7S13,16.6,13,15.9c0-0.7,0.1-1.4,0.4-2.1s0.6-1.2,1.1-1.7c0.5-0.4,1.1-0.6,1.8-0.6s1.3,0.2,1.8,0.7
                                    c0.5,0.4,0.9,1,1.1,1.7S19.7,15.2,19.7,15.9z M17.6,15.9c0-1.5-0.1-2.5-0.3-3c-0.2-0.5-0.5-0.8-0.9-0.8c-0.2,0-0.4,0.1-0.6,0.3
                                    c-0.2,0.2-0.3,0.6-0.4,1.1c-0.1,0.6-0.2,1.4-0.2,2.4c0,0.8,0,1.4,0.1,1.9s0.2,0.9,0.3,1.2s0.2,0.5,0.4,0.6s0.3,0.2,0.5,0.2
                                    c0.4,0,0.7-0.3,0.9-0.8S17.6,17.4,17.6,15.9z"/>
                                </g>
                            </svg>
                            {{ 'my_market.link' | trans }}
                        </a>
                        <a href="https://www.globus.de/produkte/" target = "_blank" class="{{ config.name }}__link_orange">
                            <svg version="1.1" id="Icons" class="{{ config.name }}__icon_left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" fill="#7B7B7B" xml:space="preserve">
                                 <title>004-tiefkuehl</title>
                                    <path d="M20.6,11.4c0.8-2.5,0.8-4.7-0.1-5.9c-0.5-0.7-1.2-1-2.1-1c-0.2,0-0.3,0.2-0.3,0.4c0,0.2,0.1,0.4,0.3,0.4c0,0,0,0,0,0
                                    c0.7,0,1.3,0.2,1.6,0.8c0.6,0.8,0.6,2,0.5,2.9c-0.1,0.8-0.3,1.6-0.6,2.5h-0.8c0,0,0,0,0-0.1c0-0.3-0.1-0.7-0.3-0.9l-2.2-2.9
                                    c-0.4-0.5-1-0.5-1.3,0c-0.2,0.2-0.3,0.6-0.3,0.9c0,0.3,0.1,0.7,0.3,0.9l1.5,2.1h-2.9c0-0.9-0.1-1.8-0.1-2.6c0-0.2-0.1-0.3-0.3-0.4
                                    c-0.1,0-0.2,0-0.3,0c1.3-1.4,2.6-2.5,3.8-2.9c0.2-0.1,0.3-0.3,0.2-0.5c0-0.2-0.2-0.3-0.4-0.3c-0.5,0.2-1,0.4-1.4,0.7
                                    c0.1-0.6,0.1-1.2,0-1.7c-0.1-0.3-0.3-0.5-0.5-0.6c-0.3-0.1-0.9-0.1-1.5,1c0,0.1-0.1,0.1-0.1,0.2c0,0,0,0,0,0
                                    c-0.1-0.5-0.4-1.4-1.2-1.4c-0.3,0-0.5,0.1-0.6,0.4c-0.2,0.3-0.3,0.9-0.3,1.4c-0.3-0.5-0.6-0.8-0.9-0.8c-0.2,0-0.4,0.2-0.6,0.4
                                    c-0.4,0.7-0.4,2.3,0,4c-0.1,0-0.2,0-0.3,0C9.1,7.2,8.4,6.6,8.1,6.3V5.5c0.1,0,0.2-0.2,0.2-0.4V3.9c0-0.6-0.4-1.1-0.8-1.1H5.6
                                    c-0.5,0-0.8,0.5-0.8,1.1v1.1c0,0.2,0.1,0.4,0.2,0.4l0,0.9C4.7,6.7,3.6,7.7,3,9.1c-0.1,0.3-0.2,0.6-0.2,1c0,0.3,0,0.8,0.1,1.4H2
                                    l2.6,9.8h14.4l3.1-9.8H20.6z M15.9,8.7c-0.1-0.1-0.1-0.2-0.1-0.3s0-0.2,0.1-0.3C16,8,16.1,7.9,16.1,7.9c0.1,0,0.2,0,0.2,0.1l2.2,2.9
                                    c0.1,0.1,0.1,0.2,0.1,0.3c0,0,0,0,0,0.1h-0.8L15.9,8.7z M10.4,4.6C10.4,4.6,10.5,4.5,10.4,4.6c0.3-0.1,0.7,0.7,1.1,1.7
                                    c0.1,0.2,0.2,0.3,0.3,0.2c0.1,0,0.2-0.2,0.2-0.4c0,0,0,0,0-0.1c-0.1-1.4,0-2.2,0.2-2.4c0.1-0.1,0.1-0.1,0.2-0.1
                                    c0.7,0,0.7,1.9,0.7,1.9c0,0.2,0.1,0.4,0.2,0.4c0.1,0,0.3-0.1,0.3-0.2C13.9,5,14.5,3.7,15,3.9c0.1,0,0.1,0.1,0.2,0.2
                                    c0.1,0.3,0.1,1.1-0.2,1.9c-0.8,0.6-1.6,1.4-2.3,2.3c-0.7-0.1-1.4-0.1-2.1-0.1C10.1,6.4,10.2,5,10.4,4.6z M13.5,9.1
                                    c0.1,0.7,0.1,1.5,0.1,2.2H7c0-0.7,0.1-1.5,0.1-2.2C9.3,8.9,11.4,8.9,13.5,9.1z M5.4,3.9c0-0.2,0.1-0.3,0.2-0.3h1.8
                                    c0.1,0,0.2,0.1,0.2,0.3v0.7H5.4V3.9z M7.5,5.5v0.7H5.7l0-0.7H7.5z M3.4,9.7c0-0.2,0-0.3,0.1-0.5C4.1,8,5.2,7.2,5.4,7h2.2
                                    c0.2,0.1,0.7,0.5,1.2,1.1c-0.7,0-1.3,0.1-2,0.2c-0.1,0-0.2,0.2-0.3,0.3c-0.1,0.9-0.1,1.9-0.2,2.8H3.5C3.5,10.7,3.4,10.1,3.4,9.7z
                                     M12,18.3c-1.2,0-2.2-1-2.2-2.2c0-1.2,1-2.2,2.2-2.2c1.2,0,2.2,1,2.2,2.2C14.2,17.3,13.2,18.3,12,18.3z"/>
                            </svg>
                            {{ 'product.find' | trans }}
                        </a>
                        <span>
                            <img src="{{ publicPath('images/abholservice.svg') }}" class="{{ config.name }}__icon_left"/>
                            {{ 'product.buy' | trans }}
                        </span>
                    </div>
                    <div class="{{ config.name }}__text-right col col--lg-8">
                        <span>
                            <img src="{{ publicPath('images/check-circle.svg') }}" class="{{ config.name }}__icon_right"/>
                            {{ 'service.fee.customers' | trans}}
                        </span>
                        <span>
                            <img src="{{ publicPath('images/check-circle.svg') }}" class="{{ config.name }}__icon_right"/>
                            {{ 'without.contact.shop&pay' | trans }}
                        </span>
                        <span>
                            <a href="http://globus.de/payback" target = "_blank" class="{{ config.name }}__link_black">
                                 <img src="{{ publicPath('images/payback-logo.png') }}" class="{{ config.name }}__icon_right"/>
                                 {{ 'payback.upper' | trans }}
                            </a>
                        </span>
                    </div>
                </div>
            </div>
    {% endif %}

    <div class="{{ config.name }}__top">
        <div class="container">
            {% block topSection %}
                <div class="{{ config.name }}__row grid grid--no-wrap grid--justify grid--middle">
                    <div class="col col--for-truncate grid grid--no-wrap grid--middle">
                        {% block logo %}
                            {% include molecule('logo') with {
                                class: 'col col--no-shrink',
                                modifiers: modifiers | merge(['header']),
                            } only %}
                        {% endblock %}

                        <span class="{{ config.name }}__merchant">
                            {{- data.merchant -}}
                        </span>
                    </div>

                    <div class="col col--no-shrink grid grid--no-wrap grid--middle zIndex">
                        {% if data.showStoreSwitches %}
                            {% widget 'StoreSwitcherWidget' %}{% endwidget %}
                        {% endif %}

                        <a id="link-to-time-slots" class="{{ config.name }}__navigation-item link link--nav link--reset-focus link-to-time-slots">
                            <span class="icon-time"></span>
                            {{ 'header.timeslot.button' | trans }}
                        </a>

                        <a href="{{ 'page.fragen.url' | trans }}" class="link link--nav" target="_blank">
                            {% include atom('icon') with {
                                modifiers: ['big'],
                                class: 'link__icon',
                                data: {
                                    name: 'help',
                                },
                            } only %}
                            {{ 'global.help' | trans }}
                        </a>


                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ url('logout') }}" class="link link--nav">
                                {% include atom('icon') with {
                                    modifiers: ['big'],
                                    class: 'link__icon',
                                    data: {
                                        name: 'logout',
                                    },
                                } only %}
                                {{ 'customer.logout' | trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>


    {% block holder %}
        <div class="{{ config.name }}__content-holder">
            {% block middle %}
                <div class="{{ config.name }}__middle {{ config.jsName }}__middle">
                    {% block contentHolder %}
                        <div class="container {{ config.name }}__container">
                            <div
                                class="{{ config.name }}__row {{ config.name }}__navigation-top {{ config.name }}__search-bar grid grid--middle grid--justify js-suggest-search--target">
                                {% if data.showNavigation %}
                                    <div class="col is-hidden-sm-lg">
                                        <div class="{{ config.name }}__navigation-button-container">
                                            <button
                                                class="button button--with-icon button--expand button--ghost {{ config.jsName }}__navigation-trigger js-page-layout-main--block-scroll-trigger" style="box-shadow: none !important;">
                                                {% include atom('icon') with {
                                                    class: 'button__icon ' ~ config.jsName ~ '__navigation-target',
                                                    modifiers: ['big', 'with-stroke'],
                                                    data: {
                                                        name: 'shop',
                                                    },
                                                } only %}
                                                {% include atom('icon') with {
                                                    class: 'button__icon is-hidden ' ~ config.jsName ~ '__navigation-target',
                                                    modifiers: ['big', 'with-stroke'],
                                                    data: {
                                                        name: 'shop-filled',
                                                    },
                                                } only %}
                                                {{- 'global.all_products' | trans -}}
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if data.showSearchForm %}
                                    <div class="col col--expand">
                                        {% include molecule('search-form') with {
                                            class: config.name ~ '__search-form',
                                            attributes: {
                                                'data-search-id': 'desktop',
                                            },
                                        } only %}
                                    </div>
                                {% endif %}

                                {% if data.showNavigation %}
                                    <div class="col is-hidden-sm-lg">
                                        {% include organism('navigation-top') only %}
                                    </div>
                                {% endif %}
                            </div>

                            {% if data.showNavigation %}
                                <div class="{{ config.name }}__row {{ config.name }}__navigation-top is-hidden-xl-only">

                                    <button type="button" class="navigation-top-left-mobile__item tablet-style {{ hamburgerIcon.jsClass }} button--no-inner-events">
                                        {% block icon %}
                                            {% include atom('icon') with {
                                                modifiers: ['big', 'lightOrange'],
                                                data: {
                                                    name: hamburgerIcon.iconName,
                                                },
                                            } only %}
                                        {% endblock %}
                                    </button>


                                    {% block logoMobile %}
                                        <div class="{{ config.name }}__logo">
                                            {% include molecule('logo') with {
                                                modifiers: modifiers | merge(['header-mobile']),
                                                attributes: {
                                                    src: publicPath('images/spryker-logo.png'),
                                                },
                                            } only %}
                                        </div>
                                    {% endblock %}

                                    {% include molecule('navigation-top-mobile') with {
                                        attributes: {
                                            'mobile-search-trigger-button': 'js-suggest-search--trigger',
                                            'mobile-nav-trigger-button': 'js-header__navigation-trigger',
                                        },
                                    } only %}
                                </div>
                            {% endif %}
                        </div>

                        {% if data.showNavigation %}
                            <div
                                class="{{ config.name }}__navigation-main {{ config.jsName }}__navigation-target is-hidden is-hidden-sm-lg">
                                {% widget 'NavigationWidget' args ['MAIN_NAVIGATION_DESKTOP', 'navigation-header'] %}{% endwidget %}
                            </div>

                            <div
                                class="{{ config.name }}__navigation-main {{ config.jsName }}__navigation-target is-hidden is-hidden-xl-only">
                                <h4 class="{{ config.name }}__navigation-title title title--h6">
                                    {{- 'global.all_products' | trans -}}
                                </h4>
                                {% widget 'NavigationWidget' args ['MAIN_NAVIGATION', 'navigation-header-mobile'] %}{% endwidget %}
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}


    {% block services %}
        {% include molecule('sticky-element') with {
            attributes: {
                'target-class-name': config.jsName ~ '__middle',
                'class-to-toggle': config.name ~ '__middle--sticky',
                'wrapper-class-name': config.name ~ '__content-holder',
            },
        } only %}

        {% include molecule('toggler-click') with {
            attributes: {
                'trigger-class-name': config.jsName ~ '__navigation-trigger',
                'target-class-name': config.jsName ~ '__navigation-target',
            },
        } only %}
    {% endblock %}
{% endblock %}
