{% extends organism('header', '@SprykerShop:ShopUi') %}

{% define data = {
    merchant: app['merchant_name'],
    showStoreSwitches: true,
    showLangCurrencySwitches: true,
    currentCodeBucket: app.currentCodeBucket,
    storeId: app.sapStoreId,
    channelName: app.factFinderChannel,
    ffSnippetEnabled: app.ffSnippetEnabled,
    customerUserRecoData: app.customerUserRecoData,
} %}

{% define hamburgerIcon = {
    iconName: 'shop',
    secondIconName: 'shop',
    isButton: true,
    jsClass: 'js-header__navigation-trigger js-page-layout-main--block-scroll-trigger icon--color-orange',
 }
%}

{% define close = {
    iconName: 'close',
    secondIconName: '',
    isButton: true,
    jsClass: 'js-header__navigation-trigger js-page-layout-main--block-scroll-trigger icon--color-black is-hidden',
}
%}
{% block body %}
    {% set isUserLoggedIn = is_granted('IS_AUTHENTICATED_FULLY') ? "true" : "false" %}
    {% set defaultUrl = publicPath("/images/kein_bild_vorhanden.png") %}
    <input type="hidden" id="defaultUrlToTheBoxPicture" value="{{ defaultUrl }}" />
    <input type="hidden" id="ffSnippetEnabled" value="{{ data.ffSnippetEnabled }}" />
    <input type="hidden" id="isUserLoggedIn" value="{{ isUserLoggedIn }}" />
    <input type="hidden" id="customerUserRecoData" value="{{ data.customerUserRecoData }}" />
    <input type="hidden" id="ffChannelName" value="{{ data.channelName }}" />
    <input type="hidden" id="storeId" value="{{ data.storeId }}" />


    {% embed molecule('popup-ui-shipment-form') with {} only %}
    {% endembed %}

    {# ovo je samo za test primjer jer lokalno imam češku a tiket je za njemačku #}
    {#    https://web-components.fact-finder.de/documentation/4.x/category-urls#}
    {#    parameter-whitelist="page,query,filter"#}
    {#    only-search-params#}

    {% if data.currentCodeBucket == 'DE' %}
        {% include atom('communication', 'FactFinderWebComponents') with {
            data: {
                properties: {
                    component: 'url="https://globus-sb.fact-finder.de/fact-finder"
                        version="ng"
                        api="v4"
                        channel="' ~ data.channelName ~'"
                        default-query="*"
                        search-immediate="false"
                        use-url-parameters="false"
                        use-browser-history="true"
                        currency-fields="Price"'
                },
            }
        } only %}
    {% endif %}

    {% if data.currentCodeBucket=='DE' %}
        <div class="{{ config.name }}__meta-navigation-top">
                <div class="container {{ config.name }}__container-nav ">
                    <div class="{{ config.name }}__text-left col col--lg-4">
                        <div class="{{ config.name }}__link_container">
                        <a href="https://www.globus.de/" target = "_blank" class="{{ config.name }}__link_orange">
                            <svg width="21" height="21" id="Icons" class="{{ config.name }}__icon_left" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.99 8.13C13.81 5.34 12.68 2.62 10.56 0.5C8.42 2.64 7.24 5.36 7.01 8.13C8.29 8.81 9.47 9.69
                                     10.5 10.76C11.53 9.7 12.71 8.82 13.99 8.13ZM10.55 3.69C11.18 4.72 11.62 5.87 11.85 7.07C11.38 7.37 10.94
                                     7.7 10.51 8.05C10.09 7.71 9.64 7.38 9.18 7.08C9.43 5.88 9.89 4.73 10.55 3.69ZM10.5 13.95C9.68 12.7 8.64
                                     11.61 7.44 10.75C7.31 10.66 7.17 10.59 7.04 10.49C7.17 10.58 7.31 10.66 7.43 10.74C5.48 9.33 3.09 8.5 0.5
                                     8.5C0.5 13.82 3.86 18.32 8.53 19.99C9.16 20.22 9.82 20.39 10.5 20.5C11.18 20.38 11.83 20.21 12.47 19.99C17.14
                                     18.32 20.5 13.82 20.5 8.5C16.32 8.5 12.65 10.67 10.5 13.95ZM11.82 18.1C11.38 18.25 10.94 18.37 10.49 18.47C10.05
                                     18.38 9.62 18.26 9.21 18.11C5.92 16.93 3.51 14.12 2.76 10.76C3.86 11.02 4.91 11.47 5.88 12.09L5.86 12.1C5.99 12.19
                                     6.12 12.28 6.25 12.35L6.32 12.39C7.31 13.11 8.16 14 8.83 15.04L10.5 17.6L12.17 15.05C12.86 14 13.72 13.1 14.7
                                     12.39L14.77 12.34C14.86 12.29 14.95 12.23 15.04 12.17L15.03 12.15C16.01 11.5 17.1 11.02 18.24 10.75C17.49
                                     14.12 15.09 16.93 11.82 18.1ZM7.49 10.78C7.47 10.77 7.45 10.75 7.44 10.74C7.44 10.74 7.45 10.74 7.45 10.75C7.46
                                     10.76 7.47 10.77 7.49 10.78Z" fill="white"/>
                            </svg>
                            {{ 'my_market.link' | trans }}
                        </a>
                        </div>
                        <div class="{{ config.name }}__link_container">
                            <a class="{{ config.name }}__link_orange__middle">
                                <svg width="21" height="21" class="{{ config.name }}__icon_left" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.5 16.5C5.4 16.5 4.51 17.4 4.51 18.5C4.51 19.6 5.4 20.5 6.5 20.5C7.6 20.5
                                             8.5 19.6 8.5 18.5C8.5 17.4 7.6 16.5 6.5 16.5ZM0.5 1.5C0.5 2.05 0.95 2.5 1.5
                                             2.5H2.5L6.1 10.09L4.75 12.53C4.02 13.87 4.98 15.5 6.5 15.5H17.5C18.05 15.5
                                             18.5 15.05 18.5 14.5C18.5 13.95 18.05 13.5 17.5 13.5H6.5L7.6 11.5H15.05C15.8
                                             11.5 16.46 11.09 16.8 10.47L20.38 3.98C20.75 3.32 20.27 2.5 19.51 2.5H4.71L4.04
                                             1.07C3.88 0.72 3.52 0.5 3.14 0.5H1.5C0.95 0.5 0.5 0.95 0.5 1.5ZM16.5 16.5C15.4 16.5
                                             14.51 17.4 14.51 18.5C14.51 19.6 15.4 20.5 16.5 20.5C17.6 20.5 18.5 19.6 18.5 18.5C18.5
                                             17.4 17.6 16.5 16.5 16.5Z" fill="#373936"/>
                                </svg>
                            {{ 'product.buy' | trans }}
                            </a>
                        </div>
                        <div class="{{ config.name }}__link_container">
                        <a href="https://www.globus.de/produkte/" target = "_blank" class="{{ config.name }}__link_orange">
                            <svg width="21" height="21" id="Icons" class="{{ config.name }}__icon_left" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.99 8.13C13.81 5.34 12.68 2.62 10.56 0.5C8.42 2.64 7.24 5.36 7.01 8.13C8.29
                                 8.81 9.47 9.69 10.5 10.76C11.53 9.7 12.71 8.82 13.99 8.13ZM10.55 3.69C11.18 4.72 11.62
                                 5.87 11.85 7.07C11.38 7.37 10.94 7.7 10.51 8.05C10.09 7.71 9.64 7.38 9.18 7.08C9.43 5.88
                                 9.89 4.73 10.55 3.69ZM10.5 13.95C9.68 12.7 8.64 11.61 7.44 10.75C7.31 10.66 7.17 10.59 7.04
                                 10.49C7.17 10.58 7.31 10.66 7.43 10.74C5.48 9.33 3.09 8.5 0.5 8.5C0.5 13.82 3.86 18.32 8.53
                                 19.99C9.16 20.22 9.82 20.39 10.5 20.5C11.18 20.38 11.83 20.21 12.47 19.99C17.14 18.32 20.5
                                 13.82 20.5 8.5C16.32 8.5 12.65 10.67 10.5 13.95ZM11.82 18.1C11.38 18.25 10.94 18.37 10.49
                                 18.47C10.05 18.38 9.62 18.26 9.21 18.11C5.92 16.93 3.51 14.12 2.76 10.76C3.86 11.02 4.91
                                 11.47 5.88 12.09L5.86 12.1C5.99 12.19 6.12 12.28 6.25 12.35L6.32 12.39C7.31 13.11 8.16 14
                                 8.83 15.04L10.5 17.6L12.17 15.05C12.86 14 13.72 13.1 14.7 12.39L14.77 12.34C14.86 12.29 14.95
                                 12.23 15.04 12.17L15.03 12.15C16.01 11.5 17.1 11.02 18.24 10.75C17.49 14.12 15.09 16.93 11.82
                                 18.1ZM7.49 10.78C7.47 10.77 7.45 10.75 7.44 10.74C7.44 10.74 7.45 10.74 7.45 10.75C7.46 10.76
                                 7.47 10.77 7.49 10.78Z" fill="white"/>
                            </svg>
                            {{ 'product.find' | trans }}
                        </a>
                        </div>
                        <div class="{{ config.name }}__link_container">
                            <a href="http://globus.de/payback" target = "_blank" class="{{ config.name }}__link_black">
                                 <img src="{{ publicPath('images/payback-logo.png') }}" class="{{ config.name }}__icon_right"/>
                                 {{ 'payback.upper' | trans }}
                            </a>
                        </div>
                    </div>
                    <div class="{{ config.name }}__text-right">
                        <span>
                            <img src="{{ publicPath('images/check-circle.svg') }}" class="{{ config.name }}__icon_right"/>
                            {{ 'service.fee.customers' | trans}}
                        </span>
                        <span>
                            <img src="{{ publicPath('images/check-circle.svg') }}" class="{{ config.name }}__icon_right"/>
                            {{ 'without.contact.shop&pay' | trans }}
                        </span>
                    </div>
                </div>
            </div>
    {% endif %}

    <div class="{{ config.name }}__top">
        <div class="container">
            {% block topSection %}
                <div class="{{ config.name }}__row grid grid--no-wrap grid--justify grid--middle">
                    <div class="{{ config.name }}__logo-container col col--md-1">
                    <div class="col col--for-truncate grid grid--no-wrap grid--middle {{ config.name }}__logo-content">
                        {% block logo %}
                            {% include molecule('logo') with {
                                class: 'col col--no-shrink',
                                modifiers: modifiers | merge(['header']),
                            } only %}
                        {% endblock %}
                          {% if app.currentCodeBucket == 'DE' %}
                              <a class="{{ config.name }}__logo_text_link" href="/">
                                  <div class="{{ config.name }}__logo-text">{{ 'footer.globus' | trans }}</div>
                              </a>
                        {% endif %}
                    </div>
                    </div>
                    <div class="col col--no-shrink grid grid--no-wrap grid--middle zIndex">
                        {% if data.showStoreSwitches %}
                            {% widget 'StoreSwitcherWidget' %}{% endwidget %}
                        {% endif %}

                        {% if app.currentCodeBucket == 'DE' %}
                            <a id="link-to-time-slots" class="{{ config.name }}__navigation-item link link--nav link--reset-focus link-to-time-slots">
                                {{ 'header.timeslot.button' | trans }}
                            </a>
                        {% else %}
                            <a id="link-to-time-slots" class="{{ config.name }}__navigation-item link link--nav-CZ link--reset-focus link-to-time-slots">
                                {{ 'header.timeslot.button' | trans }}
                            </a>
                        {% endif %}
                        {% if app.currentCodeBucket == 'DE' %}
                            <a href="{{ 'page.fragen.url' | trans }}" class="link link--nav" target="_blank">
                                {{ 'global.help' | trans }}
                            </a>
                        {% else %}
                            <a href="{{ 'page.fragen.url' | trans }}" class="link link--nav-CZ">
                                {{ 'global.help' | trans }}
                            </a>
                        {% endif %}
                        {% if data.showNavigation %}
                                    <div class="col is-hidden-sm-lg">
                                        {% include organism('navigation-top') only %}
                                    </div>
                        {% endif %}

                    </div>
                </div>
            {% endblock %}
        </div>
    </div>


    {% block holder %}
        <div class="{{ config.name }}__content-holder">
            {% block middle %}
                <div class="{{ config.name }}__middle {{ config.jsName }}__middle">
                    {% block contentHolder %}
                        <div class="container {{ config.name }}__container">

                            {% if data.showNavigation %}
                                <div
                                    class="{{ config.name }}__navigation-main{{ app.currentCodeBucket == 'DE' ? '' : '-CZ' }} {{ config.jsName }}__navigation-target is-hidden is-hidden-sm-lg">
                                    {% block mainNavigation %}
                                        {% cms_slot 'slt-desktop-header' %}
                                    {% endblock %}
                                </div>
                            {% endif %}

                            {% if data.showNavigation %}
                                <div class="{{ config.name }}__row {{ config.name }}__navigation-top is-hidden-xl-only {{ config.name }}__top-nav">
                                    <button type="button" class="navigation-top-left-mobile__item tablet-style {{ hamburgerIcon.jsClass }} button--no-inner-events">
                                        {% block icon %}
                                                {% if app.currentCodeBucket == 'DE' %}
                                                            {% include atom('icon') with {
                                                                modifiers: ['big', 'lightOrange'],
                                                                data: {
                                                                    name: hamburgerIcon.iconName,
                                                                },
                                                            } only %}
                                                {% else %}
                                                            {% include atom('icon') with {
                                                                modifiers: ['big', 'color-green'],
                                                                data: {
                                                                    name: hamburgerIcon.iconName,
                                                                },
                                                            } only %}
                                                {% endif %}
                                            {% endblock %}
                                    </button>
                                    {% block logoMobile %}
                                        {% if app.currentCodeBucket == 'DE' %}
                                            <div class="{{ config.name }}__logo">
                                                {% include molecule('logo') with {
                                                    modifiers: modifiers | merge(['header-mobile']),
                                                    attributes: {
                                                        src: publicPath('images/logo-new-globus.png'),
                                                    },
                                                } only %}
                                                <a class="{{ config.name }}__logo_text_link" href="/">
                                                    <div class="{{ config.name }}__logo-text">{{ 'footer.globus' | trans }}</div>
                                                </a>
                                            </div>
                                        {% else %}
                                            <div class="{{ config.name }}__logo-CZ">
                                                {% include molecule('logo') with {
                                                    modifiers: modifiers | merge(['header-mobile-CZ']),
                                                    attributes: {
                                                        src: publicPath('images/iglobuscz_logo.png'),
                                                    },
                                                } only %}
                                            </div>
                                        {% endif %}

                                    {% endblock %}
                                    {% include molecule('navigation-top-mobile') with {
                                        attributes: {
                                            'mobile-search-trigger-button': 'js-suggest-search--trigger',
                                            'mobile-nav-trigger-button': 'js-header__navigation-trigger',
                                        },
                                    } only %}
                                </div>
                            {% endif %}

                            <div class="{{ config.name }}__row {{ config.name }}__navigation-top {{ config.name }}__search-bar grid grid--middle grid--justify js-suggest-search--target">
                                {% if data.showNavigation %}

                                    <div class="{{ config.name }}__all-products-button">
                                        <button class="button button--global-products button--expand {{ app.currentCodeBucket == 'DE' ? '' : 'button--all-products-CZ' }} {{ config.jsName }}__navigation-trigger js-page-layout-main--block-scroll-trigger button__all-products" style="box-shadow: none !important;">
                                            {% include atom('icon') with {
                                                class: 'button__icon ' ~ config.jsName ~ '__navigation-target',
                                                modifiers: ['big', 'with-stroke', 'header'],
                                                data: {
                                                    name: 'shop',
                                                },
                                            } only %}
                                            {% include atom('icon') with {
                                                class: 'button__icon is-hidden ' ~ config.jsName ~ '__navigation-target',
                                                modifiers: ['big', 'with-stroke', 'header'],
                                                data: {
                                                    name: 'shop-filled',
                                                },
                                            } only %}
                                            <div class="{{ config.name }}__products-button-text">{{- 'global.all_products' | trans -}}</div>
                                        </button>
                                    </div>
                                {% endif %}

                                {% if data.showSearchForm %}
                                    <div class="col col--expand col--sm-7">
                                        {% include molecule('search-form') with {
                                            class: config.name ~ '__search-form',
                                            attributes: {
                                                'data-search-id': 'desktop',
                                            },
                                            data: {
                                                merchant: data.merchant,
                                            }
                                        } only %}
                                    </div>
                                {% endif %}
                            </div>

                        </div>

                        {% if data.showNavigation %}
                            <div
                                class="{{ config.name }}__navigation-main {{ config.jsName }}__navigation-target is-hidden is-hidden-xl-only">
                                <h4 class="{{ config.name }}__navigation-title title title--{{ app.currentCodeBucket == 'DE' ? 'h6' : 'heading-CZ' }}">
                                    {{- 'global.all_products' | trans -}}
                                    {% block mobileNavigation %}
                                        {% cms_slot 'slt-mobile-header' %}
                                    {% endblock %}
                                </h4>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}


    {% block services %}
        {% include molecule('sticky-element') with {
            attributes: {
                'target-class-name': config.jsName ~ '__middle',
                'class-to-toggle': config.name ~ '__middle--sticky',
                'wrapper-class-name': config.name ~ '__content-holder',
            },
        } only %}

        {% include molecule('toggler-click') with {
            attributes: {
                'trigger-class-name': config.jsName ~ '__navigation-trigger',
                'target-class-name': config.jsName ~ '__navigation-target',
            },
        } only %}
        {% if data.currentCodeBucket=='DE' %}
            <script language="JavaScript">
                    let url = "{{ path('globus-cookie-login') }}";
                    fetch(url, {method: 'GET'})
                        .then(response => response.json())
                        .then(parsedResponse => {
                            let uid = JSON.parse(parsedResponse).UID;
                            if (uid == "0") {
                                return;
                            } else if (uid == "3") {
                                document.location.reload();
                            }
                            else {
                                window.location.href = '/logout';
                            }
                        }).catch(error => {
                    });
            </script>
        {% endif %}
    {% endblock %}
{% endblock %}
