{% extends model('template') %}

{% define data = {
    locale: app.locale | slice(0, 2),
    title: 'global.shop' | trans,
    metaTitle: 'global.shop' | trans,
    metaDescription: 'globus.metadata' | trans,
    metaKeywords: '',
    markt: app.store,
    googleTagMangerId: app.googleTagManagerId,
    cookieBotId: app.domainGroupId,
    currentCookieStore: app.currentStoreCookie,
    currentCodeBucket: app.currentCodeBucket,
} %}

{% block template %}
    <!doctype html>
    <html lang="{{ data.locale }}">
    <head>
        <script id="Cookiebot" src="https://consent.cookiebot.eu/uc.js" data-cbid="{{ data.cookieBotId }}" type="text/javascript" async></script>

        {% if data.currentCodeBucket == 'CZ' %}
            {% include molecule('webchat-cz') only %}
        {% endif %}

        {% if data.currentCookieStore == '' %}
            {% set market = 'NO_STORE' %}
        {% else %}
            {% set market = data.markt %}
        {% endif %}

        <!-- Fact finder head -->
        <!-- Do not change the order of the scripts to ensure all required polyfills are loaded before our script -->
        {#<script src="../node_modules/ff-web-components/dist/vendor/custom-elements-es5-adapter.js"></script>
        <script src="../node_modules/ff-web-components/dist/vendor/webcomponents-loader.js"></script>
        <script defer src="../node_modules/ff-web-components/dist/bundle.js"></script>#}
      {#  <script src="{{ publicPath('js/custom-elements-es5-adapter.js') }}"></script>
        <script src="{{ publicPath('js/webcomponents-loader.js') }}"></script>
        <script defer src="{{ publicPath('js/bundle.js') }}"></script>#}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <script>
                window.dataLayer = window.dataLayer || [];
                window.dataLayer.push({
                    'isloggedin': 'true',
                    'markt': '{{ market }}'
                });
            </script>
        {% else %}
            <script>
                window.dataLayer = window.dataLayer || [];
                window.dataLayer.push({
                    'isloggedin': 'false',
                    'markt': '{{ market }}'
                });
            </script>
        {% endif %}
        <!-- Google Tag Manager -->
        <script type="text/javascript" data-cookieconsent="statistics">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{ data.googleTagMangerId }}');
        </script>
        <!-- End Google Tag Manager -->

        {% block meta %}
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
            <meta name="title" content="{% block metaTitle %}{{ data.metaTitle }}{% endblock %}" />
            <meta name="description" content="{% block metaDescription %}{{ data.metaDescription }}{% endblock %}" />
            <meta name="keywords" content="{% block metaKeywords %}{{ data.metaKeywords }}{% endblock %}" />
            {% if data.currentCodeBucket == 'DE' %}
                <link rel="shortcut icon" href="/media/technisch/img/favicon/globus-new.png" type="image/x-icon" />
            {% else %}
                <link rel="shortcut icon" href="/media/technisch/img/favicon/apple-touch-icon.png" type="image/x-icon" />
            {% endif  %}
            <meta name="generator" content="spryker" />
        {% endblock %}

        {% block headStyles %}
            <link rel="stylesheet" href="{{publicPath('css/yves_default.app.css')}}" />
        {% endblock %}

        {% block headScripts %}
            <script type="text/javascript">
                if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
                    document.write(
                        '<script nomodule type="application/javascript" src="' + '{{publicPath('js/yves_default.runtime.legacy.js')}}' + '"><\/script>'
                    );
                } else {
                    document.write(
                        '<script nomodule type="application/javascript" src="' + '{{publicPath('js/yves_default.runtime.legacy.js')}}' + '" crossorigin><\/script>'
                    );
                }
            </script>
            <script type="module" src="{{publicPath('js/yves_default.runtime.esm.js')}}" crossorigin></script>
        {% endblock %}

        <title>{% block headTitle %}{{ data.title }}{% endblock %}</title>
    </head>
    <body
        {%- if block('class') is not empty %} class="{%- block class -%}{%- endblock -%}"{%- endif %}
        {%- block attributes -%}{{qa('page')}}{%- endblock -%}>
    {% include molecule('outside-widgets') only %}

    {{parent()}}

    {% include molecule('check-touch') only %}

    {% block footerScripts %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ data.googleTagMangerId }}"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <script type="text/javascript">
            if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
                document.write(
                    '<script nomodule type="application\/javascript" src="' + '{{ publicPath('js/yves_default.vendor.legacy.js') }}' + '"><\/script>' +
                    '<script nomodule type="application\/javascript" src="' + '{{publicPath('js/yves_default.app.legacy.js')}}' + '"><\/script>'
                );
            } else {
                document.write(
                    '<script nomodule type="application\/javascript" src="' + '{{publicPath('js/yves_default.vendor.legacy.js')}}' + '" crossorigin><\/script>' +
                    '<script nomodule type="application\/javascript" src="' + '{{publicPath('js/yves_default.app.legacy.js')}}' + '" crossorigin><\/script>'
                );
            }
        </script>

        <script type="module" src="{{publicPath('js/yves_default.vendor.esm.js')}}" crossorigin></script>
        <script type="module" src="{{publicPath('js/yves_default.app.esm.js')}}" crossorigin></script>
    {% endblock %}

    </body>
    </html>
{% endblock %}
