{% extends view('error403', '@SprykerShop:ErrorPage') %}

{% block class -%}
    {{ parent() }} page-layout-main--error
{%- endblock %}

{% define data = {
    buttonClass: 'button',
    fieldName: '',
    fieldValue: '',
    homePage: '',
    customerContact: 'https://globus.zendesk.com/hc/de/requests/new',
    customerContact_CZ: 'mailto:info@globus.cz',
} %}

{% block pageInfo %}{% endblock %}

{% block content %}
    {% set link -%}
        <a href="{{ path('home') }}" class="link">{{ 'error_page.home_link' | trans }}</a>
    {%- endset %}
    <div>
        {% if app.currentCodeBucket == 'DE' %}
            <h1 class="title title--general">{{ 'error_page.title' | trans }}</h1>
        {% else %}
            <h1 class="title title--general title--heading-CZ">{{ 'error_page.title' | trans }}</h1>
        {% endif %}
        <p class="title title--general spacing-bottom--big" style="margin-top: 2%">{{ 'error_page.second_title' | trans }}</p>
        <p style="margin-top: 5%">{{'error_page.text' | trans}}</p>
        {% if app.currentCodeBucket == 'DE' %}
            <a class="{{ data.buttonClass }}" style="margin-top: 2%" href="/">
                {{ 'error_page.button_home' | trans}}
            </a>
        {% else %}
            <a class="{{ data.buttonClass }} {{ data.buttonClass }}--font-CZ {{ data.buttonClass }}--backgroundcolor-CZ" style="margin-top: 2%" href="/">
                {{ 'error_page.button_home' | trans}}
            </a>
        {% endif %}
        <p style="margin-top: 2%">{{'error_page.second_text' | trans}}</p>
        <p>{{'error_page.third_text' | trans}}</p>
        {% if app.currentCodeBucket == 'DE' %}
            <a class="{{ data.buttonClass }}" style="margin-top: 2%" href="{{ data.customerContact }}" target="_blank">
                {{ 'error_page.button_contact' | trans}}
            </a>
        {% else %}
            <a class="{{ data.buttonClass }} {{ data.buttonClass }}--font-CZ {{ data.buttonClass }}--backgroundcolor-CZ" style="margin-top: 2%" href="{{ data.customerContact_CZ }}" target="_blank">
                {{ 'error_page.button_contact' | trans}}
            </a>
        {% endif %}
    </div>
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            'event': 'error',
            'errorType': '403 - Forbidden'
        });
    </script>
{% endblock %}

{% block contentClass -%}
    page-layout-main__main
{%- endblock %}
