{% extends model('component') %}

{% define config = {
    name: 'nutritional-information',
} %}

{% define data = {
    attributes: required,
    isNutritionalInformationContainsReferenceAmount: required,
    triggerClassName: ''
} %}

{% block class -%}
    {{ parent() }}
{%- endblock %}

{% block body %}
                <div class="is-scrollable-x spacing-bottom">
                    <table class="table table--expand">
                        <thead>
                        <th class="{{ config.name }}__col">Nährwerte</th>
                        <th class="{{ config.name }}__col">
                            {{ 'product.info.nutritional.information.prefix' | trans }} 100 g/ml
                        </th>
                        </thead>
                        <tbody>
                        {% if (data.attributes['energiekjp100gml'] is defined and data.attributes['energiekcalp100gml'] is defined) %}
                            <tr class="table__row table__row--with-border">
                                <td>
                                    <strong>{{ 'product.info.condensing' | trans }}</strong>
                                </td>
                                <td>{{ data.attributes['energiekcalp100gml'] }}/{{ data.attributes['energiekjp100gml'] }}  </td>
                            </tr>
                        {% endif %}
                        {% if (data.attributes['fettp100gml'] is defined) %}
                        <tr class="table__row table__row--with-border">
                            <td>
                                <strong>{{ 'product.info.fat' | trans }}</strong>
                            </td>
                            <td>{{ data.attributes['fettp100gml'] }}</td>
                        </tr>
                        {% endif %}
                        {%  if (data.attributes['fettefettgsaeurenp100gml'] is defined) %}
                            <tr class="table__row table__row--additional">
                                <td>
                                    - {{ 'product.info.saturated.fatty.acids' | trans }}
                                </td>
                                <td>{{ data.attributes['fettefettgsaeurenp100gml'] }}</td>
                            </tr>
                        {% endif %}
                        {% if (data.attributes['kohlp100gml'] is defined) %}
                            <tr class="table__row table__row--with-border">
                                <td>
                                    <strong>{{ 'product.info.carbohydrates' | trans }}</strong>
                                </td>
                                <td>{{ data.attributes['kohlp100gml'] }}</td>
                            </tr>
                            {% if (data.attributes['kohlzkrp100gml'] is defined) %}
                                <tr class="table__row table__row--additional">
                                    <td>
                                        - {{ 'product.info.sugar' | trans }}
                                    </td>
                                    <td>{{ data.attributes['kohlzkrp100gml'] }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                        {% if (data.attributes['eiweissp100gml'] is defined) %}
                            <tr class="table__row table__row--with-border">
                                <td>
                                    <strong>{{ 'product.info.protein' | trans }}</strong>
                                </td>
                                <td>{{ data.attributes['eiweissp100gml'] }}</td>
                            </tr>
                        {% endif %}
                        {% if (data.attributes['salz100gml'] is defined) %}
                            <tr class="table__row table__row--with-border">
                                <td>
                                    <strong>{{ 'product.info.salt' | trans }}</strong>
                                </td>
                                <td>{{ data.attributes['salz100gml'] }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
{% endblock %}
