{% extends model('component') %}

{% define config = {
    name: 'nutritional-information',
} %}

{% define data = {
    attributes: required,
    isNutritionalInformationContainsReferenceAmount: required,
    triggerClassName: ''
} %}

{% block class -%}
    {{ parent() }}
{%- endblock %}

{% block body %}
                <div class="is-scrollable-x spacing-bottom col--lg-6 col--md-6 col--sm-12 col--xs-12">
                    <table class="table table--expand">
                        <thead>
                        <th class="{{ config.name }}__col">{{ 'product.info.additional.nutritionalInfo' | trans }}</th>
                        <th class="{{ config.name }}__col">
                            {{ 'product.info.nutritional.information.prefix' | trans }}
                            {% if data.attributes['referenceUnit'] is defined %}
                                {{ data.attributes['referenceUnit'] }}
                            {% else %}
                                100 g/ml
                            {% endif %}
                        </th>
                        </thead>
                        <tbody>
                        {% if (data.attributes['energiekjp100gml'] is defined and data.attributes['energiekcalp100gml'] is defined) %}
                            {% if app.currentCodeBucket == 'DE' %}
                                <tr class="table__row table__row--with-border">
                                    <td>
                                        <strong>{{ 'product.info.condensing' | trans }}</strong>
                                    </td>
                                    <td>{{ data.attributes['energiekjp100gml'] }}/{{ data.attributes['energiekcalp100gml'] }}  </td>
                                </tr>
                            {% else %}
                                <tr class="table__row table__row--with-border">
                                    <td>
                                        <strong>{{ 'product.info.condensing' | trans }}</strong>
                                    </td>
                                    <td>{{ data.attributes['energiekjp100gml'] }} KJ/{{ data.attributes['energiekcalp100gml'] }} kcal</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                        {% if (data.attributes['fettp100gml'] is defined) %}
                        <tr class="table__row table__row--with-border">
                            <td>
                                <strong>{{ 'product.info.fat' | trans }}</strong>
                            </td>
                            <td>{{ data.attributes['fettp100gml'] }}</td>
                        </tr>
                        {% endif %}
                        {%  if (data.attributes['fettefettgsaeurenp100gml'] is defined) %}
                            <tr class="table__row table__row--additional">
                                <td>
                                    - {{ 'product.info.saturated.fatty.acids' | trans }}
                                </td>
                                <td>{{ data.attributes['fettefettgsaeurenp100gml'] }}</td>
                            </tr>
                        {% endif %}
                        {%  if (data.attributes['fettefettungsaeurenp100gml'] is defined) %}
                            <tr class="table__row table__row--additional">
                                <td>
                                    - {{ 'product.info.additional.nutritionalInfo.monounsaturated' | trans }}
                                </td>
                                <td>{{ data.attributes['fettefettungsaeurenp100gml'] }}</td>
                            </tr>
                        {% endif %}
                        {%  if (data.attributes['fettefettmgsaeurenp100gml'] is defined) %}
                            <tr class="table__row table__row--additional">
                                <td>
                                    - {{ 'product.info.additional.nutritionalInfo.polyunsaturated' | trans }}
                                </td>
                                <td>{{ data.attributes['fettefettmgsaeurenp100gml'] }}</td>
                            </tr>
                        {% endif %}
                        {% if (data.attributes['kohlp100gml'] is defined) %}
                            <tr class="table__row table__row--with-border">
                                <td>
                                    <strong>{{ 'product.info.carbohydrates' | trans }}</strong>
                                </td>
                                <td>{{ data.attributes['kohlp100gml'] }}</td>
                            </tr>
                        {% endif %}
                        {% if (data.attributes['kohlzkrp100gml'] is defined) %}
                            <tr class="table__row table__row--additional">
                                <td>
                                    - {{ 'product.info.sugar' | trans }}
                                </td>
                                <td>{{ data.attributes['kohlzkrp100gml'] }}</td>
                            </tr>
                        {% endif %}
                        {% if (data.attributes['kohlhyalkp100gml'] is defined) %}
                            <tr class="table__row table__row--additional">
                                <td>
                                    - {{ 'product.info.additional.nutritionalInfo.polyhydric.alcohols' | trans }}
                                </td>
                                <td>{{ data.attributes['kohlhyalkp100gml'] }}</td>
                            </tr>
                        {% endif %}
                        {% if (data.attributes['kohlstrp100gml'] is defined) %}
                            <tr class="table__row table__row--additional">
                                <td>
                                    - {{ 'product.info.additional.nutritionalInfo.starch' | trans }}
                                </td>
                                <td>{{ data.attributes['kohlstrp100gml'] }}</td>
                            </tr>
                        {% endif %}
                        {% if (data.attributes['eiweissp100gml'] is defined) %}
                            <tr class="table__row table__row--with-border">
                                <td>
                                    <strong>{{ 'product.info.protein' | trans }}</strong>
                                </td>
                                <td>{{ data.attributes['eiweissp100gml'] }}</td>
                            </tr>
                        {% endif %}
                        {% if (data.attributes['salz100gml'] is defined) %}
                            <tr class="table__row table__row--with-border">
                                <td>
                                    <strong>{{ 'product.info.salt' | trans }}</strong>
                                </td>
                                <td>{{ data.attributes['salz100gml'] }}</td>
                            </tr>
                        {% endif %}
                        {% if app.currentCodeBucket == 'CZ' %}
                            {% if (data.attributes['ballaststoffe'] is defined) %}
                                <tr class="table__row table__row--with-border">
                                    <td>
                                        <strong>{{ 'product.info.fiber' | trans }}</strong>
                                    </td>
                                    <td>{{ data.attributes['ballaststoffe'] }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
{% endblock %}
