{% extends model('component') %}

{% define config = {
    name: 'order-item',
} %}

{% define data = {
    reference: required,
    productsCount: required,
    date: '',
    deadline: required,
    dayOfTheWeek: '',
    detailPage: false,
    isSubstitutionAllowed: false,
    isDepositAllowed: false,
    isTransportboxEnabled: false,
    orderReference: '',
    fullName: data.fullName,
    numberOfOrders: '',
    meinGlobusCart: '',
} %}

{% block body %}
    <div class="{{ component.renderClass('box', modifiers) }} order-item-pickup">
        {% if data.detailPage %}
            <div class="header-content">
                <div class="icon-substitution">
                    {% if data.isSubstitutionAllowed %}
                        {% include atom('icon') with {
                            modifiers: ['big'],
                            class: 'custom__icon',
                            data: {
                                name: 'icon-substitutes',
                            },
                        } only %}
                        {% else %}
                            {% include atom('icon') with {
                                modifiers: ['big'],
                                class: 'custom__icon',
                                data: {
                                    name: 'icon-not-substitutes',
                                },
                            } only %}
                    {% endif %}
                </div>


                {% if data.isDepositAllowed %}
                    <div class="greenIcon" >
                        {% include atom('icon') with {
                            modifiers: ['big'],
                            class: 'custom__icon',
                            data: {
                                name: 'icon-green',
                            },
                        } only %}
                    </div>
                {% endif %}

                <div>
                    {% if data.collectNumber %}
                        <div class="{{ config.name }}__collect">
                            {{ 'Collect Number' | trans }}: {{ data.collectNumber }}
                        </div>
                    {% endif %}
                </div>
                <div>
                    {% if data.orderReference %}
                        <div class="{{ config.name }}__order-reference">
                            {{ data.orderReference }}
                        </div>
                    {% endif %}
                </div>
                <div class="{{ config.name }}__time">
                    {% if data.date %}
                        {{ data.dayOfTheWeek }} {{ data.date | replace('/', '.') }}
                    {% endif %}
                    <span>{{ data.deadline }}</span>
                </div>
                <div class="{{ config.name }}__customer-info">
                    {% if data.meinGlobusCart %}
                        <p>
                            {{ data.fullName }} - MG
                        </p>
                    {% else %}
                        <p>
                            {{ data.fullName }}
                        </p>
                    {% endif %}

                    {% if data.numberOfOrders < 2 %}
                        <p>
                            {{ data.numberOfOrders }} - {{ 'first.customer' | trans }}
                        </p>
                    {% else %}
                        <p>
                            {{ data.numberOfOrders }}
                        </p>
                    {% endif %}
                </div>
                <div class="hr-line-solid"></div>

                {% block additionalFields %}{% endblock %}
            </div>

        {% else %}
            <div>
                <div>
                    {% if data.collectNumber %}
                        <div class="{{ config.name }}__collect">
                            {{ 'Collect Number' | trans }}: {{ data.collectNumber }}
                        </div>
                    {% endif %}
                </div>
                <div>
                    {% if data.reference %}
                        <div>
                            {{ 'picker.picking.order.reference' | trans }}: {{ data.reference }}
                        </div>
                    {% endif %}
                </div>
                <div class="hr-line-solid"></div>
                <div class="{{ config.name }}__time">
                    {% if data.date %}
                        {{ data.dayOfTheWeek }} {{ data.date | replace('/', '.') }}<br />
                    {% endif %}
                    {{ data.deadline }}
                </div>

            </div>
            {% block additionalContent %}{% endblock %}
        {% endif %}

    </div>
{% endblock %}
