<style>
    table, th, td {
        border: 1px solid black;
    }
    table {
        border-collapse: collapse;
    }
</style>
<div>
    <h2>{{ mail.type }}</h2>
    <table>
        <thead>
            <tr>
                <th>store</th>
                <th>sapnumber</th>
                <th>gtin</th>
                <th>price</th>
                <th>pseudoprice</th>
                <th>promotion</th>
                <th>promotionstart</th>
                <th>promotionend</th>
            </tr>
        </thead>
        {% for data in mail.additionalData %}
            <tr>
                <td>{{ data.store }}</td>
                <td>{{ data.sapnumber }}</td>
                <td>{{ data.gtin }}</td>
                <td>{{ data.price }}</td>
                <td>{{ data.pseudoprice }}</td>
                <td>{{ data.promotion }}</td>
                <td>{{ data.promotionstart }}</td>
                <td>{{ data.promotionend }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
