{% extends model('component') %}

{% define config = {
    name: 'copyright-build-with',
} %}

{% block body %}


    <div style="margin-right:10px ">
        <a class="{{ config.name }}__contact-info-item" href="{{ 'page.privacy.url' | trans }}" target="_blank" style="text-decoration: none;border-right: 1px solid gray;padding-right: 10px">
            {{ 'page.privacy.title' | trans }}
        </a>
    </div>

    <div style="padding-right: 10px;">
        <a class="{{ config.name }}__contact-info-item" href="{{ 'page.terms.url' | trans }}" target="_blank" style="text-decoration: none;border-right: 1px solid gray;padding-right: 10px">
            {{ 'page.terms.title' | trans }}
        </a>
    </div>

    <div style="padding-right: 10px;">
        <a class="{{ config.name }}__contact-info-item" href="{{ 'page.imprint.url' | trans }}" target="_blank" style="text-decoration: none;border-right: 1px solid gray;padding-right: 10px">
            {{ 'page.imprint.title' | trans }}
        </a>
    </div>

    <div class="div-footer-right-text">
        <p style="margin:0px">Alle Preise verstehen sich inklusive Mehrwertsteuer und zzgl. Servicegebühr</p>
    </div>



{% endblock %}
