{% extends model('component') %}

{% define config = {
    name: 'ingredients-and-allergens',
    nameopt: 'tags-and-product-description',
} %}

{% define data = {
    productAttributes: required,
    triggerClassName: 'active',
    zutatenText: ''
} %}

{% block class -%}
    {{ parent() }}
{%- endblock %}

{% block body %}
            {% if data.productAttributes['zutaten'] is defined %}
                <div class="spacing-bottom spacing-bottom--bigger"><strong>{{ 'product.info.ingredients' | trans }}:</strong> {{ data.zutatenText }}</div>
            {% endif %}

            {% if data.productAttributes['entallerg'] is defined %}
                <div class="spacing-bottom spacing-bottom--bigger"><strong>{{ 'product.info.allergens.contained' | trans }}:</strong> {{ data.productAttributes['entallerg'] }}</div>
            {% endif %}

            {% if data.productAttributes['mentallerg'] is defined %}
                <div class="spacing-bottom spacing-bottom--bigger"><strong>{{ 'product.info.allergens.contained.possible' | trans }}:</strong> {{ data.productAttributes['mentallerg'] }}</div>
            {% endif %}
{% endblock %}
