{% extends model('component') %}

{% define config = {
    name: 'money-price',
    tag: 'span',
} %}

{% define data = {
    amount: required,
    originalAmount: null,
    noPriceText: '---',
    calculatedPrice: null,
    itemWeight: null,
    prefix: null,
    promotion: '',
    currencySymbol: app.currentCurrencySymbol,
    currentCodeBucket: app.currentCodeBucket,
} %}

{% block body %}
         {% if data.itemWeight is not null -%}
            {{ data.calculatedPrice }}
        {%- else -%}
            {% if data.originalAmount is not empty and data.originalAmount > data.amount -%}
                <div class="{{ component.renderClass(config.name ~ '__price-container', modifiers) }}">
                    {% if data.currentCodeBucket == 'DE' %}
                        {% if (data.promotion | trim) == 'UVP' %}
                            <span class="{{ config.name }}__uvp">{{ data.promotion }}</span>
                        {% endif %}
                    {% else %}
                        {% if (data.promotion | trim) == 'UVP' %}
                            <span class="{{ config.name }}__uvp-cz">{{ data.promotion }}</span>
                        {% endif %}
                    {% endif %}
                    <span class="{{ config.name }}__amount {{ config.name }}__amount--original">{{ data.originalAmount | money }}</span>
                </div>
            {%- endif -%}

            {%- if data.amount is empty -%}
                {{ data.noPriceText }}
            {%- else -%}
                {% if data.originalAmount is not empty or (data.promotion | trim) != '' -%}
                    <span class="{{ component.renderClass(config.name ~ '__amount-red', modifiers) }} {{ config.name }}__amount-red">
                        {{ data.prefix }}{{ data.amount | money }}
                    </span>
                {%- else -%}
                    <span class="{{ component.renderClass(config.name ~ '__amount', modifiers) }}">
                        {{ data.prefix }}{{ data.amount | money }}
                    </span>

                {%- endif -%}

            {%- endif -%}

        {%- endif -%}

{% endblock %}
