{% extends model('component') %}

{% define config = {
    name: 'filter-enumeration',
    tag: 'filter-enumeration'
} %}

{% define data = {
    filter: null,
    isMultiSelect: null,
    parentJsName: '',
} %}

{% set isMultiSelect = data.isMultiSelect is null ? (data.filter.config.isMultiValued | default(false)) : false %}
{% set activeValues = isMultiSelect ? data.filter.activeValue : [data.filter.activeValue] %}
{% set inputComponent = atom('checkbox') %}
{% set label =  ('product.filter.' ~ data.filter.name | lower) | trans %}
{% set description = (label is same as('supplier')  ? 'Marke' : 'Kennzeichen' ) | trans %}
{% block body %}
    <ul class="menu">
        {% if label is same as('supplier') %}
            <h3 class="headline">{{ 'product.filter.supplier.properties' | trans }}</h3>
            {% elseif label is same as('Label') %}
                <h3 class="headline">{{ 'product.filter.sales.properties' | trans }}</h3>
            {% elseif label is same as('herkunftsland') %}
                <h3 class="headline">{{ 'product.filter.country.origin.properties' | trans }}</h3>
            {% elseif label is same as('wine_quality_classification') %}
                <h3 class="headline">{{ 'product.filter.wine.quality.properties' | trans }}</h3>
        {% endif %}
        {% block filterList %}
            {% for filterValue in data.filter.values %}
                {% block filterItem %}
                    {% set docCountText = filterValue.docCount ? ' (' ~ filterValue.docCount ~ ')' : '' %}
                    {% set label = (label == 'Label' or label == 'supplier' or label == 'herkunftsland' or label == 'wine_quality_classification') ? filterValue.value : label %}
                    {% set filterName = data.filter.config.parameterName|lower %}
                    {% if ( filterName is same as('bio') or filterName is same as('vegan') or filterName is same as('vegetarisch') or filterName is same as('laktosefrei') or filterName is same as('glutenfrei') or filterName is same as('fairtrade') ) and filterValue.value == 0 %}
                    {% else %}
                        <li class="menu__item">
                            {% include inputComponent with {
                                modifiers: modifiers,
                                class: data.parentJsName,
                                attributes: {
                                    name: data.filter.config.parameterName ~ (isMultiSelect ? '[]' : ''),
                                    value: filterValue.value,
                                    checked: (filterValue.value in activeValues),
                                    category: data.filter.config.parameterName
                                },
                                data: {
                                    label: label | trans | capitalize ~ docCountText,
                                },
                            } only %}
                        </li>
                    {% endif %}
                {% endblock %}
            {% endfor %}
            {% if label|lower is same as('supplier')%}
                <div class="delete-category-filter-supplier is-hidden">{{ 'product.filter.delete.category' | trans }}</div>
            {% elseif label|lower is same as('label') %}
                <div class="delete-category-filter-sales is-hidden">{{ 'product.filter.delete.category' | trans }}</div>
            {% elseif label|lower is same as('herkunftsland') %}
                <div class="delete-category-filter-country-origin is-hidden">{{ 'product.filter.delete.category' | trans }}</div>
            {% elseif label|lower is same as('wine_quality_classification') %}
                <div class="delete-category-filter-wine-quality is-hidden">{{ 'product.filter.delete.category' | trans }}</div>
            {% endif %}
        {% endblock %}
    </ul>
{% endblock %}
