{% extends model('component') %}

{% define config = {
    name: 'product-detail',
    tag: 'section'
} %}

{% define data = {
    description: '',
    attributes: [],
    vitamins: [],
    sku: '',
    index: '',
    isBundle: false,
    hiddenClass: 'is-hidden-sm-only',
    isNutritionalInformationContainsReferenceAmount: false,
    isAdditionalProductInformationShown: false,
} %}

{% block body %}
        {% if data.attributes['herkunftsland'] is defined %}
            <p class="description-text-color">{{ 'product.info.additional.origin.country' | trans }}: {{ data.attributes['herkunftsland'] }}</p>
        {% endif %}
        {% if data.attributes['handelsklasse'] is defined %}
            <p class="description-text-color">{{ 'product.info.additional.grading' | trans }}: {{ data.attributes['handelsklasse'] }}</p>
        {% endif %}
        {% if data.attributes['Alkoholkontrolle erforderlich'] is defined %}
            {% if data.attributes['Alkoholkontrolle erforderlich'] == 18 %}
                {{ spyCmsBlock({ key: 'alcohol-18'}) }}
            {% elseif data.attributes['Alkoholkontrolle erforderlich'] == 16 %}
                {{ spyCmsBlock({ key: 'alcohol-16' }) }}
            {% endif %}
        {% endif %}
{% endblock %}
