{% extends template('page-layout-login', '@SprykerShop:CustomerPage') %}

{% define data = {
    isLogin: false,
    scriptSrc: app.customerCDCApiUrl
} %}

{% block container %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script language="JavaScript" src="{{ data.scriptSrc }}"></script>
    <style>
        .gigya-screen, .gigya-screen * {
            font-family: "Fra Sans", "Open Sans", Arial, "Lucida Grande", sans-serif;
        }
        .gigya-screen .gigya-label-text{
            font-family: "Fra Sans", "Open Sans", Arial, "Lucida Grande", sans-serif;
        }
        .gigya-screen.landscape .gigya-layout-row.with-divider {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-direction: column;
        }
        .gigya-screen.landscape .gigya-layout-row.with-divider>.gigya-layout-cell.with-divider {
            margin-top: 41px;
            width: 87px;
            background-repeat: repeat-y;
            display: none;
        }

        .gigya-screen-content div.gigya-screen.landscape {
             padding-left: 0;
             padding-right: 0;
             width: auto;
        }
        .gigya-screen.landscape {
              padding-top: 0;
         }
        .gigya-screen .gigya-composite-control.gigya-composite-control-header {
            padding-bottom: 26px;
            display: none;
        }

        h1.gigya-screen-caption {
            border-bottom: 1px solid #dbdbdb;
            font-size: 16px;
            font-weight: bold;
            color: #333;
            padding-bottom: 5px;
            padding-top: 5px;
            margin: 0 auto;
            display: none;
        }
        .gigya-screen a
        {
            color: grey !important;
        }
        .globus_register_link
        {
            display: none !important;
        }

    </style>
    <div class="page-layout-customer page-layout-customer--login-wrap">
        <div class="page-layout-customer__form-wrap">
            <div class="list-switches">
                <ul class="list-switches__list">
                    <li class="list-switches__item">
                        {% embed molecule('toggler-radio') with {
                            data: {
                                label: 'checkout.customer.auth_as_login' | trans,
                            },
                            attributes: {
                                id: 'login',
                                checked: data.isLogin,
                                name: 'accountLoginSwitcher',
                                'target-class-name': 'js-customer-page-login',
                            },
                            modifiers: ['with-bg'],
                        } only %}
                            {% block labelContainer %}
                                <span class="{{ config.name }}__subtext">
                                    {{ 'customer.login_subtext' | trans }}
                                </span>

                                {{ parent() }}
                            {% endblock %}
                        {% endembed %}
                    </li>

                    <li class="list-switches__item">
                        {% embed molecule('toggler-radio') with {
                            data: {
                                label: 'checkout.customer.auth_as_user' | trans,
                            },
                            attributes: {
                                id: 'register',
                                checked: not data.isLogin,
                                name: 'accountLoginSwitcher',
                                'target-class-name': 'js-customer-page-login-register',
                            },
                            modifiers: ['with-bg'],
                        } only %}
                            {% block labelContainer %}
                                <span class="{{ config.name }}__subtext">
                                    {{ 'customer.signup_subtext' | trans }}
                                </span>

                                {{ parent() }}
                            {% endblock %}
                        {% endembed %}
                    </li>
                </ul>
            </div>
            <div class="js-customer-page-login {{ not data.isLogin ? 'is-hidden' }} grid">
                <div class="col col--sm-12 col--lg-6 spacing spacing--bigger spacing--inner" id="page-layout-customer_login">
                </div>
                <div style="display: none">
                    {% include molecule('form') with {
                        data: {
                            form: data.forms.login,
                            submit: {
                                enable: true,
                                text: 'forms.submit.login' | trans,
                                class: 'form__action--login button button--large button--expand',
                            },
                            options: {
                                attr: null
                            },
                        },
                        modifiers: ['grid-indent', 'login', 'checkout-actions'],
                    } only %}
                </div>

                <div class="col col--sm-12 col--lg-6 spacing spacing--bigger spacing--inner is-hidden-sm-md">
                    <strong>
                        {{ 'customer.registration.benefit_title' | trans }}
                    </strong>
                    <p>
                        {{ 'customer.registration.benefit_message' | trans }}
                    </p>
                    <ul class="list">
                        <li class="list__item list__item--check-bullet">{{ 'customer.registration.benefit_1' | trans }}</li>
                        <li class="list__item list__item--check-bullet">{{ 'customer.registration.benefit_2' | trans }}</li>
                        <li class="list__item list__item--check-bullet">{{ 'customer.registration.benefit_5' | trans }}</li>
                        <li class="list__item list__item--check-bullet">{{ 'customer.registration.benefit_3' | trans }}</li>
                        <li class="registration-link-redirect" onclick="GoToRegistration()">
                            {{ 'customer.registration.link.redirect' | trans }}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="js-customer-page-login-register {{ data.isLogin ? ' is-hidden' }} grid">
                <div class="col col--sm-12 col--lg-6 spacing spacing--bigger spacing--inner is-hidden-sm-md">
                    <strong>
                        {{ 'customer.registration.benefit_title_2' | trans }}
                    </strong>
                    <p>
                        {{ 'customer.registration.benefit_message_2' | trans }}:
                    </p>
                    <ul class="list">
                        <li class="list__item list__item--check-bullet">{{ 'customer.registration.benefit_1' | trans }}</li>
                        <li class="list__item list__item--check-bullet">{{ 'customer.registration.benefit_2' | trans }}</li>
                        <li class="list__item list__item--check-bullet">{{ 'customer.registration.benefit_5' | trans }}</li>
                        <li class="list__item list__item--check-bullet">{{ 'customer.registration.benefit_3' | trans }}</li>
                    </ul>
                </div>

                <div class="col col--sm-12 col--lg-6 spacing spacing--bigger spacing--inner"  id="page-layout-customer_register">

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        function gigyaRegistrationScreen() {
            var params = {
                screenSet: 'CCCustomer-RegistrationLogin',
                startScreen: 'gigya-register-screen',
                containerID: 'page-layout-customer_register',
                // context: '<the-number-of-the-Globus-store>'
                "onBeforeSubmit": function(event) {
                    document.querySelector("#loginForm_password.input").value = document.querySelector(".gigya-register-form input[type='password'][data-gigya-placeholder]").value;
                },
                "onAfterSubmit": function(event) {
                    if(event.response.errorCode == 0 && event.screen === 'gigya-register-screen') {
                        document.querySelector("#loginForm_email.input").value = event.profile.email;
                        document.querySelector("#loginForm_data").value = JSON.stringify(event);
                        document.getElementsByName("loginForm")[0].submit();
                        //alert(JSON.stringify(event));
                    }
                }
            }
            gigya.accounts.showScreenSet( params );
        }

        function GoToRegistration() {
            document.getElementsByName('accountLoginSwitcher')[3].click();
        }

        function gigyaLoginScreen() {
            gigya.accounts.showScreenSet({
                screenSet: 'CCCustomer-RegistrationLogin',
                startScreen: 'gigya-login-screen',
                containerID: 'page-layout-customer_login',
                "onAfterScreenLoad": function(event) {
                    //gigya-composite-control gigya-composite-control-link
                    var lnk = document.getElementsByClassName('globus_register_link');
                    lnk[0].setAttribute("href", "/register");
                    lnk[0].removeAttribute("target");
                    //lnk[1].setAttribute("href", "/register");
                    lnk[1].removeAttribute("target");
                    lnk[1].setAttribute("href", "javascript: document.getElementsByName('accountLoginSwitcher')[3].click()")
                },
                "onBeforeSubmit": function(event) {
                    if(event.screen === 'gigya-login-screen')
                        document.querySelector("#loginForm_password.input").value = document.querySelector(".gigya-input-password.gigya-show-checkmark.gigya-valid").value;
                },
                "onAfterSubmit": function(event) {
                    if(event.response.errorCode == 0 && event.screen === 'gigya-login-screen') {
                        document.querySelector("#loginForm_email.input").value = event.profile.email;
                        document.querySelector("#loginForm_data").value = JSON.stringify(event);
                        document.getElementsByName("loginForm")[0].submit();
                    }
                }
            });
        }

        gigyaRegistrationScreen();
        gigyaLoginScreen();

    </script>

{% endblock %}
