{% extends model('component') %}

{% define config = {
    name: 'navigation-top',
    tag: 'nav',
} %}

{% define data = {
    cartQuantity: getCartQuantity(),
    cartAmount: cartAmount is defined ? cartAmount : app['cart.amount'] | default,
    showUserMenu: true,
    currentCodeBucket: app.currentCodeBucket,
} %}

{% block extraClass %} {{ config.jsName }} {% endblock %}

{% block body %}
    <ul class="grid grid--middle grid--right">
        <li class="{{ config.name }}__item">
            {% if data.currentCodeBucket=='CZ' %}
                {% if(is_granted('ROLE_USER')) %}
                    <a href="{{ url('customer/overview') }}" class="{{ config.name }}__navigation-item link link--nav link--reset-focus">
                        {% include atom('icon') with {
                            class: 'link__icon link__icon--xxl-with-text icon--color-orange',
                            modifiers: ['big'],
                            data: {
                                name: 'user-account',
                            },
                        } only %}

                        <span class="link__text link__text--xxl-visible">
                    {{ 'customer.profile.link' | trans }}
                </span>
                    </a>
                {% else %}
                    <a id="link-to-login-modal" class="{{ config.name }}__navigation-item link link--nav link--reset-focus">
                        {% if app.currentCodeBucket == 'DE' %}
                            {% include atom('icon') with {
                                class: 'link__icon link__icon--xxl-with-text icon--color-orange',
                                modifiers: ['big'],
                                data: {
                                    name: 'user-account',
                                },
                            } only %}
                        {% else %}
                            {% include atom('icon') with {
                                class: 'link__icon link__icon--xxl-with-text icon--color-green',
                                modifiers: ['big'],
                                data: {
                                    name: 'user-account',
                                },
                            } only %}
                        {% endif %}

                        <span class="link__text link__text--xxl-visible">
                    {{ 'customer.profile.link' | trans }}
                </span>
                    </a>
                {% endif %}
            {% elseif data.currentCodeBucket=='DE' %}
                {% if(is_granted('ROLE_USER')) %}
                    <a href="{{ url('customer/overview') }}" class="link link--nav">
                        {% if app.currentCodeBucket == 'DE' %}
                            {% include atom('icon') with {
                                class: 'link__icon link__icon--xxl-with-text icon--color-orange',
                                modifiers: ['big'],
                                data: {
                                    name: 'user-account',
                                },
                            } only %}
                        {% else %}
                            {% include atom('icon') with {
                                class: 'link__icon link__icon--xxl-with-text icon--color-green',
                                modifiers: ['big'],
                                data: {
                                    name: 'user-account',
                                },
                            } only %}
                        {% endif %}

                        <span class="link__text link__text--xxl-visible">
                            {{ 'customer.profile.link' | trans }}
                        </span>
                    </a>
                {% else %}
                    <a id="link-to-login-modal" class="{{ config.name }}__navigation-item link link--nav link--reset-focus">
                        {% if app.currentCodeBucket == 'DE' %}
                            {% include atom('icon') with {
                                class: 'link__icon link__icon--xxl-with-text icon--color-orange',
                                modifiers: ['big'],
                                data: {
                                    name: 'user-account',
                                },
                            } only %}
                        {% else %}
                            {% include atom('icon') with {
                                class: 'link__icon link__icon--xxl-with-text icon--color-green',
                                modifiers: ['big'],
                                data: {
                                    name: 'user-account',
                                },
                            } only %}
                        {% endif %}

                        <span class="link__text link__text--xxl-visible">
                            {{ 'customer.profile.link' | trans }}
                        </span>
                    </a>
                {% endif %}
            {% endif %}
        </li>


        {% if data.showUserMenu and is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="{{ config.name }}__item">
                <a href="{{ url('wishlist/overview') }}" class="link link--nav">
                    {% if app.currentCodeBucket == 'DE' %}
                        {% include atom('icon') with {
                            class: 'link__icon link__icon--xxl-with-text icon--color-orange',
                            modifiers: ['big'],
                            data: {
                                name: 'wishlist',
                            },
                        } only %}
                    {% else %}
                        {% include atom('icon') with {
                            class: 'link__icon link__icon--xxl-with-text icon--color-orange',
                            modifiers: ['big'],
                            data: {
                                name: 'wishlist',
                            },
                        } only %}
                    {% endif %}

                    <span class="link__text link__text--xxl-visible">
                        {{ 'global.my_wishlist' | trans }}
                    </span>
                </a>
            </li>
        {% endif %}

        <li class="{{ config.name }}__item">
            {% include atom('cart-link') with {
                class: config.name ~ '__link link link--nav',
                data: {
                    cartAmount: cartAmount | money,
                    cartQuantity: getCartQuantity(),
                },
                attributes: {
                    href: url('cart'),
                },
            } only %}

            {% include molecule('cart-block') with {
                class: 'is-hidden',
            } only %}
        </li>
    </ul>
{% endblock %}
