{% extends model('component') %}

{% define config = {
    name: 'pass-reset-flash-message',
    tag: 'pass-reset-flash-message'
} %}

{% define modifiers = [] %}

{% define data = {
    action: '',
    title: '',
    text: '',
    icon: null,
    messageTextHolderClass: '',
} %}

{% set modifiers = [data.action | default('info')] | merge(modifiers) %}

{% set iconName = data.action is empty ? 'action-default' : 'action-' ~ data.action %}
{% set iconName = data.icon is empty ? iconName : data.icon %}

{% block body %}
    <div id="pass_reset_flash_message" class="{{ component.renderClass(config.name ~ '__message', modifiers) }} ">
        <div class="{{config.name}}__content">
            <div class="row">
                <div class="{{config.name}}__title col-lg-12 col-md-12 col-sm-12">
                    <h2 id="flash-message-title">{{data.title | trans}}</h2>
                </div>
                <div id="flash-message-message" class="{{ data.messageTextHolderClass }} {{ config.name }}__message">
                    {{data.text | trans}}
                </div>
                <div class="{{config.name}}__static-link">
                    <span id="flash-message-static-link" class="{{config.name}}__static-link">{{ 'message.submit_link' | trans }}</span>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
