{% extends template('widget') %}

{% define data = {
    navigation: navigation,
} %}
{% block body %}
        {% set title = '' %}
        {% set hasIcons = false %}
        {% set itemNavigation = data.navigation %}
        {% if itemNavigation.key == 'FOOTER_NAVIGATION_CATEGORIES' %}
            {% set title = 'footer.categories' | trans %}
        {% endif %}
        {% if itemNavigation.key == 'NAVIGATION_FOOTER_ELEMENT' %}
            {% set title = 'footer.globus' | trans %}
        {% endif %}

        {% set triggerClass = 'js-navigation-footer__trigger' %}
        {% set targetClass = 'js-navigation-footer__target' %}
        {% set itemClass = 'navigation-footer__col' %}
        {% set itemContentHiddenClass = 'is-hidden-sm-only' %}

        {% embed molecule('toggler-item') with {
            modifiers: ['mobile', 'footer'],
            class: itemClass,
            data: {
                title: title,
                triggerClass: triggerClass,
                targetClass: targetClass,
                hiddenClass: itemContentHiddenClass,
            },
            embed: {
                nodes: data.navigation.nodes,
                hasIcons: hasIcons,
            },
        } only %}
            {% block title %}
                <h4 class="title text-break {{ component.renderClass(config.name ~ '__title', modifiers) }} {{ data.triggerClass }} {{ titleActiveClass }} {{ titleReadOnlyClass }}"
                    {{ targetAttribute }}>
                    {{ data.title }}
                </h4>
            {% endblock %}
            {% block contentText %}
                {% if not embed.hasIcons %}
                    {% include molecule('navigation-list') with {
                        modifiers: ['footer'],
                        data: {
                            nodes: embed.nodes,
                        },
                    } only %}
                {% endif %}

                {% if embed.hasIcons %}
                    {% embed molecule('navigation-icon-list') with {
                        data: {
                            nodes: embed.nodes,
                        },
                    } only %}
                        {% block body %}
                            {% set menuClass = 'menu' %}

                            {{ parent() }}
                        {% endblock %}
                    {% endembed %}
                {% endif %}
            {% endblock %}
        {% endembed %}
{% endblock %}

