{% extends model('component') %}

{% define config = {
    name: 'shelf-scan-order',
    jsName: 'js-shelf-scan-order',
    tag: 'shelf-scan-order',
} %}

{% define data = {
    listOfExistingContainers: [],
    dataWithContainers: [],
    zoneAbbreviation: '',
    selectedContainers: []
} %}

{% block body %}
    <div class="{{ config.name }}__successful-scan-notification hidden">
            <p><strong></strong> {{ 'multi.shelving.success.sentence.part.one' | trans }} <strong></strong> {{ 'multi.shelving.success.sentence.part.two' | trans }}</p>
    </div>

    {% embed molecule('popup-ui-error') with {
        data: {
            isErrorTrue: 0,
            isPopUpErrorForPickingArticles: 2,
            buttons: {
                submit: {
                    isButton: true,
                    additionalClass: 'js-pick-products__submit',
                },
            },
        },
    } only %}

        {% block content %}
            <input type="hidden" id="containerID_eighth_characters_set" value="{{ 'containerID.eighth.characters.set' | trans }}">
            <input type="hidden" id="container_scan_order_error_pop-up_1" value="{{ 'container.scan.order.error.pop-up_1' | trans }}">
            <input type="hidden" id="container_scan_error_pop-up_1" value="{{ 'container.scan.error.pop-up_1' | trans }}">
            <div class="popup-error-holder">
                <div class="error-status">{{ 'error_page.title' | trans }}</div>
                <div class="error-info"></div>
            </div>
        {% endblock %}
    {% endembed %}

    <div>
        <input type="hidden" class="listOfExistingContainers" data-listOfExistingContainers="{{ data.listOfExistingContainers }}">
        <input type="hidden" name="containersShelf" value="[]">
        <input type="hidden" id="first_letter" value="{{ 'shelf.first.letter.large' | trans }}">
        <input type="hidden" id="not_all_fields" value="{{ 'shelf.not.all.fields.entered' | trans }}">

        <div>
            <span class="{{ config.name }}__label-text">{{ 'picking.app.containers.scan.container' | trans }}</span>
            <input id="inputScanningContainer" name="inputScanningContainer" type="text" class="input input--expand spacing-bottom spacing-bottom--big" placeholder="{{ 'picking.app.containers.scan.container' | trans }}">
        </div>

        <div>
            <span class="{{ config.name }}__label-text">{{ 'multi.picking.placeholder.input' | trans }}</span>
            <input id="inputScanningShelf" name="inputScanningShelf" type="text" class="input input--expand spacing-bottom spacing-bottom--big" placeholder="{{ 'multi.picking.placeholder.input' | trans }}">
        </div>

        <div>
            {% set numberOfUnshelvedContainers = 0 %}
            {% for selectedContainer in data.selectedContainers %}
                {% if selectedContainer.ShelfCode | length == 0 %}
                    {% set numberOfUnshelvedContainers = numberOfUnshelvedContainers + 1 %}
                {% endif %}
            {% endfor %}

            {% if numberOfUnshelvedContainers|length == 1 %}
                <span id="number_of_containers" class="{{ config.name }}__label-text">{{ numberOfUnshelvedContainers }} {{ 'picker.collect-by-customer.details.container' | trans }}</span>
            {% else %}
                <span id="number_of_containers" class="{{ config.name }}__label-text">{{ numberOfUnshelvedContainers }} {{ 'picker.collect-by-customer.details.containers' | trans }}</span>
            {% endif %}

            <ul>
                {% set counter = 1 %}
                    {% for selectedContainer in data.selectedContainers %}
                        <li {{ selectedContainer.ShelfCode | length > 0 ? 'hidden' : ''}}>
                            <div class="{{ config.name }}__container-row">
                                <span class="{{ config.name }}__checked-circle">
                                    <svg class="icon button__icon"><use xlink:href="#:check"></use></svg>
                                </span>
                                <input type="hidden" id="substituteContainer_{{ counter }}" name="hasSubstitutedItem" value="{% if selectedContainer.HasSubstitutedItem %}1{% else %}0{% endif %}">
                                <span id="{{ config.name }}__abb-{{ counter }}" class="{{ config.name }}__abb">{{ selectedContainer.pickingZone }}</span>
                                <span> > </span>
                                <span id="{{ config.name }}__shelf-{{ counter }}" class="{{ config.name }}__shelf">{{ selectedContainer.ShelfCode }}</span>
                                <span> > </span>
                                <span id="{{ config.name }}__container-{{ counter }}" class="{{ config.name }}__container">{{ selectedContainer.ContainerCode }}</span>
                            </div>
                            <input type="hidden" class="{{ config.name }}__scanned-container" data-id="{{ counter - 1 }}" value="{{ selectedContainer.ShelfCode | length > 0 ? 'true' : 'false'}}" />
                        </li>
                    {% set counter = counter + 1 %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="button button--expand btnMultiPickingScanningContainer" disabled>
            {{ 'multi.picking.save.button' | trans }}
        </button>
    </div>
{% endblock %}
