{% extends model('component') %}

{% define config = {
    name: 'pick-products',
    tag: 'pick-products'
} %}

{% define data = {
    productsLength: 0
} %}

{% define attributes = {
    'products-count': 0,
    'order-id': ''
} %}

{% block body %}
    <div class="grid grid--middle text-center spacing-y spacing-y--big spacing-y--inner minimalWidth">
        <div class="col col--sm-4">
            <span class="pick-products__total">
                {{ data.productsLength }}<span class="separator"> |</span>
            </span>
        </div>

        <div class="col col--sm-4">
            {% embed atom('app-label') with {
                modifiers: ['product'],
                data: {
                    text: 'picked' | trans
                },
                embed: {
                    jsName: config.jsName,
                    name: config.name
                }
            } only %}
                {% block body %}
                    <span class="{{ embed.jsName }}__picked {{ embed.name }}__picked">0</span><span class="separator"> |</span>
                {% endblock %}
            {% endembed %}
        </div>

        <div class="col col--sm-4">
            {% embed atom('app-label') with {
                modifiers: ['product'],
                data: {
                    text: 'not found' | trans
                },
                embed: {
                    jsName: config.jsName,
                    name: config.name
                }
            } only %}
                {% block body %}
                    <span class="{{ embed.jsName }}__not-picked {{ embed.name }}__canceled">0</span>
                {% endblock %}
            {% endembed %}
        </div>

        <div class="hidden">
            <input type="hidden" class="pick-products__weight" />
            <input type="hidden" class="pick-products__hasInfo" />
        </div>

    </div>
{% endblock %}
