{% extends model('component') %}

{% define config = {
    name: 'product-item',
    tag: 'product-item',
} %}

{% define data = {
    product: required,
    name: data.product.name | default,
    sku: data.product.sku | default,
    url: data.product.url | default,
    image: data.product.images is defined ? data.product.images.0.externalUrlSmall | default,
    idProductAbstract: data.product.idProductAbstract | default,
    currencyIsoCode: null,
    productSaleUnit: data.product.attributes.verpackungseinheit | default(null),
    productSaleVolume: data.product.attributes.grundpreisinhalt | default(null),
    basicUnit: data.product.attributes.grundeinheit | default(null),
    basePriceUnit: data.product.attributes.grundpreismasseinheit | default(null),
    depositPrice: data.depositPrice | default(null),
} %}

{% set addAjaxUrl = path("cart/add-ajax", { "productAbstractId": data.product.id_product_abstract ?? data.product.idProductAbstract }) %}

{%- block extraClass %}{% endblock -%}

{% block body %}
    <div class="{{ component.renderClass(config.name ~ '__container', modifiers) }}">
        {% block thumbnailWrapper %}
            {% set extraClass = '' %}
            {% set modifiers = [] %}

            {% block imageContainer %}
                <div class="{{ config.name }}__image-wrap">
                    {% macro thumbnail(src, alt='', extraClass='', modifiers=[], idProductAbstract='') %}
                        {% embed molecule('lazy-thumbnail') with {
                            class: extraClass,
                            modifiers: modifiers,
                            attributes: {
                                src: src,
                                alt: alt,
                            },
                            embed: {
                                idProductAbstract: idProductAbstract,
                            },
                        } only %}
                            {% block image %}
                                {% set imageExtraClasses = embed.idProductAbstract ? 'js-image-animation__image-' ~ embed.idProductAbstract %}
                                {{ parent() }}
                            {% endblock %}
                        {% endembed %}
                    {% endmacro %}

                    {% block image %}
                        {% if data.url %}
                            {% block imageLink %}
                                    <a href="{{ data.url }}">

                                        {{ _self.thumbnail(data.image, data.name, extraClass, modifiers, data.idProductAbstract) }}

                                    </a>
                            {% endblock %}
                        {% endif %}
                        {% if not data.url %}
                            {% block productThumbnail %}
                                {{ _self.thumbnail(data.image, data.name, extraClass, modifiers, config.jsName) }}
                            {% endblock %}
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endblock %}

        {% block labels %}
            {% if data.idProductAbstract %}
                {% block productAbstractLabels %}
                    {% widget 'ProductAbstractLabelWidget' args [data.idProductAbstract] with {
                        data: {
                            parentJsName: config.jsName,
                        },
                    } only %}{% endwidget %}
                {% endblock %}
            {% endif %}
        {% endblock %}

        {% block groups %}
            {% if data.idProductAbstract %}
                {% block productAbstractGroups %}
                    {% widget 'ProductGroupWidget' args [data.idProductAbstract] only %}{% endwidget %}
                {% endblock %}
            {% endif %}
        {% endblock %}

        {% block contentContainer %}
            <div class="{{ config.name }}__content-wrapper">
                {% block content %}
                    {% block contentTopContainer %}
                        <div class="{{ config.name }}__content-top">
                            {% block contentTop %}
                                {% block colors %}
                                    {% widget 'ProductGroupColorWidget' args [data.idProductAbstract, data.product.selectedAttributes ?? []] use view('product-item-color-selector', 'ProductGroupWidget') with {
                                        data: {
                                            parentJsName: config.jsName,
                                        },
                                    } only %}{% endwidget %}
                                {% endblock %}

                                {% block name %}
                                    {% if data.name and data.url %}
                                        {% block link %}
                                            <div class="{{ config.name }}__info">
                                                <a href="{{ data.url }}" class="{{ config.name }}__name">
                                                    {% block linkName %}
                                                        {{- data.name -}}
                                                    {% endblock %}
                                                </a>
                                            </div>
                                        {% endblock %}

                                        {% block productDataContainer %}
                                            <div class="{{ config.name }}__info-more">
                                                {% block productSalesVolueme %}
                                                    <div class="{{ config.name }}__info-more-col">
                                                        {% if data.productSaleUnit and data.productSaleVolume %}
                                                            <div class="{{ config.name }}__sale-volume">
                                                                {% if data.product.attributes.einzelgewicht is defined %}
                                                                    {{ (data.product.price / 100) | round(2, 'common') }} € / {{ data.basicUnit }} {{ data.basePriceUnit }}
                                                                {% else %}
                                                                    {{ (((data.product.price / 100) / data.productSaleVolume)) | round(2, 'common') | replace('.', ',') }} €/  {{ data.basicUnit }} {{ data.basePriceUnit }}
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% endblock %}

                                                {% block price %}
                                                    <div class="{{ config.name }}__info-more-col">
                                                        {% include molecule('money-price') with {
                                                            modifiers: modifiers,
                                                            data: {
                                                                amount: data.product.prices.DEFAULT | default(null),
                                                                originalAmount: data.product.prices.ORIGINAL | default(null),
                                                                currencyIsoCode: data.currencyIsoCode,
                                                            },
                                                        } only %}
                                                    </div>
                                                {% endblock %}
                                            </div>
                                        {% endblock %}
                                    {% endif %}

                                    {% if data.name and not data.url %}
                                        {% block title %}
                                            <span class="{{ config.name }}__name {{ config.jsName }}__name">{{ data.name }}</span>
                                        {% endblock %}
                                    {% endif %}
                                {% endblock %}

                                {% block rating %}
                                    {% if data.idProductAbstract %}
                                        {% block productAbstractRating %}
                                            {% widget 'DisplayProductAbstractReviewWidget' args [data.idProductAbstract] with {
                                                data: {
                                                    parentJsName: config.jsName,
                                                },
                                            } only %}{% endwidget %}
                                        {% endblock %}
                                    {% endif %}
                                {% endblock %}
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block addToBlock %}
                        <div class="add-to-cart-btn">
                            <a href="{{ addAjaxUrl }}"
                               class="
                                    button button--with-icon button--middle-icon
                                    js-product-color-group__image-{{ data.idProductAbstract }}
                                    js-image-animation__link
                                    js-ajax-add-to-cart__link
                                "
                               data-product-id="{{ data.idProductAbstract }}"
                               data-product-sku="{{ data.sku }}"
                               data-product-title="{{ data.name | escape('js') }}"
                               data-product-price="{{ data.product.prices.ORIGINAL is defined ? data.product.prices.ORIGINAL / 100 : null }}"
                               data-csrf-token="{{ csrf_token('add-to-cart-ajax') }}"
                            >
                                {% include atom('icon') with {
                                    class: 'button__icon',
                                    modifiers: ['big'],
                                    data: {
                                        name: 'cart-plus',
                                    },
                                } only %}
                                <div class="add-details-to-cart-text-holder">
                                    {{- 'page.detail.add-to-cart' | trans -}}
                                </div>
                            </a>
                        </div>
                    {% endblock %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

