{% extends model('component') %}

{% define config = {
    name: 'product-item',
    tag: 'product-item',
} %}

{% define data = {
    product: required,
    name: data.product.name | default,
    sku: data.product.sku | default,
    url: data.product.url | default,
    image: data.product.images is defined ? data.product.images.0.externalUrlSmall | default,
    idProductAbstract: data.product.idProductAbstract | default,
    supplier: data.product.supplier | default,
    currencyIsoCode: null,
    productSaleUnit: data.product.attributes.verpackungseinheit | default(null),
    productSaleVolume: data.product.attributes.grundpreisinhalt | default(null),
    basicUnit: data.product.attributes.grundeinheit | default(null),
    basePriceUnit: data.product.attributes.grundpreismasseinheit | default(null),
    preisProKg: data.product.attributes.preis_pro_kg | default(null),
    pricePerKg: data.product.pricePerKg | default(null),
    depositPrice: data.depositPrice | default(null),
    einzelgewicht: data.product.attributes.einzelgewicht | default(null),
    position: position | default(null),
    currencySymbol: app.currentCurrencySymbol,
    currencyIsoCode: app.currentCurrencyISOCode
} %}

{% set addAjaxUrl = path("cart/add-ajax", { "productAbstractId": data.product.id_product_abstract ?? data.product.idProductAbstract }) %}

{%- block extraClass %}{% endblock -%}

{% set productSaleUnit = data.product.attributes.grundpreismasseinheit | default(null) %}
{% set productSupplier = data.product.attributes.supplier | default(null) %}
{% set productSaleVolume = data.product.attributes.grundpreisinhalt | default(null) %}

{% block body %}
    <div class="{{ component.renderClass(config.name ~ '__container', modifiers) }}">
        {% block thumbnailWrapper %}
            {% set extraClass = '' %}
            {% set modifiers = [] %}

            {% block imageContainer %}
                <div class="{{ config.name }}__image-wrap">
                    {% if data.idProductAbstract and data.supplier == "Globus" or 'Globus'in data.name %}
                        {% block goproductLabel %}
                            {% set labels = labels | default([]) %}

                            {% set labels = labels | merge([{
                                text: '',
                                type: '',
                                product_type: 'goproduct',
                                discount: discount is defined ? discount : 0,
                                discount_percentage: discount_percentage is defined ? discount_percentage : 0,
                            }]) %}

                            {% include molecule('label-group', 'ProductLabelWidget') with {
                                data: {
                                    labels: labels,
                                    parentJsName: '',
                                },
                            } only %}
                        {% endblock %}
                    {% endif %}
                    {% macro thumbnail(src, alt='', extraClass='', modifiers=[], idProductAbstract='') %}
                        {% embed molecule('lazy-thumbnail') with {
                            class: extraClass,
                            modifiers: modifiers,
                            attributes: {
                                src: src,
                                alt: alt,
                            },
                            embed: {
                                idProductAbstract: idProductAbstract,
                            },
                        } only %}
                            {% block image %}
                                {% set imageExtraClasses = embed.idProductAbstract ? 'js-image-animation__image-' ~ embed.idProductAbstract %}
                                {{ parent() }}
                            {% endblock %}
                        {% endembed %}
                    {% endmacro %}

                    {% block image %}
                        {% if data.url %}
                            {% block imageLink %}
                                <a href="{{ data.url }}">
                                    {{ _self.thumbnail(data.image, data.name, extraClass, modifiers, data.idProductAbstract) }}
                                </a>
                            {% endblock %}
                        {% endif %}
                        {% if not data.url %}
                            {% block productThumbnail %}
                                {{ _self.thumbnail(data.image, data.name, extraClass, modifiers, config.jsName) }}
                            {% endblock %}
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endblock %}

        {% block labels %}
            {% if (data.product.prices['ORIGINAL'] is defined and data.product.prices['DEFAULT'] < data.product.prices['ORIGINAL']) %}
                {% set discount = data.product.prices.ORIGINAL - data.product.prices.DEFAULT %}
                {% set discount_percentage = ((discount / data.product.prices.ORIGINAL) * 100)|round %}

                {% set labels = labels | default([]) %}

                {% if not data.product.id_product_labels is defined or data.product.id_product_labels|length <= 0 %}

                    {% set labels = labels | merge([{
                        text: '',
                        type: 'highlight',
                        product_type: '',
                        discount: discount,
                        discount_percentage: discount_percentage
                    }]) %}

                    {% include molecule('label-group', 'ProductLabelWidget') with {
                        data: {
                            labels: labels,
                            parentJsName: '',
                        },
                    } only %}

                {% elseif data.idProductAbstract %}
                    {% widget 'ProductAbstractLabelWidget' args [data.idProductAbstract] with {
                        data: {
                            parentJsName: config.jsName,
                            product_type: '',
                            discount: discount,
                            discount_percentage: discount_percentage
                        },
                    } only %}{% endwidget %}
                {% endif %}

            {% elseif data.idProductAbstract %}
                {% block productAbstractLabels %}

                {% endblock %}
            {% endif %}
        {% endblock %}

        {% block groups %}
            {% if data.idProductAbstract %}
                {% block productAbstractGroups %}
                    {% widget 'ProductGroupWidget' args [data.idProductAbstract] only %}{% endwidget %}
                {% endblock %}
            {% endif %}
        {% endblock %}

        {% block contentContainer %}
            <div class="{{ config.name }}__content-wrapper">
                {% block content %}
                    {% block contentTopContainer %}
                        <div class="{{ config.name }}__content-top">
                            {% block contentTop %}
                                {% block colors %}
                                    {% widget 'ProductGroupColorWidget' args [data.idProductAbstract, data.product.selectedAttributes ?? []] use view('product-item-color-selector', 'ProductGroupWidget') with {
                                        data: {
                                            parentJsName: config.jsName,
                                        },
                                    } only %}{% endwidget %}
                                {% endblock %}

                                {% block name %}
                                    {% if data.name and data.url %}

                                        {% if app.currentCodeBucket == 'DE' %}
                                            {% if productSupplier and productSaleVolume and productSaleUnit %}
                                                {% set fullname = ((productSupplier == 'keine Marke' or productSupplier == '' or productSupplier == 'keine') ? '' : productSupplier ~ " - ") ~ data.name ~ " - " ~ productSaleVolume|round(3, 'floor')|replace('.', ',') ~  ' ' ~ productSaleUnit %}
                                                {% if data.einzelgewicht %}
                                                    {% set fullname = ((productSupplier == 'keine Marke' or productSupplier == '' or productSupplier == 'keine') ? '' : productSupplier ~ " - ") ~ data.name ~ " - ca. " ~ data.einzelgewicht|round(3, 'floor')|replace('.', ',') ~  ' ' ~ productSaleUnit %}
                                                {% endif %}
                                            {% elseif productSaleVolume and productSaleUnit %}
                                                {% set fullname = data.name ~ " - " ~ productSaleVolume|round(3, 'floor')|replace('.', ',') ~  ' ' ~ productSaleUnit %}
                                                {% if data.einzelgewicht %}
                                                    {% set fullname = data.name ~ " - ca. " ~ data.einzelgewicht|round(3, 'floor')|replace('.', ',') ~  ' ' ~ productSaleUnit %}
                                                {% endif %}
                                            {% elseif productSupplier %}
                                                {% set fullname = ((productSupplier == 'keine Marke' or productSupplier == 'keine') ? '' : productSupplier ~ " - ") ~ data.name %}
                                            {% else %}
                                                {% set fullname = data.name %}
                                            {% endif %}
                                        {% else %}
                                            {% if productSupplier %}
                                                {% set fullname = ((productSupplier == 'keine Marke' or productSupplier == 'keine') ? '' : productSupplier ~ " - ") ~ data.name %}
                                            {% else %}
                                                {% set fullname = data.name %}
                                            {% endif %}
                                        {% endif %}

                                        {% block link %}
                                            <div class="{{ config.name }}__info">
                                                <a href="javascript:void(0)" class="{{ config.name }}__name" onclick="productClicked('{{ data.url }}', '{{ data.idProductAbstract }}', '{{ data.name | escape('js') }}', '{{ data.product.prices.DEFAULT is defined ? data.product.prices.DEFAULT / 100 : null  }}', '{{ data.product.abstract_sku }}' )">
                                                    {% block linkName %}
                                                        {{- fullname -}}
                                                    {% endblock %}
                                                </a>
                                            </div>
                                            <script type="text/javascript">
                                                function productClicked(productUrl, productId, productName, productPrice, productSku)
                                                {
                                                    var rerouted = 0;
                                                    window.dataLayer = window.dataLayer || [];
                                                    window.dataLayer.push({
                                                        'event': 'eec.productClick',
                                                        'ecommerce':{
                                                            'click':{
                                                                'actionField': {'list':'Catalog'},
                                                                'products': [{
                                                                    'id': productId,
                                                                    'name': productName,
                                                                    'price': productPrice,
                                                                    'sku': productSku,
                                                                }]
                                                            }
                                                        },
                                                        'eventCallback': function()
                                                        {
                                                            rerouted = 1;
                                                            document.location = productUrl;
                                                        }
                                                    });
                                                    setTimeout(function(){
                                                        if(rerouted==0)
                                                        {
                                                            document.location = productUrl;
                                                        }
                                                    },1000);
                                                }
                                            </script>
                                        {% endblock %}

                                        {% block productDataContainer %}
                                            <div class="{{ config.name }}__info-more">
                                                {% block productSalesVolueme %}
                                                    <div class="{{ config.name }}__info-more-col">
                                                        {% if data.productSaleUnit and data.productSaleVolume > 0 %}
                                                            <div class="{{ config.name }}__sale-volume">
                                                                {% if data.pricePerKg is not null and data.basicUnit > 0 %}
                                                                    {{(data.pricePerKg / 100 ) | round(2, 'common') | replace('.', ',') }} {{ data.currencySymbol }}/{{ data.basePriceUnit }}
                                                                {% elseif data.pricePerKg is null and data.preisProKg is not null and data.basicUnit > 0 %}
                                                                    {{(data.preisProKg / 100 ) | round(2, 'common') | replace('.', ',') }} {{ data.currencySymbol }}/{{ data.basePriceUnit }}
                                                                {% elseif data.preisProKg is null and data.pricePerKg is null and data.basicUnit == 0 %}

                                                                {% else %}
                                                                    {{ ((((data.product.price / 100) / data.productSaleVolume)) * data.basicUnit ) | round(2, 'common') | replace('.', ',') }} {{ data.currencySymbol }}/{{ data.basicUnit }} {{ data.basePriceUnit }}
                                                                {% endif %}

                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% endblock %}

                                                {% block price %}
                                                    <div class="{{ config.name }}__info-more-col">
                                                        {% include molecule('money-price') with {
                                                            modifiers: modifiers,
                                                            data: {
                                                                amount: data.product.prices.DEFAULT | default(null),
                                                                originalAmount: data.product.prices.ORIGINAL | default(null),
                                                                currencyIsoCode: data.currencyIsoCode,
                                                            },
                                                        } only %}
                                                    </div>
                                                {% endblock %}
                                            </div>
                                        {% endblock %}
                                    {% endif %}

                                    {% if data.name and not data.url %}
                                        {% block title %}
                                            <span class="{{ config.name }}__name {{ config.jsName }}__name">{{ data.name }}</span>
                                        {% endblock %}
                                    {% endif %}
                                {% endblock %}

                                {% block rating %}
                                    {% if data.idProductAbstract %}
                                        {% block productAbstractRating %}
                                            {% widget 'DisplayProductAbstractReviewWidget' args [data.idProductAbstract] with {
                                                data: {
                                                    parentJsName: config.jsName,
                                                },
                                            } only %}{% endwidget %}
                                        {% endblock %}
                                    {% endif %}
                                {% endblock %}
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block addToBlock %}
                        <div class="add-to-cart-btn">
                            {% if app.currentCodeBucket == 'DE' %}
                                <a href="{{ addAjaxUrl }}"
                                   onclick="productAddToCart('{{ data.idProductAbstract }}','{{ data.name | escape('js') }}','{{ data.product.prices.DEFAULT is defined ? data.product.prices.DEFAULT / 100 : null }}','{{ data.product.abstract_sku }}','{{ data.supplier | escape('js') }}')"
                                   class="
                                        button button--with-icon button--middle-icon button_center_align
                                        js-product-color-group__image-{{ data.idProductAbstract }}
                                        js-image-animation__link
                                        js-ajax-add-to-cart__link
                                    "
                                   data-product-id="{{ data.idProductAbstract }}"
                                   data-product-sku="{{ data.sku }}"
                                   data-product-title="{{ data.name | escape('js') }}"
                                   data-product-price="{{ data.product.prices.ORIGINAL is defined ? data.product.prices.ORIGINAL / 100 : null }}"
                                   data-csrf-token="{{ csrf_token('add-to-cart-ajax') }}"
                                >
                            {% else %}
                                    <a href="{{ addAjaxUrl }}"
                                       onclick="productAddToCart('{{ data.idProductAbstract }}','{{ data.name | escape('js') }}','{{ data.product.prices.DEFAULT is defined ? data.product.prices.DEFAULT / 100 : null }}','{{ data.product.abstract_sku }}','{{ data.supplier | escape('js') }}')"
                                       class="
                                    button button--with-icon button--middle-icon button--font-CZ button--backgroundcolor-CZ
                                    js-product-color-group__image-{{ data.idProductAbstract }}
                                    js-image-animation__link
                                    js-ajax-add-to-cart__link
                                "
                                       data-product-id="{{ data.idProductAbstract }}"
                                       data-product-sku="{{ data.sku }}"
                                       data-product-title="{{ data.name | escape('js') }}"
                                       data-product-price="{{ data.product.prices.ORIGINAL is defined ? data.product.prices.ORIGINAL / 100 : null }}"
                                       data-csrf-token="{{ csrf_token('add-to-cart-ajax') }}"
                                    >
                            {% endif %}
                                <span class="icon-basketplus"></span>
                                <div class="add-details-to-cart-text-holder">
                                    {{- 'page.detail.add-to-cart' | trans -}}
                                </div>
                            </a>
                        </div>
                    <script type="text/javascript">
                        window.catalogList = window.catalogList || [];
                        window.catalogList.push({
                                    'name': '{{ data.name | escape('js') }}',
                                    'id': '{{ data.idProductAbstract }}',
                                    'sku': '{{ data.product.abstract_sku }}',
                                    'price': '{{ data.product.prices.DEFAULT is defined ? data.product.prices.DEFAULT / 100 : null  }}',
                                    'url' : '{{ data.url }}',
                                    'position': '{{ data.position }}',
                                    'list': 'POP',
                        });

                        function productAddToCart(productId, productName, productPrice, productSku, productBrand)
                        {
                            window.dataLayer = window.dataLayer || [];
                            window.dataLayer.push({
                                'event': 'eec.addToCart',
                                'ecommerce':{
                                    'add':{
                                        'currencyCode': '{{ data.currencyIsoCode }}',
                                        'products': [{
                                            'id': productId,
                                            'name': productName,
                                            'price': productPrice,
                                            'sku': productSku,
                                            'brand': productBrand,
                                        }]
                                    }
                                },
                            });
                        }
                    </script>
                    {% endblock %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
