{% extends template('page-layout-main') %}

{% define data = {
    pickingZoneSelectionForm: pickingZoneSelectionForm,
} %}

{% block content %}
    {{ form_start(data.pickingZoneSelectionForm) }}
        <div class="label">
            {{ 'store-app.form.picking-zone-selector' | trans }}
        </div>
        <div class="choises">
            {% for key, choice in data.pickingZoneSelectionForm.fieldIdPickingZone %}
                {{ form_widget(choice, {
                    required: false
                }) }}
            {% endfor %}
        </div>
        <div class="submit">
            {{ form_widget(data.pickingZoneSelectionForm.buttonSubmit, {
                label: 'store-app.form.submit-label' | trans,
                attr: {
                    class: 'button button--combined',
                },
            }) }}
        </div>
    {{ form_end(pickingZoneSelectionForm) }}
{% endblock %}
