{% extends molecule('customer-reorder-form', '@SprykerShop:CustomerReorderWidget') %}

{% block formActions %}
    <input type="hidden" name="token" value="{{ csrf_token('reorder-items') }}">
    <div class="grid grid--middle spacing-top spacing-top--biggest">
        <div class="col col--expand">
            <a href="{{ url('customer/order') }}" class="button button--hollow {{ config.name }}__button">
                {{- 'general.back.button' | trans -}}
            </a>
        </div>
        <button class="col button button--hollow {{ config.name }}__button {{ config.jsName }}__trigger" disabled>
            {{- 'customer.order.reorder_selected' | trans -}}
        </button>
        <a href="{{ path('customer/order/reorder', {'idSalesOrder': data.idSalesOrder}) }}" class="col button {{ config.name }}__button js-form-dynamic-submitter--trigger" data-csrf-token="{{ csrf_token('reorder-cart') }}">
            {{- 'customer.order.reorder_all' | trans -}}
        </a>
    </div>
{% endblock %}
