{% extends model('component') %}

{% define config = {
    name: 'product-options',
} %}

{% define data = {
    options: null,
    pfandbetrag: ''
} %}

{% set currentCodeBucket = app.currentCodeBucket %}

{% block component %}
    {% if currentCodeBucket == 'DE' %}
        {% if data.options is not empty %}
            {{ parent() }}
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    {% if data.pfandbetrag is not empty %}
        <ul>
            <li class="{{ component.renderClass(config.name ~ '__item', modifiers) }} grid">
            {% if currentCodeBucket == 'DE' %}
                + {{ 'mail.order.confirmation.deposit' | trans }} {{ data.pfandbetrag | replace('.', ',') }}
            {% else %}
                + {{ 'mail.order.confirmation.deposit' | trans }} {{ data.pfandbetrag }} Kč
            {% endif %}
            </li>
        </ul>
    {% endif %}
{% endblock %}
