{% extends model('component') %}

{% define config = {
    name: 'form-containers',
    tag: 'form-containers',
    jsName1: 'js-used-container-search',
} %}

{% define data = {
    formContainers: required,
    containerCount: containerCount | default(null),
    isUsedContainerMessage: isUsedContainerMessage | default(null),
    isErrorTrue: isErrorTrue | default(null)
} %}

{% define attributes = {
    'used-container-search-class': config.jsName1 ~ '__item'
} %}

{% block body %}
    <input type="hidden" name="addedContainers" value="">
    <input type="hidden" id="containerID_eighth_characters_set" value="{{ 'containerID.eighth.characters.set' | trans }}">
    <input type="hidden" id="containerID_eighth_characters" value="{{ 'containerID.eighth.characters' | trans }}">
    {% embed molecule('popup-ui-error') with {
        data: {
            isErrorTrue: data.isErrorTrue,
            isUsedContainerMessage: data.isUsedContainerMessage,
            buttons: {
                submit: {
                    isButton: true,
                    additionalClass: 'js-pick-products__submit',
                },
            },
        },
    } only %}
    {% endembed %}
<div class="js-container-count" data-container-count="{{ data.containerCount }}">
    {{ form_row(data.formContainers) }}

    <button class="button button--small {{ config.jsName }}__add-container spacing-top--big" type="button">
        {{ 'picking.app.containers.add.container' | trans }}
    </button>
</div>
{% endblock %}
