{% extends model('component') %}

{% define config = {
    name: 'display-address',
    tag: 'ul',
} %}

{% define data = {
    address: required,
    showAddressLabel: false,
    mobilePrefix: '',
    phonePrefix: '',
} %}

{% block body %}
    <li class="{{ config.name }}__item">{{ data.address.firstName }} {{ data.address.lastName }}</li>

    {% if data.address.company is not empty %}
        <li class="{{ config.name }}__item">{{ data.address.company }}</li>
    {% endif %}

    <li class="{{ config.name }}__item">{{ data.address.address1 }} {{ data.address.address2 }} {{ data.address.floor | default | trans }}</li>
    {% if data.address.additionalInfo %}
    <li class="{{ config.name }}__item">{{ data.address.additionalInfo }}</li>
    {% endif %}
    <li class="{{ config.name }}__item">{{ data.address.zipCode }} {{ data.address.city }}, {{ ('countries.iso.' ~ data.address.iso2code) | trans }}</li>

    {% if (data.address.phone is not empty) and (data.address.phone|length > 4)  %}
        <li class="{{ config.name }}__item spacing-top"><span>{{ 'customer.address.phone' | trans }}: </span><a href="tel:{{ data.address.phone }}">{{ data.address.phone }}</a></li>
    {% endif %}

    {% if (data.address.cellPhone is not empty) and (data.address.cellPhone|length > 4) %}
        <li class="{{ config.name }}__item spacing-top"><span>{{ 'customer.address.mobile_phone' | trans }}: </span><a href="tel:{{ data.address.cellPhone }}">{{ data.address.cellPhone}}</a></li>
    {% endif %}

    {% if data.showAddressLabel %}
        <li class="{{ config.name }}__item">
            {% if data.address.isDefaultBilling %}
                <span class="badge badge--success spacing-right spacing-y">{{'customer.order.billing_address' | trans}}</span>
            {% endif %}

            {% if data.address.isDefaultShipping %}
                <span class="badge badge--success spacing-y">{{'customer.order.shipping_address' | trans}}</span>
            {% endif %}
        </li>
    {% endif %}
{% endblock %}
