{% extends model('component') %}

{% define config = {
    name: 'banner-jumbotron',
    tag: 'section',
} %}

{% define data = {
    banner: required,
    isBannerClickable: true,
} %}

{% block body %}
    {% set backgroundImage = data.banner.imageUrl ? 'background-image: url(' ~ data.banner.imageUrl ~ ');' %}

    <div class="{{ component.renderClass(config.name ~ '__container', modifiers) }} grid grid--center {% block bannerTextPosition %}grid--middle{% endblock %}" style="{{ backgroundImage }}">
        {% if data.isBannerClickable %}
            <a href="{{ data.banner.clickUrl }}" class="{{ config.name }}__link"></a>
        {% endif %}
        <div class="{{ component.renderClass(config.name ~ '__content', modifiers) }} col col--sm-12 spacing-y spacing-y--inner spacing-y--big">
            <h1 class="{{ config.name }}__title">{{ data.banner.title | raw }}</h1>
            <p class="{{ config.name }}__text">{{ data.banner.subtitle | raw }}</p>
        </div>
    </div>
    <script>
        window.addEventListener('load', function() {
            document.getElementsByClassName("jumbotron-slider")[0].style.display = "block";
        });
    </script>
{% endblock %}
