{% extends model('component') %}

{% define config = {
    name: 'order-item',
} %}

{% define data = {
    reference: required,
    productsCount: required,
    date: '',
    deadline: required,
} %}

{% block body %}
    <div class="{{ component.renderClass('box', modifiers) }}">
        <div class="grid grid--justify grid--stretch {{ config.name }}__content">
            <div class="col {{ config.name }}__left-col">
                {% block orderReference %}
                    <div class="{{ config.name }}__id">
                        {{ 'ID' }}: {{ data.reference }}
                    </div>
                    {% if data.collectNumber %}
                        <div class="{{ config.name }}__collect spacing-bottom spacing-bottom--big">
                            {{ 'Collect Number' | trans }}: {{ data.collectNumber }}
                        </div>
                    {% endif %}
                {% endblock %}
                <div class="{{ config.name }}__products">
                    {% block products %}
                        {% include atom('icon-row') with {
                            data: {
                                iconName: 'cart',
                                rowText: data.productsCount ~ ' ' ~ 'Artikel' ~ ' / ' ~ data.productsCountFull ~ ' ' ~ 'Stck.'| trans
                            }
                        } only %}
                    {% endblock %}
                </div>
            </div>
            <div class="col {{ config.name }}__right-col">
                <div class="{{ config.name }}__time">
                    {% if data.date %}
                    {{ data.dayOfTheWeek }} {{ data.date }}<br />
                    {% endif %}
                    {{ data.deadline }}
                </div>
                <div class="{{ config.name }}__action">
                    {% block action %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="{{ component.renderClass('box-dark-grey', modifiers) }}">
        <div class="{{ config.name }}__name">
            {% if data.customerFullName %}
                {{ data.customerFullName }}<br />
            {% endif %}
        </div>
        <div class="{{ config.name }}__name">
            {% block additionalFields %}{% endblock %}
            {% block additionalContent %}{% endblock %}
        </div>
    </div>
{% endblock %}
