{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Product Update' %}

{% block section_title %}
    {{ widget_title | trans }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="{{ 'Update prices' | trans }}" />
    <input type="reset" value="{{ 'Reset' | trans }}" class="btn btn-danger reset">
    {{ form_end(form) }}

    <h3>{{ 'product.update.examples.header' | trans }}</h3>
        {{ 'product.update.header1' | trans }}
    <pre>
{{ 'product.update.example1_1' | trans }}
{{ 'product.update.example1_2' | trans }}</pre>

        {{ 'product.update.header2' | trans }}
    <pre>
{{ 'product.update.example2_1' | trans }}
{{ 'product.update.example1_2' | trans }}</pre>

        {{ 'product.update.header3' | trans }}
    <pre>
{{ 'product.update.example3_1' | trans }}
{{ 'product.update.example3_2' | trans }}</pre>

        {{ 'product.update.message' | trans }}
{% endblock %}

{% block footer_js %}
    {{ parent() }}
{% endblock %}
