{% extends model('component') %}

{% define config = {
    name: 'popup-ui-login-form',
    tag: 'popup-ui-login-form',
} %}

{% define data = {
    title: 'global.login' | trans,
    scriptSrc: app.customerCDCApiUrl,
    currentCodeBucket: app.currentCodeBucket,
} %}

{% block body %}
    {% if data.currentCodeBucket == 'DE' %}
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script language="JavaScript" src="{{ data.scriptSrc }}"></script>

        <style>

            ::-ms-reveal {
                display: none;
            }

            .gigya-composite-control {
                padding: 10px 15px 0 15px !important;
            }

            .gigya-screen-content div.gigya-screen.landscape {
                padding: 10px;
            }

            .gigya-screen, .gigya-screen * {
                font-family: 'Roboto', sans-serif;
            }

            .gigya-screen .gigya-error-msg.gigya-error-msg-active {
                color: #E30613;
            }

            .gigya-screen .gigya-label-text{
                font-family: 'Roboto', sans-serif;
            }
            .gigya-screen-caption {
                display: none;
            }
            .gigya-screen a
            {
                color: #373936 !important;
            }

            input.gigya-input-text, input.gigya-input-password, .gigya-input-submit{
                border-radius: 25px !important;
                border-color: #CDCFCC !important;
                height: 48px !important;
            }

            .gigya-screen input[type=submit]{
                font-size: 16px;
                font-weight: bold;
                background-color: #FFA500;
            }

            .gigya-screen input[type=submit]:hover{
                background-color: #FFAE1A;
            }

            .gigya-screen input[type=submit]:active{
                background-color: #FFAE1A;
            }

            .gigya-screen input[type=submit]:focus{
                outline-style: solid;
                outline-width: 1px;
                outline-color: #FFA500;
                outline-offset: 2px;
            }

            .globus_pwforget_link {
                display: none !important;
            }

            .globus_register_link
            {
                display: none !important;
            }

            #reset-password-form-holder {
                position: relative;
            }

            #reset-password-form-holder .pass-reset-flash-message--info {
                position: absolute;
                bottom: 0;
                width: 100%;
            }

            #password-forget-link {
                padding: 5px 10px !important;
            }

            #frm_resetPassword {
                display: flex;
                flex-direction: column;
                padding: 20px;
            }

            #frm_resetPassword .description {
                margin-top: 0;
                margin-bottom: 20px;
                font-size: 1rem;
                font-weight: normal;
            }

            #frm_resetPassword .label-description {
                margin-bottom: 10px;
            }

            #frm_resetPassword .btn-submit {
                width: 100%;
                color: #fff;
                background: #FFA500;
                margin-top: 15px;
                padding: 10px;
                cursor: pointer;

            }

            #frm_resetPassword .btn-return-sign-in {
                background: transparent;
                color: gray;
                margin-top: 10px;
                cursor: pointer;
            }
        </style>


        <div class="{{ config.name }}__overlay">
            <div id="login-form-holder" class="{{ config.name }}__container">
                <div class="{{ config.name }}__title">
                    <span class="{{ config.name }}__title--text">{{ 'auth.login' | trans }}</span>
                    <button class="{{ config.name }}__close login-close-icon">
                        {% include atom('icon') with {
                            modifiers: ['big'],
                            data: {
                                name: 'close'
                            }
                        } only %}
                    </button>
                </div>

                <div class="{{ config.name }}__content">
                    <div id="checkoutCustomerLogin">

                    </div>

                    <div style="display: none">
                        <div class="form form--grid-indent form--login form--checkout-actions" data-qa="component form">
                            <form name="loginForm" method="post" action="/login_check">

                                <div class="form__container">

                                    <div class="form__fields grid grid--top">
                                        <div class="form__field col col--sm-12">
                                            <label for="loginForm_email" class="label label--required">{{ 'customer.login.email' | trans }}</label>
                                            <input id="loginForm_email" name="loginForm[email]" required="required" placeholder="{{ 'customer.login.email_placeholder' | trans }}" class="input input--expand" type="email">
                                        </div>
                                        <div class="form__field col col--sm-12">
                                            <label for="loginForm_password" class="label label--required">{{ 'customer.password' | trans }}</label>
                                            <input id="loginForm_password" name="loginForm[password]" required="required" autocomplete="off" placeholder="{{ 'customer.login.password_placeholder' | trans }}" class="input input--expand" type="password">
                                        </div>
                                        <input id="loginForm_data" name="loginForm[data]" class="input input--expand" type="hidden">
                                        <input id="loginForm__token" name="loginForm[_token]" class="input input--expand" type="hidden" value="{{ csrf_token('loginForm') }}">

                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <input type="hidden" id="is_user_logged_in" value="true" />
                                        {% else %}
                                            <input type="hidden" id="is_user_logged_in" value="false" />
                                        {% endif %}
                                    </div>

                                    {% if data.currentCodeBucket=='CZ' %}
                                        <div class="form__actions">
                                            <button type="submit" class="form__action form__action--login button button--large button--expand" data-qa="submit-button">
                                                {{ 'customer.signin' | trans }}
                                            </button>
                                        </div>
                                        <br>
                                        <a class="link-cursor" href="https://www.globusbonus.cz/prihlaseni/zapomenute-heslo" target="_blank">{{ 'customer.forgotten-password.title' | trans }}?</a>
                                        <hr class='box-separator'>
                                        <p style="color:#71747c">
                                            > {{ 'customer.signup_subtext' | trans }}
                                            <a class="link-cursor-registration" href="https://www.globusbonus.cz/prihlaseni/registrace" target="_blank">{{ 'customer.login.form.join_now' | trans }}</a>
                                        </p>
                                        <input id="which_country" type="hidden" value="CZ">
                                    {% elseif data.currentCodeBucket=='DE' %}
                                        <div class="form__actions">
                                            <button type="submit" class="form__action form__action--login button button--large button--expand" data-qa="submit-button">
                                                {{ 'customer.signin' | trans }}
                                            </button>
                                            <input id="which_country" type="hidden" value="DE">
                                        </div>
                                    {% endif %}
                                </div>
                            </form>
                            <script>
                                window.addEventListener('DOMContentLoaded', () => {
                                    let summaryForm = document.querySelector('form[name=summaryForm]');
                                    if(summaryForm !== null) {
                                        summaryForm.addEventListener('submit', () => {
                                            let submitButton = summaryForm.querySelector('button');
                                            submitButton.disabled = true;
                                        })
                                    }
                                })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div id="reset-password-form-holder" class="{{ config.name }}__container" style="display: none">
                <div class="{{ config.name }}__title">
                    <span class="{{ config.name }}__title--text">{{ 'forget.password' | trans }}</span>
                    <button class="{{ config.name }}__close icon-close close-reset-password-icon"></button>
                </div>
                <form id="frm_resetPassword">
                    <p class="description">{{ 'enter.your.email.address.for.reset.password.title.1' | trans }}, {{ 'enter.your.email.address.for.reset.password.title.2' | trans }}</p>
                    <label class="label-description" for="txt_email_or_card">{{ 'email.or.card.number' | trans }}*</label>
                    <input type="text" id="txt_email_or_card" class="input input-expand" required="required" placeholder="{{ 'email.or.card.number' | trans }}">

                    <button type="button" class="btn-submit submit-form">{{ 'send' | trans }}</button>
                    <button type="button" class="btn-return-sign-in">{{ 'return.sign.in' | trans }}</button>

                    <div class="notRegisteredYet-box">
                        <span class="span-in-link"> Neu beim Abholservice? </span>
                        <a id="register-now-link" href="/register" style="cursor: pointer;">Jetzt registrieren</a>
                    </div>

                </form>
                {% embed molecule('pass-reset-flash-message') with {
                    data : {
                        action: '',
                        title: '',
                        text: '',
                        icon: null,
                        messageTextHolderClass: '',
                        currentCodeBucket: app.currentCodeBucket,
                    }
                } only %}
                {% endembed %}
            </div>
        </div>

        {% block button %}{% endblock %}

        <script type="text/javascript">

            var passwordInputField = document.getElementsByClassName('gigya-input-password gigya-show-checkmark gigya-valid');
            var passwordErrorMessage = document.getElementsByClassName('gigya-error-msg gigya-form-error-msg');


            function gigyaLoginScreen() {
                gigya.accounts.showScreenSet({
                    screenSet: 'CCCustomer-RegistrationLogin',
                    startScreen: 'gigya-login-screen',
                    containerID: 'checkoutCustomerLogin',
                    "onBeforeValidation": function (event) {

                    },
                    "onAfterScreenLoad": function(event) {
                        var lnk = document.getElementsByClassName('globus_register_link');
                        lnk[0].setAttribute("href", "/register");
                        lnk[0].removeAttribute("target");
                        lnk[1].removeAttribute("target");
                        lnk[1].setAttribute("href", "javascript: document.getElementsByClassName('js-toggler-radio__trigger')[1].click()")
                    },
                    "onBeforeSubmit": function(event) {

                        if(event.screen === 'gigya-login-screen')
                            document.querySelector("#loginForm_password.input").value = document.querySelector(".gigya-input-password.gigya-show-checkmark.gigya-valid").value;
                    },
                    "onAfterSubmit": function(event) {
                        if(event.response.errorCode == 0 && event.screen === 'gigya-login-screen') {

                            checkoutStep('login');
                            document.querySelector("#loginForm_email.input").value = event.profile.email;
                            document.querySelector("#loginForm_data").value = JSON.stringify(event);
                            document.getElementsByName("loginForm")[0].submit();

                        } else {
                            passwordInputField.item(0).value = '';
                            let responseMessage = '';
                            switch(event.response.errorDetails) {
                                case "Account Disabled":
                                    responseMessage = "Ihr Account ist gesperrt. Bitte Kundenservice kontaktieren.";
                                    break;
                                case "Account temporarily locked out":
                                        responseMessage = "Ihr Account ist temporär gesperrt. Bitte nach einiger Zeit erneut versuchen.";
                                    break;
                                default:
                                    responseMessage = "Ungültiger Benutzername oder Passwort.";
                            }
                            setTimeout(() => {
                                passwordErrorMessage.item(11).innerHTML = responseMessage;
                            }, 1);
                        }
                    }
                });
            }

            function checkoutStep(option)
            {
                window.dataLayer.push({
                    'event': 'eec.checkout',
                    'ecommerce':
                        {
                            'checkout':
                                {
                                    'actionField':
                                        {
                                            'step': '1',
                                            'option': option,
                                        }
                                },
                        },
                });
            }

            {% if data.currentCodeBucket=='DE' %}
                gigyaLoginScreen();
            {% endif %}

            var buttons = document.getElementsByTagName('button');
            if(buttons != null)
            {
                buttons[1].addEventListener('click', function()
                {
                    checkoutStep('guestCheckout');
                });
            }
        </script>
    {% elseif data.currentCodeBucket == 'CZ' %}
        <div class="{{ config.name }}__overlay">
            <div class="{{ config.name }}__container">
                <div class="{{ config.name }}__title">
                    <span class="{{ config.name }}__title--text">{{ 'Anmelden' | trans }}</span>
                    <button class="{{ config.name }}__close icon-close"></button>
                </div>
                <div class="{{ config.name }}__content">
                    <div>
                        <div class="form form--grid-indent form--login form--checkout-actions" data-qa="component form">
                            <form name="loginForm" method="post" action="/login_check">
                                <div class="form__container">
                                    <div class="form__fields grid grid--top">
                                        <div class="form__field col col--sm-12">
                                            <label for="loginForm_email" class="label label--required">{{ 'customer.login.email' | trans }}</label>
                                            <input id="loginForm_email" name="loginForm[email]" required="required" placeholder="{{ 'customer.login.email_placeholder' | trans }}" class="input input--expand" type="text">
                                        </div>
                                        <div class="form__field col col--sm-12">
                                            <label for="loginForm_password" class="label label--required">{{ 'customer.password' | trans }}</label>
                                            <input id="loginForm_password" name="loginForm[password]" required="required" autocomplete="off" placeholder="{{ 'customer.login.password_placeholder' | trans }}" class="input input--expand" type="password">
                                        </div>
                                        <input id="loginForm_data" name="loginForm[data]" class="input input--expand" type="hidden">
                                        <input id="loginForm__token" name="loginForm[_token]" class="input input--expand" type="hidden" value="{{ csrf_token('loginForm') }}">

                                    </div>
                                    <div class="form__actions">
                                        <button type="submit" class="form__action form__action--login button button--large button--expand" data-qa="submit-button">
                                            {{ 'customer.signin' | trans }}
                                        </button>
                                    </div>
                                    <br>
                                    <a class="link-cursor" href="https://www.globusbonus.cz/prihlaseni/zapomenute-heslo" target="_blank">{{ 'customer.forgotten-password.title' | trans }}?</a>
                                    <hr class='box-separator'>
                                    <p style="color:#71747c">
                                        > {{ 'customer.signup_subtext' | trans }}
                                        <a class="link-cursor-registration" href="https://www.globusbonus.cz/prihlaseni/registrace" target="_blank">{{ 'customer.login.form.join_now' | trans }}</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}


