{% extends model('component') %}

{% define config = {
    name: 'checkbox',
    tag: 'span'
} %}

{% define data = {
    label: '',
    containerID: '',
    isChecked: false,
} %}

{% define attributes = {
    type: 'checkbox',
    container: data.containerID,
} %}

{% set disabled = attributes['disabled'] | default(false) %}

{% block extraAttributes %}
    {%- if disabled %}disabled{% endif -%}
{% endblock %}

{% block body %}
    <label class="gdpr-form {{ component.renderClass(config.name ~ '__container', modifiers) }}" {{ qa('label') }}>
        <input {{ data.isChecked == true ? 'checked' : '' }} class="{{ config.name }}__input {% if app.currentCodeBucket == 'CZ'%}{{ config.name }}__CZ{% endif %} {% block inputClass %}{% endblock %} " {{ block('attributes') }}/>

        <span class="{{ component.renderClass(config.name ~ '__box', modifiers) }}">
            {% include atom('icon') with {
                class: component.renderClass(config.name ~ '__check', modifiers),
                data: {
                    name: 'check-code-x',
                },
            } only %}
        </span>

        {%- block labelContainer -%}
            <span class="{{ component.renderClass(config.name ~ '__label', modifiers) }} {% block labelClass %}{% endblock %}">
                {%- block label -%}{{ data.label | raw }}{%- endblock -%}
            </span>
        {%- endblock -%}
    </label>
{% endblock %}
