{% extends model('component') %}

{% define config = {
    name: 'order-articles-with-colors',
} %}

{% define data = {
    orderNumber: '',
    articles: []
} %}

{% block body %}
    <div class="{{ config.name }}__display-flex">
        {% for article in data.articles %}
            <div class="{{ config.name }}__circle-wrapper">
                <div class="{{ config.name }}__circle-spacing">
                    {% include atom('circle') with {
                        data: {
                            content: article.pickingColor.idColor,
                            backgroundColor: article.pickingColor.backColor,
                            textColor: article.pickingColor.foreColor,
                            borderColor: article.pickingColor.circleColor,
                            paddingLeft: '',
                            paddingTop: '0.2rem',
                        }
                    } %}
                    <div class="{{ config.name }}__article-quantity">{{ article.quantity }}</div>
                </div>
            </div>


        {% endfor %}

    </div>
{% endblock body %}
