{% extends model('component') %}

{% define config = {
    name: 'order-articles-with-colors',
} %}

{% define data = {
    orderNumber: '',
    articles: [],
    sku: '',
} %}

{% block body %}
    <div class="{{ config.name }}__display-flex">
        {% for article in data.articles %}
            {% if article.pickingItemPosition == data.orderNumber %}
                {% set articleBorderColor = article.pickingColor.circleColor %}
            {% else %}
                {% set articleBorderColor = 'transparent' %}
            {% endif %}
            {% set positionUrl= '/picker/multi-picking/multi-order-picking?position=' ~ article.pickingItemPosition ~ '&sku=' ~ data.sku  %}
            <div class="{{ config.name }}__circle-wrapper">
                <div class="{{ config.name }}__circle-spacing">
                    <a id="idPosition__{{ article.pickingItemPosition }}" href="{{ positionUrl }}">
                        {% include atom('circle') with {
                            data: {
                                content: article.pickingColor.idColor,
                                backgroundColor: article.pickingColor.backColor,
                                textColor: article.pickingColor.foreColor,
                                borderColor: articleBorderColor,
                                paddingLeft: '',
                                paddingTop: '0.2rem',
                            }
                        } %}
                    </a>
                    <div class="{{ config.name }}__article-quantity">{{ article.quantity }}</div>
                </div>
            </div>


        {% endfor %}

    </div>
{% endblock body %}
