{% extends model('component') %}

{% define config = {
    name: 'summary-sidebar',
} %}

{% define data = {
    shipment: required,
    isGiftCardExists: false,
    canEdit: false,
    billingAddress: null,
    customer: [],
    payment: null,
    merchantName: app['merchant_name'] | default,
    cartNote: _view.quoteTransfer.cartNote,
    currentCodeBucket: app.currentCodeBucket,
    isSubstitutionAllowed: _view.quoteTransfer.isSubstitutionAllowed,
    isTransportboxEnabled: false
} %}

{% block body %}
    {% set transportboxImageUrl = "https://globus-prod-product-images.s3.eu-central-1.amazonaws.com/transportboxes.jpg" %}

    {% block adress %}
        <div class="{{ config.name }}__item col col--sm-12">
            <div class="{{ config.name }}__row">
                <div class="{{ config.name }}__col {{ config.name }}__col--wide">
                    {% block addressHeading %}
                        <div class="{{ config.name }}__heading">
                            <h2 class="{{ config.name }}__title"></h2>

                            {% if data.canEdit %}
                                <a href="{{ url('checkout-address') }}" class="link link--darkest link--edit">
                                    {% include molecule('icon-tooltip') with {
                                        modifiers: ['medium-up'],
                                        data: {
                                            icon: 'edit',
                                            text: 'general.edit.button' | trans,
                                        },
                                    } only %}
                                </a>
                            {% endif %}
                        </div>
                    {% endblock %}
                </div>

                {% if data.billingAddress %}
                    <div class="{{ config.name }}__col">
                        {% block billingAddress %}
                            {% if app.currentCodeBucket == 'DE' %}
                                {% set address = data.billingAddress %}
                                {% set fullShippingName = address.lastName ~ ' ' ~ address.firstName %}
                                {% set fullAddress = address.address1 ~ ' ' ~ address.address2 ~ ' ' ~ (address.floor | default | trans) %}

                                <span class="{{ config.name }}__title">{{ 'checkout.step.summary.billing_address' | trans }}</span>

                                {% if address.company %}
                                    <span class="{{ config.name }}__text">{{ address.company }}</span>
                                {% endif %}

                                <span class="{{ config.name }}__text">{{ fullShippingName }}</span>
                                <span class="{{ config.name }}__text">{{ fullAddress }}</span>

                                {% if address.zipCode or address.city is not empty %}
                                    <span class="{{ config.name }}__text">{{ address.zipCode }} {{ address.city }}, {{ ('countries.iso.' ~ address.iso2code) | trans }}</span>
                                {% endif %}

                                {% if (address.phone is not empty) and (address.phone|length > 4) %}
                                    <span class="{{ config.name }}__text">{{ 'customer.address.phone' | trans }}: {{ address.phone }}</span>
                                {% endif %}

                                {% if (address.cellPhone is not empty) and (address.cellPhone|length > 4) %}
                                    <span class="{{ config.name }}__text">{{ 'customer.address.mobile_phone' | trans }}: {{ address.cellPhone }}</span>
                                {% endif %}

                            {% else %}
                                {% set address = data.billingAddress %}
                                {% set fullShippingName = address.lastName ~ ' ' ~ address.firstName %}
                                {% set fullAddress = address.address1 ~ ' ' ~ address.address2 ~ ' ' ~ (address.floor | default | trans) %}

                                <span class="{{ config.name }}__title-CZ">{{ 'checkout.step.summary.billing_address' | trans }}</span>

                                {% if address.company %}
                                    <span class="{{ config.name }}__text-CZ">{{ address.company }}</span>
                                {% endif %}

                                <span class="{{ config.name }}__text-CZ">{{ fullShippingName }}</span>
                                <span class="{{ config.name }}__text-CZ">{{ fullAddress }}</span>

                                {% if address.phone %}
                                    <span class="{{ config.name }}__text-CZ">{{ address.phone }}</span>
                                {% endif %}

                                {% if address.zipCode or address.city is not empty %}
                                    <span class="{{ config.name }}__text-CZ">{{ address.zipCode }} {{ address.city }}, {{ ('countries.iso.' ~ address.iso2code) | trans }}</span>
                                {% endif %}
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endif %}
                <div class="{{ config.name }}__col">
                    {% block method %}
                        {% if app.currentCodeBucket == 'DE' %}
                            <span class="{{ config.name }}__title">{{ data.shipment.method.carrierName | trans }}</span>

                            {% if data.merchantName is defined %}
                                <span class="{{ config.name }}__text">{{ data.merchantName }}</span>
                            {% endif %}

                            <span class="{{ config.name }}__text">{{ data.shipment.method.name | trans }}: {{ data.shipment.method.storeCurrencyPrice | money(true, data.shipment.method.currencyIsoCode) }}</span>
                        {% else %}
                            <span class="{{ config.name }}__title-CZ">{{ data.shipment.method.carrierName | trans }}</span>

                            {% if data.merchantName is defined %}
                                <span class="{{ config.name }}__text-CZ">{{ data.merchantName }}</span>
                            {% endif %}

                            <span class="{{ config.name }}__text-CZ">{{ data.shipment.method.name | trans }}: {{ data.shipment.method.storeCurrencyPrice | money(true, data.shipment.method.currencyIsoCode) }}</span>
                        {% endif %}
                    {% endblock %}

                    {% block message_for_picker %}
                        <div style="margin-top: 15px">
                            {% if app.currentCodeBucket == 'DE' %}
                                <span class="{{ config.name }}__title {{ config.name }}__title--sub">{{ 'cart.checkout.address.abholstation.note.down' | trans }}</span>

                                {% if data.isSubstitutionAllowed %}
                                    <span class="{{ config.name }}__title {{ config.name }}__title--sub">{{ 'checkout.summary.page.substitutions.info.checked' | trans }}</span>
                                {% else %}
                                    <span class="{{ config.name }}__title {{ config.name }}__title--sub">{{ 'checkout.summary.page.substitutions.info.unchecked' | trans }}</span>
                                {% endif %}

                                <span class="{{ config.name }}__cart-note">{{ data.cartNote }} </span>
                            {% else %}
                                <span class="{{ config.name }}__title-CZ {{ config.name }}__title-CZ--sub">{{ 'cart.checkout.address.abholstation.note.down' | trans }}</span>
                                <span class="{{ config.name }}__cart-note">{{ data.cartNote }} </span>
                            {% endif %}
                        </div>
                    {% endblock %}
                </div>
            </div>
            {% if app.currentCodeBucket != 'CZ' %}
                {% if data.isTransportboxEnabled == true %}
                    {% block transportbox %}
                        <div class="{{ config.name }}__row">
                            <div class="{{ config.name }}__col">
                                <span class="{{ config.name }}__title">{{ 'checkout.transport.box.headline' | trans }}</span>
                            </div>
                        </div>
                        <div class="{{ config.name }}__row">
                            <div class="{{ config.name }}__col col col--sm-12 col--md-7 col--lg-7">
                                <span class="{{ config.name }}__text">{{ 'checkout.overview.transport.box.text' | trans }}</span>
                            </div>
                            <div class="{{ config.name }}__image-div col col--sm-12 col--md-3 col--lg-3">
                                <img class="{{ config.name }}__image" src="{{ transportboxImageUrl }}">
                            </div>
                        </div>
                    {% endblock %}
                {% endif %}
            {% endif %}
        </div>
    {% endblock %}

    {% if not data.isGiftCardExists %}
        {% block delivery %}
            <div class="{{ config.name }}__item col col--sm-12">
                <div class="{{ config.name }}__row">
                    <div class="{{ config.name }}__col {{ config.name }}__col--wide">
                        {% block shippingHeading %}
                            <div class="{{ config.name }}__heading">
                                {% if app.currentCodeBucket == 'DE' %}
                                    <h2 class="{{ config.name }}__title">{{ 'checkout.step.shipment.title' | trans }}</h2>
                                {% else %}
                                    <h2 class="{{ config.name }}__title-CZ">{{ 'checkout.step.shipment.title' | trans }}</h2>
                                {% endif %}

                                {% if data.canEdit %}
                                    <a href="{{ url('checkout-shipment') }}" class="link link--darkest link--edit">
                                        {% include molecule('icon-tooltip') with {
                                            modifiers: ['medium-up'],
                                            data: {
                                                icon: 'edit',
                                                text: 'general.edit.button' | trans,
                                            },
                                        } only %}
                                    </a>
                                {% endif %}
                            </div>
                        {% endblock %}
                    </div>

                    <div class="{{ config.name }}__col">
                        {% block date %}
                            {% set splittedDeliveryDate = data.shipment.requestedDeliveryDate | split('_') %}
                            {% if app.currentCodeBucket == 'DE' %}
                                <span class="{{ config.name }}__text">{{  splittedDeliveryDate | first | formatDate }} - {{ splittedDeliveryDate | last }}</span>
                            {% else %}
                                <span class="{{ config.name }}__text-CZ">{{  splittedDeliveryDate | first | formatDate }} - {{ splittedDeliveryDate | last }}</span>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endif %}

    {% if data.currentCodeBucket=='DE' %}
        {% block payback %}
            <div class="{{ config.name }}__item col col--sm-12 payback-banner">
                <div class="{{ config.name }}__row">
                    <div class="col--lg-8">
                        <h3 class="{{ config.name }}__title">{{ 'checkout.step.payback.title' | trans }}</h3>
                        <div class="payback-form-holder">
                            <form id="frm_payback" class="form_payback" method="post">
                                <input type="hidden" name="linkPayBackInput" value="">
                                <div style="display: flex">
                                    <div class="payback-icon">
                                        <img src="{{ publicPath('images/pb-badge-pdp.png') }}" width="70px" height="25" style="margin-right: 5px;" />
                                    </div>
                                    <div class="payback-name-description" style="text-transform: uppercase">{{ 'checkout.step.payback.name.description' | trans }}</div>
                                </div>
                                <div class="input-holder">
                                    <div class="input-text">
                                        <input type="text" id="txt_paymentCardNumber"
                                               name="paymentCardNumber" class="payment-card-number"
                                               placeholder="{{ 'checkout.step.payback.name.description' | trans }}"
                                               value="{{ data.customer.paybackNumber }}"
                                        >
                                            <div class="tooltip-background">
                                                <div class="position-tool-tip">
                                                    <div class="tooltip-information">
                                                        <h2 style="padding: 13px">{{ 'checkout.step.payback.tooltip.title' | trans }}</h2>
                                                        <div>
                                                            <p>{{ 'checkout.step.payback.tooltip.description' | trans }}</p>
                                                            <p style="color: gray;font-weight: normal">{{ 'checkout.step.payback.tooltip.paragraph' | trans }}</p>
                                                        </div>
                                                        <div class="info-payback">
                                                            <img src={{ publicPath("/images/info-card.png")}}  width="200px" height="100px" />
                                                        </div>
                                                    </div>
                                                    {% include atom('icon') with {
                                                        modifiers: ['big'],
                                                        class: 'question__mark',
                                                        data: {
                                                            name: 'help',
                                                        },
                                                    } only %}
                                                </div>
                                            </div>
                                    </div>
                                    <button id="btn_submitPayBackNumber" type="submit">{{ 'checkout.step.payback.save' | trans }}</button>
                                </div>
                                <div class="error-message" style="visibility: hidden">{{ 'checkout.step.payback.error.message' | trans }}</div>
                                <div class="checkbox-holder" style="margin-bottom: 10px">
                                    {% include atom('checkbox') with {
                                        data: {
                                            isChecked: data.customer.isConnected
                                        }
                                    } only %}
                                    <span style="margin-bottom: 3px;color: #000;font-weight: normal">{{ 'checkout.step.payback.checkbox.mark' | trans }}</span>
                                </div>
                                <input type="hidden" id="myGlobusCard" value= {{ data.customer.myGlobusCard }}>
                                <input type="hidden" id="isPaybackConnected" value= {{ data.customer.isConnected }} >
                                <div class="additional-info" style="color: #000;font-weight: normal">{{ 'checkout.step.payback.label' | trans }}. {{ 'checkout.step.payback.label.two' | trans }}, {{ 'checkout.step.payback.label.three' | trans }} <a target="_blank" href="https://www.globus.de/kundenprogramme/payback/index.php" style="text-decoration:none;color:#ea8901;">{{ 'checkout.step.payback.checkbox.marked' | trans }}</a></div>
                            </form>
                        </div>
                    </div>
                    <div class="col--lg-4">
                        <img src="{{ publicPath('images/pb-pointee.png') }}" width="230px" height="130px"/>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}
