{% extends model('component') %}

{% define config = {
    name: 'register-page-left-side',
} %}

{% block body %}
    <div class="{{ config.name }}__body">
        <div>
            <h1>1€ Servicegebühr sparen und jetzt registrieren!</h1>
        </div>
        <div class="col col--lg-12 {{ config.name }}__top-margin">
            <div class="col col--lg-8">
                <p class="{{ config.name }}__font-smaller">Holen Sie sich Ihre persönliche Kundenkarte und erhalten Sie viele Vorteile und Vergünstigungen.</p>
            </div>
            <div class="col col--lg-4">
                <img src="{{ publicPath('images/meinglobus-card.png') }}" class="{{ config.name }}__image" />
            </div>
        </div>
        <div>
            <p class="{{ config.name }}__font-smaller"><img src="{{ publicPath('images/meinglobus-vorteil-icon1.png') }}" class="{{ config.name }}__icon" /> Mit Tankeschön bis zu 4 Cent pro Liter sparen</p>
        </div>
        <div>
            <p class="{{ config.name }}__font-smaller"><img src="{{ publicPath('images/meinglobus-vorteil-icon2.png') }}" class="{{ config.name }}__icon" /> Scan & Go nutzen und Zeit sparen</p>
        </div>
        <div>
            <p class="{{ config.name }}__font-smaller"><img src="{{ publicPath('images/meinglobus-vorteil-icon2.png') }}" class="{{ config.name }}__icon" /> Exklusive Angebote, Coupons, Veranstaltungen und mehr</p>
        </div>
        <div>
            <h2>Möchten Sie eine Kundenkarte, um die Mein Globus Vorteile zu nutzen?</h2>
        </div>
        <div class="{{ config.name }}__top-margin">
            <form name="form-radio-kundenkarte">
                <label><input type="radio" name="radio_kundenkarte" value="Yes"/> Ja</label>
                <label><input type="radio" name="radio_kundenkarte" value="No"/> Nein</label>
            </form>

            <div id="globus-card-yes"> {# class="hidden" #}
                <p class="{{ config.name }}__font-smaller">Wenn Sie bereits eine Karte im Markt mitgenommen haben, können Sie hier die Kartennummer eingeben.</p>
                <input type="text" class="input" />
                <p class="{{ config.name }}__font-smaller">Mit dem Klick auf Weiter bestätigen Sie die Mein Globus-Teilnahmebedingungen.</p>
            </div>
        </div>
        <div class="{{ config.name }}__top-margin">
            <p class="{{ config.name }}__font-smaller">{% include atom('checkbox') with {
                } only %}
                Ich stimme den Bedingungen der Werbeeinwilligung zu, um über Produkte und Angebote informiert zu werden.</p>
        </div>
    </div>
{% endblock %}
