{% extends molecule('search-form', '@SprykerShop:ShopUi') %}

{% block extraClass %} {{ config.jsName }}{% endblock %}

{% define data = {
    currentCodeBucket: app.currentCodeBucket
} %}

{% block body %}
    {% if data.currentCodeBucket != 'DE' %}
        <form action="{{ data.searchUrl }}">
            <div class="grid grid--middle grid--no-wrap">
                <button class="{{ config.name }}__submit button button--skinless">
                    {% if app.currentCodeBucket == 'DE' %}
                        {% include atom('icon') with {
                            class: 'icon--color-orange',
                            modifiers: ['big'],
                            data: {
                                name: 'search',
                            },
                        } only %}
                    {% else %}
                        {% include atom('icon') with {
                            class: 'icon--color-green',
                            modifiers: ['big'],
                            data: {
                            name: 'search',
                            },
                        } only %}
                    {% endif %}
                </button>

                <input name="q"
                       type="text"
                       class="input input--expand input--search suggest-search__input {{ config.name }}__input {{ config.jsName }}__input--{{ attributes['data-search-id'] }}"
                       placeholder="{{ 'global.search' | trans }}"
                       value="{{ data.searchValue }}"
                       autocomplete="off">

               <button class="{{ config.name }}__clear {{ config.jsName }}__clear button button button--clear is-hidden" type="button">
                    {% if app.currentCodeBucket == 'DE' %}
                        {% include atom('icon') with {
                            class: 'icon--color-orange',
                            data: {
                                name: 'close-circle',
                            },
                        } only %}
                    {% else %}
                        {% include atom('icon') with {
                            class: 'icon--color-green',
                            data: {
                                name: 'close-circle',
                            },
                        } only %}
                    {% endif %}
                </button>
            </div>

            {% include molecule('suggest-search') with {
                attributes: {
                    'suggestion-url': path('search/suggestion'),
                    'input-class-name': config.jsName ~ '__input--' ~ attributes['data-search-id'],
                    'wrap-class-name': config.jsName,
                    'wrap-active-class-name': config.name ~ '--active',
                    'clear-button-class-name': config.jsName ~ '__clear',
                },
            } only %}
        </form>

    {% else %}
        {# FACT FINDER DIO #}

            {# old part!!!!!!! #}
            {#<ff-communication url="https://ng-search-web-components.fact-finder.de/fact-finder" version="ng" api="v4" channel="demo-bergfreunde-en" currency-code="EUR" currency-country-code="de-DE"></ff-communication>#}


            {#<nav class="demo-variations">
                <span class="title">Variations:</span>
                <a>Regular</a>
                <a href="./infinite-scrolling.html">Infinite Scrolling</a>
            </nav>#}

            {#<ff-communication url="https://ng-search-web-components.fact-finder.de/fact-finder" version="ng" api="v4" channel="demo-bergfreunde-en" currency-code="EUR" currency-country-code="de-DE" default-query="backpack" search-immediate=""></ff-communication>#}

            {# <ff-communication url="https://ng-search-web-components.fact-finder.de/fact-finder" version="ng" api="v4" channel="demo-bergfreunde-en" currency-code="EUR" currency-country-code="de-DE">

            </ff-communication>#}


            {# latest !!!!!!! #}

            {#{% include atom('header-navigation', 'FactFinderWebComponents') with {
                data: {
                    properties: {
                        component: 'group-count="4" group-size="4" hide-empty-groups="true" fetch-initial="true"'
                    }
                }
            } only %}#}


        {% include molecule('searchbox', 'FactFinderWebComponents') with {
            class: config.name ~ '__search-form',
            attributes: {
                'data-search-id': 'desktop',
            },
            data: {
                properties: {
                    component: 'suggest-onfocus="true"
                    use-suggest="true"'
                },
                searchValue: data.searchValue,
                searchUrl: data.searchUrl
            }
        } only %}

        {% include molecule('suggest', 'FactFinderWebComponents') with {
            class: 'suggest__hide',
            data: {
                properties: {
                    component: '',
                    productItemType: 'productName',
                    searchItems: [
                        {
                            'type': 'searchTerm',
                            'title': 'Search term'
                        },
                        {
                            'type': 'category',
                            'title': 'Category'
                        },
                        {
                            'type': 'brand',
                            'title': 'Brand Suggestion'
                        },
                        {
                            'type': 'productName',
                            'title': 'Product Suggestion'
                        },
                    ],
                }
            }
        } only %}

    {% endif %}

{% endblock %}
