{% extends view('profile', '@SprykerShop:CustomerPage') %}

{% define data = {
    scriptSrc: app.customerCDCApiUrl,
    currentCodeBucket: app.currentCodeBucket,
} %}

{% block customerContent %}
    {% if data.currentCodeBucket == 'CZ' %}
        <div class="grid grid--justify grid--stretch">
            <div class="col--lg-12 col--sm-12 spacing-bottom spacing-bottom--biggest">
                {% include molecule('customer-form', 'CustomerPage') with {
                    class: 'box',
                    modifiers: ['customer-overview'],
                    data: {
                        title: 'customer.profile.update' | trans,
                        form: data.forms.profile,
                        layout: {
                            salutation: 'col col--sm-12 col--lg-4 col--xl-4',
                            first_name: 'col col--sm-12 col--lg-4 col--xl-4',
                            last_name: 'col col--sm-12 col--lg-4 col--xl-4',
                        },
                        submit: {
                            enable: false,
                        },
                    },
                } only %}
            </div>

            <div class="col--lg-12 col--sm-12 spacing-bottom spacing-bottom--biggest">
                <div class="box">
                    {% include molecule('title-box', 'CustomerPage') with {
                        modifiers: ['borderless'],
                        data: {
                            title: "forms.forgot-password" | trans,
                        },
                    } only %}

                    <div class="grid grid--justify grid--middle">
                        <br>
                        <a target="_blank" href="https://www.globusbonus.cz/prihlaseni/zapomenute-heslo" class="button button--alternative button--font-CZ col col--sm-12 col--lg-auto spacing-bottom spacing-bottom--big">{{ "forms.forgot-password" | trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    <style type="text/css">
        .gigya-screen, .gigya-screen * {
            font-family: "Fra Sans", "Open Sans", Arial, "Lucida Grande", sans-serif;
        }
        .gigya-screen .gigya-label-text{
            font-family: "Fra Sans", "Open Sans", Arial, "Lucida Grande", sans-serif;
        }
        .gigya-screen.landscape {
            padding-top: 0;
        }
        .gigya-screen .gigya-composite-control.gigya-composite-control-label, .gigya-screen .gigya-composite-control.gigya-composite-control-link {
            display: none;
        }
    </style>
    <script language="JavaScript" src="{{ data.scriptSrc }}"></script>
    <div class="grid grid--justify grid--stretch">
        <div class="col--lg-6 col--sm-12 spacing-bottom spacing-bottom--biggest" id="customer-profile-form">

        </div>
        <div class="col--lg-6 col--sm-12 spacing-bottom spacing-bottom--biggest" style="display: none">
            {% include molecule('customer-form', 'CustomerPage') with {
                class: 'page-layout-customer__col-first box',
                modifiers: ['customer-overview'],
                data: {
                    title: 'customer.profile.update' | trans,
                    form: data.forms.profile,
                    layout: {
                        salutation: 'col col--sm-12 col--lg-4 col--xl-4',
                        first_name: 'col col--sm-12 col--lg-4 col--xl-4',
                        last_name: 'col col--sm-12 col--lg-4 col--xl-4',
                    },
                    submit: {
                        enable: true,
                    },
                },
            } only %}
        </div>

        <div class="col--lg-6 col--sm-12 spacing-bottom spacing-bottom--biggest" style="display: none">
            {% include molecule('customer-confirmation-form', 'CustomerConfirmationPage') ignore missing with {
                modifiers: ['borderless'],
                class: 'page-layout-customer__col-last box',
                data: {
                    title: 'customer.password.update' | trans,
                    form: data.forms.password,
                    submitButtonText: 'forms.submit-btn',
                    passwordFieldName: '[new_password][password]',
                    submitClass: 'button button--large button--expand-mobile spacing spacing--reset',
                },
                attributes: {
                    'is-customer-form-exist': false,
                    'is-address-form-exist': false,
                },
            } only %}
        </div>

        <div class="col--sm-12 box" style="display: none">
            {% include molecule('title-box', 'CustomerPage') with {
                modifiers: ['borderless'],
                data: {
                    title: "customer.profile.delete" | trans,
                },
            } only %}

            <div class="grid grid--justify grid--middle">
                <p class="col spacing-bottom spacing-bottom--big">{{ "customer.profile.delete.description" | trans }}</p>
                <a href="{{ url('customer/delete') }}" class="button button--alternative col col--sm-12 col--lg-auto spacing-bottom spacing-bottom--big">{{ "customer.profile.delete" | trans }}</a>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function gigyaProfileScreen() {
            gigya.accounts.showScreenSet({
                screenSet: 'CCCustomer-ProfileUpdate',
                startScreen: 'globus-profile-update-screen',
                containerID: 'customer-profile-form',
                "onAfterSubmit": function(event) {
                    if(event.response.errorCode == 0 && event.screen === 'globus-profile-update-screen') {
                        document.querySelector("#profileForm_data").value = JSON.stringify(event);
                        document.querySelector("form[name='profileForm']").submit();
                    }
                }
            });
        }

        gigyaProfileScreen();
    </script>
    {% endif %}
{% endblock %}
