{% extends model('component') %}

{% define config = {
    name: 'flag',
    tag: 'span'
} %}

{% define data = {
    text: '',
} %}

{% block body %}

    {% if app.currentCodeBucket=='CZ' %}
        {% if data.product_type == 'goproduct' %}
            <span><img src="{{ publicPath('images/globus-product.png') }}" /></span>
        {% endif %}
    {% endif %}

    {% set tooltip_text = data.text == '' ? 'discount' : data.text %}

    {% if data.type == 'direct_discount' %}
        {% if data.discount is defined and data.discount > 0 %}
            <span class="{{ component.renderClass(config.name ~ '__text', modifiers) }} tooltip">
                {{ data.discount_percentage }} %
                <span class="tooltiptext">
                    {{ tooltip_text | trans }}
                </span>
            </span>
        {% else %}
            {% set data = data | merge({"text": "DD%"}) %}
            <span class="{{ component.renderClass(config.name ~ '__text', modifiers) }} tooltip">
                {{data.text}}
                <span class="tooltiptext">
                    {{ tooltip_text | trans }}
                </span>
            </span>
        {% endif %}

    {% elseif data.type == 'cashback_discount' %}
        {% if data.discount is defined and data.discount > 0 %}
            <span class="{{ component.renderClass(config.name ~ '__text', modifiers) }} tooltip">
                {{ data.discount_percentage }} %
             <span class="tooltiptext">
                {{ tooltip_text | trans }}
            </span>
        </span>
        {% else %}
            {% set data = data | merge({"text": "CB%"}) %}
            <span class="{{ component.renderClass(config.name ~ '__text', modifiers) }} tooltip">
                {{data.text}}
             <span class="tooltiptext">
                {{ tooltip_text | trans }}
            </span>
        </span>
        {% endif %}

    {% else %}
    {% if data.discount is defined and data.discount > 0 %}
        <span class="{{ component.renderClass(config.name ~ '__text', modifiers) }} tooltip">
            {{ data.discount_percentage }} %
             <span class="tooltiptext">
                {{ tooltip_text | trans }}
            </span>
        </span>
        {% else %}
        <span class="{{ component.renderClass(config.name ~ '__text', modifiers) }} tooltip">
            {{data.text | trans}}
        </span>
            {% endif %}
    {% endif %}
{% endblock %}
