{% extends template('page-layout-cart', 'CartPage') %}

{% define data = {
    cart: _view.cart,
    cartItems: _view.cartItems,
    isQuoteValid: _view.isQuoteValid,
    isQuoteEditable: _view.isQuoteEditable,
    attributes: _view.attributes,
    request: app.request,
    isHardThresholdReached: _view.cart.isHardThresholdReached | default(false),
    isHardMaxThresholdReached: _view.cart.isHardMaxThresholdReached | default(false),
    title: 'cart.cart' | trans,
    orderLimitationMessage: _view.orderLimitationMessage | default,
    taxPayments: _view.taxPayments,
    path: '/',
} %}

{% set canProceedToCheckout = data.cart.items is not empty
    and data.isQuoteValid
    and (not is_granted('IS_AUTHENTICATED_FULLY') or can('WriteSharedCartPermissionPlugin', data.cart.idQuote))
    and not data.isHardThresholdReached and not data.isHardMaxThresholdReached
%}

{% block title %}
    {% widget 'CartOperationsWidget' args [data.cart] use view('cart-operations-title', 'MultiCartWidget') only %}{% endwidget %}
{% endblock %}

{% block content %}

    {% if data.cart.idQuote is not empty %}
        <div>
            {% widget 'CreateShoppingListFromCartWidget' args [data.cart.idQuote] only %}{% endwidget %}
        </div>
    {% endif %}

    {% if data.cart.items is empty %}
        <div>
            {% if app.currentCodeBucket == 'DE' %}
                <h1 class="title title--heading title--padding">{{ data.title }}</h1>
            {% else %}
                <h1 class="title title--heading-CZ title--padding">{{ data.title }}</h1>
            {% endif %}
        </div>
        <div class="page-layout-cart__empty text-center">
            {% if app.currentCodeBucket == 'DE' %}
                <h1 class="spacing-top spacing-top--bigger">{{ 'cart.empty' | trans }}</h1>
            {% else %}
                <h1 class="spacing-top spacing-top--bigger title title--heading-CZ">{{ 'cart.empty' | trans }}</h1>
            {% endif %}
            <div class="warenkorb-content">
                <div class="text-and-button">
                    <p class="info">{{ 'page.detail.add-to-cart.continue.shopping' | trans }}</p>
                    {% if app.currentCodeBucket == 'DE' %}
                        <a class="button" href="{{ data.path }}">{{ 'cart.empty.button' | trans }}</a>
                    {% else %}
                        <a class="button button--font-CZ" href="{{ data.path }}">{{ 'cart.empty.button' | trans }}</a>
                    {% endif %}
                </div>
                <img class="warenkorb-img" src={{ publicPath("/images/warenkorb.png")}} >
            </div>
        </div>
    {% else %}

        <div class="spacing-x spacing-x--big">
            <div class="floatLeft">
                {% if app.currentCodeBucket == 'DE' %}
                    <h1 class="col headline-cart">{{ 'cart.title_content' | trans }}</h1>
                {% else %}
                    <h1 class="col headline-cart-CZ">{{ 'cart.title_content' | trans }}</h1>
                {% endif %}
                <a class="cart-box--linkDecoration_mobile" href="javascript:history.go(-1)">{{'cart.continue_shopping' | trans }}</a>
            </div>

            <div class="is-hidden-lg-xl buttonRight">

                {% if canProceedToCheckout %}
                    {% if app.currentCodeBucket == 'DE' %}
                        <a class="button bttnStyle" href="javascript:void(0)"
                           onclick="beginCheckout('{{ url('checkout-index') }}')"
                            {{ qa('cart-go-to-checkout') }}>
                            {{ 'cart.checkout' | trans }}
                        </a>
                    {% else %}
                        <a class="button bttnStyle-CZ button--expand button--bigfont button--font-CZ button--backgroundcolor-CZ" style="margin-left: 520px" href="javascript:void(0)"
                           onclick="beginCheckout('{{ url('checkout-index') }}')"
                            {{ qa('cart-go-to-checkout') }}>
                            {{ 'cart.checkout' | trans }}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="grid grid--stretch spacing-x spacing-x--big">
            <div class="col col--sm-12 col--lg-8">

                <div class="page-layout-cart__col page-layout-cart__col--content">
                    {% if data.orderLimitationMessage %}
                        <div class="cart-limitation-message">
                            {{ data.orderLimitationMessage | nl2br }}
                        </div>
                    {% endif %}


                    <div class="cart-box grid grid--middle grid--justify allArticle" >
                        <span class="ihreArticle">{{ 'cart.mobile.your_articles' | trans}} ({{ data.cartItems|length }})</span>
                        <a class="cart-box--linkDecoration" href="javascript:history.go(-1)">{{'cart.continue_shopping' | trans }}</a>
                        <span class="col">
                            <form action="{{ path('cart/clear') }}" method="post">
                                <input type="hidden" name="token" value="{{ csrf_token('clear-cart') }}"/>
                                <input class="cart-box__quantity link" type="submit" value="{{ 'cart.clear' | trans }}">
                            </form>
                        </span>
                    </div>

                    <div class="header-articles">
                        <div class="product">
                            <p>{{ 'cart.header.product' | trans }}</p>
                        </div>
                        <div class="product">
                            {% if app.currentCodeBucket == 'DE' %}
                                <p class="product__item1">{{ 'cart.header.quantity' | trans}}</p>
                                <p class="product__item2">{{ 'cart.header.single_price' | trans}}</p>
                            {% else %}
                                <p class="product__item1-CZ">{{ 'cart.header.quantity' | trans}}</p>
                                <p class="product__item2-CZ">{{ 'cart.header.single_price' | trans}}</p>
                            {% endif %}
                            <p class="product__item3">{{ 'cart.header.price' | trans}}</p>
                        </div>
                    </div>

                    {% for cartItem in data.cartItems %}
                        {% include molecule('product-card-item') with {
                            data: {
                                product: data.cart,
                                productItem: cartItem,
                                attributes: data.attributes[cartItem.sku] | default([]),
                            },
                        } only %}
                        <script>
                            window.shoppingCartList = window.shoppingCartList || [];
                            window.shoppingCartList.push({
                                'name': '{{ cartItem.name | escape('js') }}',
                                'id': '{{ cartItem.id }}',
                                'sku': '{{ cartItem.sku }}',
                                'price': '{{ cartItem.unitGrossPrice is defined ? cartItem.unitGrossPrice / 100 : null }}',
                                'quantity': '{{ cartItem.quantity }}',
                                'brand': '{{ cartItem.concreteAttributes.supplier is defined ? cartItem.concreteAttributes.supplier: null}}'
                            });
                            function beginCheckout(actionUrl)
                            {
                                var rerouted = 0;
                                window.dataLayer = window.dataLayer || [];
                                var products =  window.shoppingCartList;
                                window.dataLayer.push({
                                    'event': 'eec.checkout',
                                    'ecommerce':
                                        {
                                            'checkout':
                                                {
                                                    'actionField':
                                                        {
                                                            'step': 'cart'
                                                        }
                                                },
                                            products,
                                        },
                                    'eventCallback': function()
                                    {
                                        rerouted = 1;
                                        document.location = actionUrl;
                                    }
                                });
                               setTimeout(function(){
                                   if(rerouted==0)
                                   {
                                       document.location = actionUrl;
                                   }
                               },1000);
                            }
                        </script>
                    {% endfor %}

                    {% widget 'CartDiscountPromotionProductListWidget' args [data.cart, data.request] only %}{% endwidget %}
                </div>
            </div>

            <div class="col col--sm-12 col--lg-4">
                <div class="page-layout-cart__col page-layout-cart__col--sidebar">
                    {% include molecule('cart-summary', 'CartPage') with {
                        data: {
                            cart: data.cart,
                            taxPayments: data.taxPayments,
                            isQuoteValid: data.isQuoteValid,
                            isQuoteEditable: data.isQuoteEditable,
                            isHardThresholdReached: data.isHardThresholdReached,
                            isHardMaxThresholdReached: data.isHardMaxThresholdReached
                        },
                    } only %}
                </div>
            </div>
        </div>
    {% endif %}
    {% widget 'UpSellingProductsWidget' args [data.cart] only %}{% endwidget %}
{% endblock %}
