{% extends molecule('suggestion-product', '@SprykerShop:CatalogPage') %}

{% set addAjaxUrl = path("cart/add-ajax", { "productAbstractId": data.product.id_product_abstract  }) %}

{% block body %}
<div class="suggestion-product-slot" >
    <div class="suggested-product-link" >

        <a class="{{ config.name }}__link grid grid--middle grid--no-wrap js-suggest-search__item--navigable js-suggest-search__product-item--navigable"  href="{{ data.url }}">
            <span class="col">
                {% if data.image %}
                    {% include atom('thumbnail') with {
                        modifiers: ['catalog', 'with-overlay'],
                        attributes: {
                            alt: data.alt,
                            src: data.image.external_url_small,
                            title: data.title,
                        },
                    } only %}
                {% endif %}
           </span>

            <span class="col col--expand col--lg-9 title title--medium">
                <span class="search-suggestion-supplier">{{ data.product.supplier | default }},  </span>
                {{- data.title -}}
                {% include molecule('money-price') with {
                    modifiers: ['suggestion-product'],
                    data: {
                        amount: data.price,
                        originalAmount: data.originalPrice ?? null,
                    },
                } only %}
           </span>
        </a>

    </div>

    <div>
        <button type="button" class="{{ config.name }}__button-search-cart" onclick="submitToCartButton(
            '{{ data.product.id_product_abstract }}',
            '{{ data.product.abstract_sku }}',
            '{{ data.product.abstract_name }}',
            '{{ data.product.price }}',
            '{{ addAjaxUrl }}'
            )">{% include atom('icon') with {
                class: 'link__icon icon--color-orange',
                modifiers: ['big'],
                data: {
                    name: 'cart',
                },
            } only %}</button>

        {% include molecule('ajax-add-to-cart') %}
    </div>

    <div style="clear: both"></div>

</div>
{% endblock %}

