{% extends molecule('suggestion-product', '@SprykerShop:CatalogPage') %}

{% set addAjaxUrl = path("cart/add-ajax", { "productAbstractId": data.product.id_product_abstract  }) %}
{% set defaultImage = publicPath("/images/kein_bild_vorhanden.png") %}

{% block body %}
<div class="suggestion-product-slot" >
    <div class="suggested-product-link" >

        <a class="{{ config.name }}__link grid grid--middle grid--no-wrap js-suggest-search__item--navigable js-suggest-search__product-item--navigable"  href="{{ data.url }}">
            <span class="col">
                {% if data.image %}
                    {% set thumbImage = data.image.external_url_small %}
                {% else %}
                    {% set thumbImage = defaultImage %}
                {% endif %}

                {% include atom('thumbnail') with {
                    modifiers: ['catalog', 'with-overlay'],
                    attributes: {
                        alt: data.alt,
                        src: thumbImage,
                        title: data.title,
                    },
                } only %}
           </span>

            <span class="col col--expand col--lg-9 title title--medium">
                <span class="search-suggestion-supplier">{% if data.product.supplier != 'keine' %}{{ data.product.supplier | default }},{% endif %}  </span>
                {{- data.title -}}
                {% include molecule('money-price') with {
                    modifiers: ['suggestion-product'],
                    data: {
                        amount: data.price,
                        originalAmount: data.originalPrice ?? null,
                    },
                } only %}
           </span>
        </a>

    </div>

    <div>
        {% if app.currentCodeBucket == 'DE' %}
        <button type="button" class="{{ config.name }}__button-search-cart" onclick="submitToCartButton(
            '{{ data.product.id_product_abstract }}',
            '{{ data.product.abstract_sku }}',
            '{{ data.product.abstract_name }}',
            '{{ data.product.price }}',
            '{{ addAjaxUrl }}'
            )">
                {% include atom('icon') with {
                    class: 'link__icon icon--color-orange',
                    modifiers: ['big'],
                    data: {
                        name: 'cart',
                    },
                } only %}
        </button>
        {% else %}
            <button type="button" class="{{ config.name }}__button-search-cart" onclick="submitToCartButton(
                '{{ data.product.id_product_abstract }}',
                '{{ data.product.abstract_sku }}',
                '{{ data.product.abstract_name }}',
                '{{ data.product.price }}',
                '{{ addAjaxUrl }}'
                )">
                {% include atom('icon') with {
                    class: 'link__icon icon--color-green',
                    modifiers: ['big'],
                    data: {
                        name: 'cart',
                    },
                } only %}
            </button>
        {% endif %}

        {% include molecule('ajax-add-to-cart') %}
    </div>

    <div style="clear: both"></div>

</div>
{% endblock %}

