{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Order Items' } %}
    {% block widget_content %}
        {% for shipmentOrderItems in groupedOrderItemsByShipment %}
            <table id="order-item-list" class="footable table toggle-arrow-tiny order-group-items-table-{{ shipmentOrderItems.shipment.idSalesShipment }}" data-qa="order-item-list">
                <thead>
                    <tr class="text-left" style="background: grey;color: #FFFFFF">
                        <th colspan="3">{{ 'Product List' | trans }}</th>
                        <th>{{ 'Quantity Item' | trans }}</th>
                        <th>{{ 'Unit Price Per Piece' | trans }}</th>
                        <th>{{ 'Price' | trans }}</th>
                        <th>{{ 'State' | trans }}</th>
                        <th>{{ 'Trigger event' | trans }}</th>
                        <th>{{ 'Lokation' | trans }}</th>
                        <th>{{ 'Brand' | trans }}</th>
                    </tr>
                </thead>

                <tbody>
                    {% if order.salesOrderConfiguredBundles is defined and order.salesOrderConfiguredBundles | length > 0 %}
                        {% include '@Sales/Detail/boxes/configured-bundle.twig' with {order: order, items: shipmentOrderItems.items} %}
                    {% endif %}

                    {% if itemGroups[shipmentOrderItems.hash] is defined and itemGroups[shipmentOrderItems.hash] | length > 0 %}
                        {% include '@Sales/Detail/boxes/item-group.twig' with {groups: itemGroups[shipmentOrderItems.hash]} %}
                    {% endif %}

                    {% include '@Sales/Detail/boxes/no-group-items.twig' with {items: [shipmentOrderItems.items]} %}
                </tbody>
            </table>
        {% endfor %}
    {% endblock %}
{% endembed %}
