{% extends model('component') %}

{% define config = {
    name: 'popup-ui-store-switcher',
    tag: 'popup-ui-store-switcher',
} %}

{% block body %}
    <div class="{{ config.name }}__overlay">
        <div class="{{ config.name }}__container">
            <div class="{{ config.name }}__content">
                <div class="main__inner">
                    <div class="col col--sm-12 col--lg-12">
                        <div class="col col--sm-8 col--lg-8">
                            <h1 class="title--shop-switcher">
                                Herzlich Willkommen bei
                            </h1>
                            <div class="sub-title--shop-switcher">
                                Ihrem Globus Abholservice
                            </div>
                        </div>
                        <div class="col col--sm-4 col--lg-4">
                            <img src="{{ publicPath("/images/store-selection.png") }}" width="90%" height="90%" />
                        </div>

                        <div class="message--shop-switcher">
                            Einfach online einkaufen und Ihre gew체nschte Artikel <br/>
                            in gewohnter Globus Qualit채t abholen.
                        </div>
                        <div class="col col--sm-12 col--lg-8 col--xs-12 is-hidden" id="form-password-shop-switcher">
                            <input type="hidden" id="form-url-shop-switcher" />
                            <label for="{{ config.name }}-password">F체r die Auswahl dieses Standorts ist aktuell die Eingabe eines Passworts notwendig.</label>
                            <input id="{{ config.name }}-password" type="password" placeholder="{{ 'customer.login.password_placeholder' | trans }}" class="input input--expand" />
                            <p id="{{ config.name }}-error-message" style="color:red"></p>
                            <br>
                            <button type="button" id="{{ config.name }}-button-save" class="button button--hollow-border-light">
                                {{ 'forms.submit-btn' | trans }}</button>
                        </div>

                        <div class="form-text--shop-switcher">
                            W채hlen Sie Ihre Abholstation, um mit Ihrem Einkauf zu beginnen:
                        </div>
                        <div class="form-dropdown--shop-switcher">
                          {% widget 'StoreSwitcherWidget' %}{% endwidget %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
