{% embed '@Gui/Partials/widget.twig' with { widget_title: 'checkout.order.overview' | trans } %}
    {% block widget_content %}
        <div class="row">
            <input type="hidden" id="isCurrentUserSupervisorOrAdmin" value="{{ isCurrentUserSupervisorOrAdmin }}">
            <div class="col-xs-12 col-md-4" style="background: #f7f7f7">
                <h3>{{ 'Bestellinformationen' | trans }}</h3>
                <div class="bottom-indent">
                    <dl>
                        <dt>{{ 'Order Reference' | trans }}</dt>
                        <dd style="margin-bottom: 15px">{{ order.orderReference }}</dd>
                        {% if order.collectNumber %}
                            <dt>{{ 'Collect Number' | trans }}</dt>
                            <dd style="margin-bottom: 15px">{{ order.collectNumber }}</dd>
                        {% endif %}
                            <dt>{{ 'Angefratges Lieferdatum' | trans }}:</dt>
                            <dd>{{ requestDeliveryDate }}</dd>
                        <div style="height: 2px;background: lightgrey;width: 100%;margin: 10px 0px"></div>
                        <dt>{{ 'Container Code -> Shelf Code' | trans }}</dt>
                        {% for pickingSalesOrder in order.pickingSalesOrderCollection.pickingSalesOrders %}
                            <dd>{{ pickingSalesOrder.containerCode ~ ' -> ' ~ pickingSalesOrder.shelfCode}}</dd>
                        {% endfor %}
                        {% if order.cartNote %}
                            <dt style="margin-top: 15px">{{ 'Customer Comment' | trans }}</dt>
                            <dd>{{ order.cartNote }}</dd>
                        {% endif %}
                    </dl>
                </div>
            </div>

            <div class="col-xs-12 col-md-8 bottom-indent">
                <div class="row">
                    <div class="col-lg-4" style="margin-left: 60px">
                        <h3>{{ 'Customer Information' | trans }}</h3>
                        {% if customerTransfer and customerTransfer.firstName and customerTransfer.lastName %}
                            <div style="margin-bottom: 15px;margin-top: 15px">
                                <span style="font-weight: bold">{{ 'Name' | trans }}</span><br/>
                                {{ customerTransfer.firstName }} {{ customerTransfer.lastName }}
                            </div>
                        {% endif %}
                        {% if address and address.phone %}
                            <div style="margin-bottom: 15px">
                                <span style="font-weight: bold">{{ 'Phone Number' | trans }}</span><br/>
                                <div>{{ address.phone }}</div>
                            </div>
                        {% endif %}
                        {% if customerTransfer and customerTransfer.email %}
                            <div style="margin-bottom: 15px">
                                <span style="font-weight: bold">{{ 'Email' | trans }}</span><br/>
                                <div>{{ customerTransfer.email }}</div>
                            </div>
                        {% endif %}
                        <div style="margin-bottom: 15px">
                            <span style="font-weight: bold">{{ 'Billing address' | trans }}</span>
                            <div>{{ order.billingAddress.firstName ~ ' '
                                ~ order.billingAddress.lastName ~ ', '
                                ~ order.billingAddress.address1 ~ ' '
                                ~ order.billingAddress.address2 ~ ', '
                                ~ order.billingAddress.zipCode ~ ' '
                                ~ order.billingAddress.city ~ ', '
                                ~ order.billingAddress.country.name }}
                            </div>
                        </div>
                        <div style="margin-bottom: 15px">
                            <span style="font-weight: bold">{{ 'Order date' | trans }}</span>
                            <div>
                                {{ order.createdAt | formatDateTime }}
                            </div>
                        </div>
                        <div style="margin-bottom: 15px">
                            <span style="font-weight: bold">{{ 'Previous orders count' | trans }}</span>
                            <div>{{ order.totalOrderCount }}</div>
                        </div>
                        <div style="margin-bottom: 15px">
                            <span style="font-weight: bold">{{ 'Reference' | trans }}</span>
                            <div><a href="{{ url('/customer/view', {'id-customer': order.fkCustomer}) }}" target="_blank">{{ order.customerReference }}</a></div>
                        </div>
                        <div style="margin-bottom: 15px">
                            <span style="font-weight: bold">{{ "Payment method" | trans }}</span>
                            <div>
                                {% if payments %}
                                    {% for payment in payments %}
                                        <span>{{ payment.paymentMethod }}</span><br/>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div style="margin-bottom: 15px">
                            <span style="font-weight: bold">{{ "Amount" | trans }}</span>
                            <div>
                                {% if payments %}
                                    {% for payment in payments %}
                                        <span>{{ payment.amount | money(true, order.currencyIsoCode) }}</span><br/>
                                    {% endfor %}
                                {% endif %}
                            </div>
                         </div>
                    </div>
                    <div class="col-lg-4" style="margin-left: 160px">
                        <h3>{{ 'Sonstige Informationen' | trans }}</h3>
                        <div style="margin-bottom: 15px;margin-top: 15px">
                            <span style="font-weight: bold">{{ 'Filiale Adresse' | trans }}</span>
                            <div>
                                {{ order.merchantName }}
                            </div>
                        </div>
                        <div style="margin-bottom: 15px;">
                            <span style="font-weight: bold">{{ 'Division Nummer' | trans }}</span>
                            <div>
                                {{ order.merchantRegionNumber }}
                            </div>
                        </div>
                        <div style="margin-bottom: 15px;">
                            <span style="font-weight: bold">{{ 'Filiale' | trans }}</span>
                            <div>
                                {{ order.merchantFilialNumber }}
                            </div>
                        </div>
                        <div style="margin-bottom: 15px">
                            <span style="font-weight: bold">{{ 'Delivery Address' | trans }}</span><br/>
                            <div>
                                {{ address.salutation
                                ~ ' ' ~ address.firstName ~ ' '
                                ~ address.lastName ~ ', '
                                ~ address.address1 ~ ' '
                                ~ address.address2 ~ ', '
                                ~ address.additionalInfo ~ ' '
                                ~ address.company ~ ', '
                                ~ address.zipCode ~ ', '
                                ~ address.city ~ ', '
                                ~ address.country.name}}
                            </div>
                        </div>
                        <div style="margin-bottom: 15px">
                            <span style="font-weight: bold">{{ 'Delivery Method' | trans }}</span><br>
                            <div>
                                {{ shipping.carrier.name }}
                            </div>
                        </div>
                        <div style="margin-bottom: 15px">
                            <span style="font-weight: bold">{{ 'Shipping Method' | trans }}</span><br>
                            <div>
                                {{ shipping.method.name }}
                            </div>
                        </div>
                        {% for blockName, externalBlock in blocksToRenderForCustomer %}
                            {% if blockName == 'discount' %}
                                {% set customExternalBlock = externalBlock|split('Rabatte und Gutscheine') %}
                                <div style="margin-bottom: 15px">
                                    <span style="font-weight: bold">{{ 'Rabatte und Gutscheine' | trans }}</span>
                                    <div class="discount">{{ customExternalBlock[1] | raw }}</div>
                                </div>
                            {% endif %}
                            {% if blockName == 'refund' %}
                                {% set customExternalBlock = externalBlock|split('Rückerstattung') %}
                                <div style="margin-bottom: 15px">
                                    <span style="font-weight: bold">{{ 'Rückerstattung' | trans }}</span>
                                    <div class="refund">{{ customExternalBlock[1] | raw }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
                <div>
                    <div id="myModal" class="modal">
                        <div class="popUp-modal-content">
                            <div class="popUp-modal-header">
                                <span class="close">&times;</span>
                                <h3>Bestellung stornieren</h3>
                            </div>
                            <div class="popUp-modal-body">
                                <p>Möchten Sie die Bestellung: {{ order.orderReference }} wirklich stornieren?</p>
                                <hr/>

                            </div>
                            <div class="popUp-modal-footer">
                                <button type="button" id="modalConfirmNo" class="btn btn-invertedPrimary btn-sm">Nein, abbrechen</button>
                                <button type="button" id="modalConfirmYes" class="btn btn-customPrimary btn-sm">Ja, Bestellung stornieren</button>
                            </div>
                        </div>
                    </div>
                </div>
            <div id="omsActions" class="col-md-12">
                {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Trigger all matching states inside this order' } %}
                    {% block widget_content %}
                        {% include '@Oms/RenderForm/_partial/order-actions.twig' with {
                            redirectUrl: changeStatusRedirectUrl,
                            idSalesOrder: order.idSalesOrder,
                            pickingZone: null,
                            events: events,
                        } only %}
                    {% endblock %}
                {% endembed %}
            </div>
        </div>



        <script type="text/javascript">

            document.addEventListener('DOMContentLoaded', function(event) {

                    var actionButtons = '{{ buttons | json_encode | raw }}';
                    actionButtons = JSON.parse(actionButtons); // to convert json into a javascript object
                    if(actionButtons.length > 0){

                        if(actionButtons.includes("Cancel")){
                            var btnOmsActions = document.getElementById("omsActions");
                            let omsActionForms = btnOmsActions.querySelectorAll("form.oms-trigger-form");

                            for(let i = 0;i<omsActionForms.length;i++){
                                let action = omsActionForms[i].getAttribute("action");
                                if(action.includes("/oms/trigger/submit-trigger-event-for-order?event=cancel")){
                                    omsActionForms[i].style.display = "none";
                                }
                                if(i == omsActionForms.length - 1){
                                    var btnText = omsActionForms[i];
                                    var node = '<button type="button" id="oms_trigger_form_submit_cancel" name="oms_trigger_formCancel[submit]" class="btn btn-danger btn-sm">Cancel</button>';
                                    var last = btnOmsActions.querySelector(".ibox-content");
                                    last.insertAdjacentHTML('beforeend', node);
                                }
                            }


                        }

                    }

                    // Get the modal
                    var modal = document.getElementById("myModal");

                    // Get the button that opens the modal
                    var btn = document.getElementById("oms_trigger_form_submit_confirm selecting containers");

                    var btnCancel = document.getElementById("oms_trigger_form_submit_cancel");

                    // Get the <span> element that closes the modal
                    var span = document.getElementsByClassName("close")[0];

                    // Get the <button> element that closes the modal
                    var btnConfirmNo = document.getElementById("modalConfirmNo");

                    // Get the <button> element that cancels the order
                    var btnConfirmYes = document.getElementById("modalConfirmYes");



                    if(btnCancel != null){


                        // When the user clicks on the button, open the modal
                        btnCancel.onclick = function() {
                            modal.style.display = "block";
                        }
                    }

                    // When the user clicks on <span> (x), close the modal
                    span.onclick = function() {
                        modal.style.display = "none";
                    }

                    // When the user clicks on button "Nein" inside of pop up, close the modal
                    btnConfirmNo.onclick = function() {
                        modal.style.display = "none";
                    }

                    btnConfirmYes.onclick = function() {
                        let omsActionForms = btnOmsActions.querySelectorAll("form.oms-trigger-form");

                        for(let i = 0;i<omsActionForms.length;i++){
                            let action = omsActionForms[i].getAttribute("action");
                            if(action.includes("/oms/trigger/submit-trigger-event-for-order?event=cancel")){
                                omsActionForms[i].submit();
                                return;
                            }
                        }
                    }
            })
        </script>
    {% endblock %}
{% endembed %}
