{% extends model('component') %}

{% define config = {
    name: 'header',
} %}

{% define data = {
    headerLocationTitle: '',
    orderReference: '',
    collectNumber: '',
    orderTime: '',
    withoutLogo: false,
    buttonUrl: '/',
    buttonText: 'Cancel' | trans,
    buttonBackText: 'select.picking.zone.back.button' | trans,
    titleColor: '',
    pickingZone: false,
    containerSelect: false,
    pickingForm: false,
    posListe: false,
    productsLength: 0,
    openedItems: 0,
    editedItems: 0,
    isMultiPickingProcess: 0,
    isScanFromPickingProcess: ''
} %}

{% block extraClass %}
    {% if data.withoutLogo %}
        header--spacing-reset
    {% endif %}
{% endblock %}

{% block body %}
    <header class="{{ config.name }}__header">
        <div class="{{ config.name }}__header-top">
            <div class="container container_header">
                <div class="container__inner">
                    <div class="grid grid--middle grid--no-wrap {{ config.name }}__content">
                        {% if not data.withoutLogo %}
                            <a href="/picker/diff-sections">
                                <div class="col col--bottom">
                                    {% include molecule('logo') with {
                                        modifiers: ['header']
                                    } only %}
                                </div>
                            </a>
                            <div class="col col--expand text-right text-middle__darkerGreen">
                                {{ data.headerLocationTitle }}
                            </div>
                            <div class="col {{ config.name }}__logout text-right">
                                <a href="/auth/logout" class="link link--icon link--logout">
                                    {% include atom('icon') with {
                                        modifiers: ['big'],
                                        class: 'link__icon',
                                        data: {
                                            name: 'logout'
                                        }
                                    } only %}
                                    &nbsp;
                                </a>
                            </div>
                        {% elseif data.posListe %}
                            <div class="col col--sm-4 col--md-5">
                                {% if data.buttonUrl %}
                                    <a href="{{ data.buttonUrl }}" class="link link--cancel link--icon">
                                        {% include atom('icon') with {
                                            class: 'link__icon link__icon--cancel',
                                            data: {
                                                name: 'arrow-right'
                                            }
                                        } only %}
                                        <div class="link__header__title">
                                            {{ data.buttonText }}
                                        </div>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col col--expand">
                                <div class="link">
                                    <div class="link__header__container">
                                        {% block posListe %}
                                            <div class="{{ config.name }}__id">
                                                Pos.Liste {{ data.headerLocationTitle }}
                                            </div>
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                        {% elseif data.containerSelect %}
                            <div class="col col--sm-4 col--md-5">
                                {% if data.buttonUrl %}
                                    <a href="{{ data.buttonUrl }}" class="link link--cancel link--icon">
                                        {% include atom('icon') with {
                                            class: 'link__icon link__icon--cancel',
                                            data: {
                                                name: 'arrow-right'
                                            }
                                        } only %}
                                        <div class="link__header__title">
                                            {{ data.buttonText }}
                                        </div>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col col--expand">
                                <div class="link">
                                    <div class="link__header__container">
                                        {% block orderReference %}
                                            <div class="{{ config.name }}__id">
                                                {{ 'ID' }}: {{ data.orderReference }}
                                            </div>
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                            {% if not data.pickingForm %}
                                <div class="col {{ config.name }}__logout text-right">
                                    <a href="/auth/logout" class="link link--icon link--logout">
                                        {% include atom('icon') with {
                                            modifiers: ['big'],
                                            class: 'link__icon',
                                            data: {
                                                name: 'logout'
                                            }
                                        } only %}                                    &nbsp;
                                    </a>
                                </div>
                            {% else %}
                                {% if data.isMultiPickingProcess == 1 %}
                                    <p><span style="color: red">{{ data.openedItems }}</span> | <span style="color: green">{{ data.editedItems }}</span></p>
                                {% endif %}
                                <div style="{{ data.isMultiPickingProcess == 1 ?  'width: 0' : 'width: auto' }}">
                                    {% block headerBottom %}{% endblock %}
                                </div>
                            {% endif %}

                        {% elseif data.pickingZone %}
                            <div class="col col--sm-4 col--md-5">
                                {% if data.buttonUrl and data.isScanFromPickingProcess == '0' %}
                                    <a href="{{ data.buttonUrl }}" class="link link--cancel link--icon">
                                        {% include atom('icon') with {
                                            class: 'link__icon link__icon--cancel',
                                            data: {
                                                name: 'arrow-right'
                                            }
                                        } only %}
                                        <div class="link__header__title">
                                            {{ data.buttonText }}
                                        </div>
                                    </a>
                                {% endif %}
                            </div>
                                <div class="col col--expand">
                                    <div class="link">
                                        {% if data.isMultiPickingProcess == '1' %}
                                            <div class="no_link__header__zone">
                                                <div class="col col--expand text-right text-middle__darkerGreen text-middle__position">
                                                    {{ data.headerLocationTitle }}
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="link__header__zone">
                                                {% block selectPickingZone %}
                                                    {% widget 'SelectPickingZoneWidget' only %}{% endwidget %}
                                                {% endblock %}
                                            </div>
                                        {% endif %}
                                    </div>
                                 </div>
                            <div class="col {{ config.name }}__logout text-right">
                                <a href="/auth/logout" class="link link--icon link--logout">
                                    {% include atom('icon') with {
                                        modifiers: ['big'],
                                        class: 'link__icon',
                                        data: {
                                            name: 'logout'
                                        }
                                    } only %}                                    &nbsp;
                                </a>
                            </div>
                        {% else %}
                            <div class="col col--sm-2 back-link">
                                {% if data.buttonUrl %}
                                    <a href="{{ data.buttonUrl }}" class="link link--cancel link--icon">
                                        {% include atom('icon') with {
                                            class: 'link__icon link__icon--cancel',
                                            data: {
                                                name: 'arrow-right'
                                            }
                                        } only %}
                                        <div class="link__header__title">
                                             {{ data.buttonBackText }}
                                        </div>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col col--expand spacing-x spacing-x--inner">
                                {% if data.headerLocationTitle %}
                                    <h1 class="header__location-title text-middle__{{ data.titleColor }} grid grid--no-wrap grid--middle grid--center">
                                        {{ data.headerLocationTitle }}
                                    </h1>
                                {% endif %}
                            </div>
                            <div class="col col--sm-2 {{ config.name }}__logout text-right">
                                <a href="/auth/logout" class="link link--icon link--logout">
                                    {% include atom('icon') with {
                                        modifiers: ['big'],
                                        class: 'link__icon',
                                        data: {
                                            name: 'logout'
                                        }
                                    } only %}
                                    &nbsp;
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="{{ config.name }}__header-bottom">
            <div class="container">
                <div class="container__inner">

                </div>
            </div>
        </div>
    </header>
{% endblock %}
