{% extends view('overview', '@SprykerShop:CustomerPage') %}

{% block customerContent %}
    {% widget 'MerchantSwitcherSelectorFormWidget' %}
        {% block body %}
            <div class="box spacing-bottom spacing-bottom--biggest">
                {% include molecule('title-box', 'CustomerPage') with {
                    modifiers: ['borderless'],
                    data: {
                        title: 'merchant_switcher.label' | trans,
                    },
                } only %}
                {% embed molecule('merchant-selector-form', 'MerchantSwitcherWidget') with {
                    modifiers: ['light'],
                    data: {
                        merchantList: data.merchantList,
                        currentMerchantReference: data.currentMerchantReference,
                    },
                } only %}
                    {% block merchantSwitcherLabel %}{% endblock %}
                {% endembed %}
            </div>
        {% endblock %}
    {% endwidget %}

    <div class="box spacing-bottom spacing-bottom--biggest">
        {% embed molecule('title-box', 'CustomerPage') with {
            modifiers: ['borderless'],
            data: {
                title: 'customer.account.last_orders' | trans,
            },
            embed: {
                orders: data.orders,
            },
        } only %}
            {% block additionalContent %}
                {% if embed.orders %}
                    {% if app.currentCodeBucket == 'DE' %}
                        <a class="page-layout-customer__left-indent button button--hollow" href="{{ url('customer/order') }}">
                            {{- 'customer.order.view_all' | trans -}}
                        </a>
                    {% else %}
                        <a class="page-layout-customer__left-indent button button--hollow button--font-CZ" href="{{ url('customer/order') }}">
                            {{- 'customer.order.view_all' | trans -}}
                        </a>
                    {% endif %}
                {% endif %}
            {% endblock %}
        {% endembed %}

        {% include molecule('order-table', 'CustomerPage') with {
            data: {
                orders: data.orders,
            },
        } only %}
    </div>

    <div class="grid grid--justify">
        <div class="col col--lg-6 col--sm-12">
            <div class="page-layout-customer__col-first box spacing-bottom spacing-bottom--biggest">
                {% embed molecule('title-box', 'CustomerPage') with {
                    modifiers: ['borderless'],
                    data: {
                        title: 'customer.account.profile_data' | trans,
                    },
                } only %}
                    {% block additionalContent %}
                        {% if app.currentCodeBucket != 'DE' %}
                            <a href="{{ url('customer/profile') }}" class="link link--darkest link--edit col">
                                {% include molecule('icon-tooltip') with {
                                    modifiers: ['medium-up'],
                                    data: {
                                        icon: 'edit',
                                        text: 'general.edit.button' | trans,
                                    },
                                } only %}
                            </a>
                        {% endif %}
                    {% endblock %}
                {% endembed %}

                <ul class="menu">
                    <li class="menu__item">{{ data.customer.firstName }} {{ data.customer.lastName }}</li>
                    <li class="menu__item"><a class="menu__link"
                                              href="mailto:{{ data.customer.email }}">{{ data.customer.email }}</a></li>
                    <li class="menu__item">{{ data.customer.username }}</li>
                </ul>
            </div>
        </div>

        <div class="col col--lg-6 col--sm-12">
            {% if data.billingAddress is not empty %}
            <div class="page-layout-customer__col-last box spacing-bottom spacing-bottom--biggest">
                {% embed molecule('title-box', 'CustomerPage') with {
                    modifiers: ['borderless'],
                    data: {
                        title: 'customer.account.address' | trans,
                    },
                    embed: {
                        billingAddressId: data.billingAddressId,
                    },
                } only %}
                {% endembed %}

                {% include molecule('display-address') with {
                    class: 'menu',
                    data: {
                        address: data.billingAddress,
                        mobilePrefix: data.customer.mobilePhonePrefix,
                        phonePrefix: data.customer.phonePrefix
                    },
                } only %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
