{% extends model('component') %}

{% define config = {
    name: 'suggest',
    tag: 'suggest-ff'
} %}

{% define data = {
    properties: {
        component: '',
        searchItems: [],
        productItemType: ''
    }
} %}

{% block body %}
    <ff-suggest layout="block" class="input--expand" ~ {{ data.properties.component|raw }}>
        {% block searchContainer %}
            <section id="searchContainer" class="searchTermContainer">

                {% for item in data.properties.searchItems %}
                    <div data-container="{{ item.type }}">
                        <p class="containerCaption">{{ item.title }}</p>
                        <ff-suggest-item type="{{ item.type }}" class="{{ config.name }}__suggested-product-slot">
                            {% set imageUrl %}
                                {% verbatim %}
                                    {{ attributes.ImageUrl }}
                                {% endverbatim %}
                            {% endset %}

                            {% set name %}
                                {% verbatim %}
                                    {{ name }}
                                {% endverbatim %}
                            {% endset %}

                            {% set price %}
                                {% verbatim %}
                                    {{ attributes.geoInformation.0.geoValues.Price }}
                                {% endverbatim %}
                            {% endset %}

                            <div class="{{ config.name }}__link"> {# class="{{ config.name }}__suggested-product-link" #}
                            {% if item.type == 'productName' %}
                                <span class="col">
                                    {% include atom('thumbnail') with {
                                    modifiers: ['catalog', 'with-overlay'],
                                    attributes: {
                                        alt: name,
                                        src: imageUrl,
                                        title: name,
                                        },
                                    } only %}
                                </span>
                            {% endif %}


                            <span class="col">
                                {% verbatim %}
                                    {{{ name }}}
                                {% endverbatim %}
                            </span>

                            {% if item.type == 'productName' %}
                                 <span class="col">
                                    {% verbatim %}
                                        {{{ attributes.geoInformation.0.geoValues.Price }}} &euro;
                                    {% endverbatim %}
                                </span>
                            {% endif %}

                            </div>
                        </ff-suggest-item>
                    </div>
                {% endfor %}
            </section>
        {% endblock %}
    </ff-suggest>
{% endblock %}
