{% extends model('component') %}

{% define config = {
    name: 'suggest',
    tag: 'suggest-ff'
} %}

{% define data = {
    properties: {
        component: '',
        searchItems: [],
        productItemType: ''
    },
    itemWeight: null,
    noPriceText: '---',
    prefix: null,
    calculatedPrice: null,
} %}

{% block body %}
    <ff-suggest layout="block" class="input--expand" ~ {{ data.properties.component|raw }}>
        {% block searchContainer %}
            <section id="searchContainer" class="searchTermContainer {{ config.name }}__search-container">
                {% for item in data.properties.searchItems %}
                    <div data-container="{{ item.type }}">
                        <p class="containerCaption" hidden>{{ item.title }}</p>
                        <ff-suggest-item type="{{ item.type }}" class="{{ config.name }}__suggested-product-slot">

                            {% set imageUrl %}
                                {% verbatim %}
                                    {{ attributes.ImageUrl }}
                                {% endverbatim %}
                            {% endset %}

                            {% set name %}
                                {% verbatim %}
                                    {{ name }}
                                {% endverbatim %}
                            {% endset %}

                            {% set amount %}
                                {% verbatim %}
                                    {{ attributes.geoInformation.0.geoValues.Price }}
                                {% endverbatim %}
                            {% endset %}

                            {% set originalAmount %}
                                {% verbatim %}
                                    {{ attributes.geoInformation.0.geoValues.PseudoPrice }}
                                {% endverbatim %}
                            {% endset %}

                            <div class="{{ config.name }}__link">
                            {% if item.type == 'productName' %}
                                <span class="suggestImage">
                                    {% include atom('thumbnail') with {
                                    modifiers: ['catalog', 'with-overlay'],
                                    attributes: {
                                        alt: name,
                                        src: imageUrl,
                                        title: name,
                                        },
                                    } only %}
                                </span>
                            {% endif %}
                                <div class="nameAndMoneyContainer">
                                <div class="suggestBrand">
                                    <span class="col-2 {{ config.name }}__brand">
                                        {% verbatim %}
                                            {{{ attributes.Brand }}}
                                        {% endverbatim %}
                                    </span>

                                    <span class="col">
                                        {% verbatim %}
                                            {{{ name }}}
                                        {% endverbatim %}
                                    </span>
                                </div>
                            {% if item.type == 'productName' %}
                                {% block price %}
                                    <span class="moneyTag">
                                        {% if data.itemWeight is not null -%}
                                            {{ data.calculatedPrice }}
                                        {%- else -%}
                                            {% if originalAmount is not empty and originalAmount > amount -%}
                                                <span class="{{ config.name }}__amount {{ config.name }}__amount--original">
                                                    {{ originalAmount }}
                                                </span>
                                            {%- endif -%}

                                            {%- if amount is empty -%}
                                                {{ data.noPriceText }}
                                            {%- else -%}
                                                {% if originalAmount is not empty and originalAmount > amount -%}
                                                    <span class="{{ component.renderClass(config.name ~ '__amount', modifiers) }} {{ config.name }}__amount-red">
                                                        {{ data.prefix }}{{ amount }}
                                                    </span>
                                                {%- else -%}
                                                    <span class="{{ component.renderClass(config.name ~ '__amount', modifiers) }}">
                                                        {{ data.prefix }}{{ amount }}
                                                    </span>
                                                {%- endif -%}
                                            {%- endif -%}
                                        {%- endif -%}
                                    </span>
                                {% endblock %}
                            {% endif %}
                                </div>
                            </div>
                        </ff-suggest-item>
                    </div>
                {% endfor %}
            </section>
        {% endblock %}
    </ff-suggest>
{% endblock %}
