{% extends model('component') %}

{% define config = {
    name: 'suggest',
    tag: 'suggest-ff'
} %}

{% define data = {
    properties: {
        component: '',
        searchItems: [],
        productItemType: ''
    },
    itemWeight: null,
    noPriceText: '---',
    prefix: null,
    calculatedPrice: null,
} %}

{% block body %}
    <ff-suggest layout="block" class="input--expand" ~ {{ data.properties.component|raw }}>
        {% block searchContainer %}
            <section id="searchContainer" class="searchTermContainer {{ config.name }}__search-container">
                {% for item in data.properties.searchItems %}
                    <div data-container="{{ item.type }}">
                        <p class="containerCaption" hidden>{{ item.title }}</p>
                        <ff-suggest-item type="{{ item.type }}" class="{{ config.name }}__suggested-product-slot">

                            {% set imageUrl %}
                                {% verbatim %}
                                    {{ attributes.ImageUrl }}
                                {% endverbatim %}
                            {% endset %}

                            {% set name %}
                                {% verbatim %}
                                    {{ name }}
                                {% endverbatim %}
                            {% endset %}

                            {% set amount %}
                                {% verbatim %}
                                    {{ attributes.geoInformation.0.geoValues.Price }}
                                {% endverbatim %}
                            {% endset %}

                            {% set originalAmount %}
                                {% verbatim %}
                                    {{ attributes.geoInformation.0.geoValues.PseudoPrice }}
                                {% endverbatim %}
                            {% endset %}

                            {% set addAjaxUrl %}
                                {% verbatim %}
                              /de/cart/add-ajax/{{ attributes.IdProductAbstract }}
                            {% endverbatim %}
                            {% endset %}

                            {% set IdProductAbstract %}
                                {% verbatim %}
                                    {{ attributes.IdProductAbstract }}
                                {% endverbatim %}
                            {% endset %}

                            <div class="{{ config.name }}__link">
                            {% if item.type == 'productName' %}
                                <span class="suggestImage">
                                    {% include atom('thumbnail') with {
                                    modifiers: ['catalog', 'with-overlay'],
                                    attributes: {
                                        alt: name,
                                        src: imageUrl,
                                        title: name,
                                        },
                                    } only %}
                                </span>
                            {% endif %}
                                <div class="nameAndMoneyContainer">
                                <div class="suggestBrand">
                                    <span class="col-2 {{ config.name }}__brand">
                                        {% verbatim %}
                                            {{{ attributes.Brand }}}
                                        {% endverbatim %}
                                    </span>

                                    <span class="col">
                                        {% verbatim %}
                                            {{{ name }}}
                                        {% endverbatim %}
                                    </span>
                                </div>
                            {% if item.type == 'productName' %}
                                {% block price %}
                                    <span class="moneyTag">
                                        {% if data.itemWeight is not null -%}
                                            {{ data.calculatedPrice }}
                                        {%- else -%}
                                            {% if originalAmount is not empty and originalAmount > amount -%}
                                                <span class="{{ config.name }}__amount {{ config.name }}__amount--original">
                                                    {{ originalAmount }}
                                                </span>
                                            {%- endif -%}

                                            {%- if amount is empty -%}
                                                {{ data.noPriceText }}
                                            {%- else -%}
                                                {% if originalAmount is not empty and originalAmount > amount -%}
                                                    <span class="{{ component.renderClass(config.name ~ '__amount', modifiers) }} {{ config.name }}__amount-red">
                                                        {{ data.prefix }}{{ amount }}
                                                    </span>
                                                {%- else -%}
                                                    <span class="{{ component.renderClass(config.name ~ '__amount', modifiers) }}">
                                                        {{ data.prefix }}{{ amount }}
                                                    </span>
                                                {%- endif -%}
                                            {%- endif -%}
                                        {%- endif -%}
                                    </span>
                                {% endblock %}
                            {% endif %}
                                </div>
                            </div>

                            <button type="button" class="{{ config.name }}__button-suggest-cart"  onclick="addToCartItemClick('{{ IdProductAbstract | trim }}','{{ addAjaxUrl | trim }}');event.stopPropagation();">
                                {% include atom('icon') with {
                                    class: 'link__icon icon--color-orange',
                                    modifiers: ['big'],
                                    data: {
                                        name: 'cart',
                                    },
                                } only %}
                            </button>

                        </ff-suggest-item>
                    </div>
                {% endfor %}

                <form class="add-to-cart-ajax" method="POST" name="submit-suggested-search-products" id="submit-suggested-search-product" style="display: none;"
                      action="">
                    <input type="hidden" id="addAjaxUrl" />
                    <input type="hidden" name="is-cart-button-clicked" id="is-cart-button-clicked" value="n" />
                    <input type="hidden" name="data-product-id" id="data-product-id" value="" />
                    <input type="hidden" name="token" id="token" value="{{ csrf_token('add-to-cart-ajax') }}" />
                </form>
            </section>
        {% endblock %}
    </ff-suggest>
    <button type="button" id="callTs" class="hidden"></button>
    <script>
        function addToCartItemClick(idProductAbstract, addAjaxUrl){
            let addAjaxUrlEl = document.getElementById("addAjaxUrl");
            addAjaxUrlEl.value = addAjaxUrl;

            let form = document.getElementById("submit-suggested-search-product");
            form.action = addAjaxUrl;
            let product_id = document.getElementById("data-product-id");
            product_id.value = idProductAbstract;

            document.querySelector("#callTs").click();
        }
    </script>
{% endblock %}
