{% extends model('component') %}

{% define config = {
    name: 'breadcrumb-step',
    tag: 'breadcrumb-step'
} %}

{% define data = {
    url: null,
    label: null,
    itemProp: null,
    withChevron: true
} %}

{% set isLink = data.url is not empty %}
{% set fontClass = app.currentCodeBucket == "CZ" ? 'cz-font' : '' %}

{% block body %}
    {%- if isLink -%}
        {% if app.currentCodeBucket == 'DE' %}
            <a class="{{ config.name }}__link {{ fontClass }}" href="{{ data.url }}">
        {% else %}
            <a class="{{ config.name }}__link-CZ {{ fontClass }}" href="{{ data.url }}">
        {% endif %}
    {%- endif -%}

        {%- if data.itemProp -%}
            <span class="{{ config.name }}__prop" itemprop="{{-data.itemProp-}}">
        {%- endif -%}

            {{- data.label -}}

        {%- if data.itemProp -%}
            </span>
        {%- endif -%}

    {%- if isLink -%}
        </a>
    {%- endif -%}

    {% if data.withChevron %}
        <span class="{{ config.name }}__separator">
            <svg class="infoIcon icon button__icon"><use xlink:href="#:left-arrow"></use></svg>
        </span>
    {% endif %}
{% endblock %}
