{% extends model('component') %}

{% define config = {
    name: 'facets-asn',
    tag: 'facets-asn'
} %}

{% define data = {
    properties: {
        component: ''
    }
} %}

{% set categoryMap = {
    'Haushalt': 'icon-household-md',
    services: { title: "How It’s Made", desc: "Services" },
    work:     { title: "What’s On Tap", desc: "Our Work" },
    news:     { title: "Brew News", desc: "The Latest" }
} %}

{% block body %}
    <div class="{{ config.name }}__filter-mobile-header">
        <button type="button" class="button is-hidden-xl-only js-catalog-toggler-click__trigger btn-transparent-right">
            {%- include atom('icon') with {
                class: 'spacing-right',
                data: {
                    name: 'close',
                },
            } only -%}
        </button>
    </div>

    <ff-asn {{ data.properties.component|raw }} unresolved>
        <ff-asn-group filter-style="MULTISELECT" for-group="Brand" class="cursor" unresolved>
            <ff-asn-group-element unresolved>
                <div slot="selected">
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                    <span class="filterName">
                        {% verbatim %}
                            {{ element.name }}
                        {% endverbatim %}
                    </span>
                </div>

                <div slot="unselected">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="filterName">
                        {% verbatim %}
                            {{ element.name }}
                        {% endverbatim %}
                    </span>
                </div>
                <div data-container="removeFilter">{{ 'ff.remove.filter.checkbox' | trans }}</div>
            </ff-asn-group-element>

            <div slot="groupCaption" class="groupCaption groupCaption__selected expand-arrow">
                <span class="groupName">
                    {% verbatim %}
                        {{ group.name }}
                    {% endverbatim %}
                </span>
            </div>

            <div data-container="hiddenLinks">
                <div data-content="hiddenLinks"></div>
                <div data-container="showLess">
                    <span class="text">Show Less</span>
                </div>
            </div>
        </ff-asn-group>

        <ff-asn-group for-group="Sale" class="cursor" unresolved>
            <div slot="groupCaption" class="groupCaption groupCaption__selected expand-arrow">
                <span class="groupName">{{ 'ff.sale.group.caption' | trans }}</span>
            </div>

            <ff-asn-group-element unresolved>
                <div slot="selected">
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                    <span class="filterName">{{ 'ff.sale.group.element' | trans }}</span>
                </div>
                <div slot="unselected">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="filterName">{{ 'ff.sale.group.element' | trans }}</span>
                </div>
            </ff-asn-group-element>

            <div opened data-container="detailedLinks">
                <div id="sale_group" data-content="detailedLinks"></div>
            </div>
            <div data-container="removeFilter">{{ 'ff.remove.filter.checkbox' | trans }}</div>
        </ff-asn-group>

        <ff-asn-group filter-style="TREE" opened class="cursor">
            <ff-asn-group-element>
                <div slot="selected expand-arrow-cat">
                    <span class="filterName">
                        <strong>
                            {% verbatim %}
                                {{ element.name }}
                            {% endverbatim %}
                        </strong>
                    </span>
                </div>

                <div slot="unselected">
                    <span class="filterName">
                        {% verbatim %}
                            {{ element.name }}
                        {% endverbatim %}
                    </span>
                </div>
            </ff-asn-group-element>

            <div slot="groupCaption" class="groupCaption expand-arrow-cat">
                {% verbatim %}
                    {{ group.name }}
                {% endverbatim %}
            </div>
        </ff-asn-group>

        <ff-asn-group filter-style="DEFAULT" class="cursor title-filter" not-searchable collapsible="false">
            <div slot="groupCaption" class="groupCaption groupCaption__selected expand-arrow">
                <span>
                    {% verbatim %}
                        {{ group.name }}
                    {% endverbatim %}
                </span>
            </div>
        </ff-asn-group>

        <ff-asn-group filter-style="DEFAULT" for-group="Quality" class="cursor">
            <ff-asn-group-element unresolved>
                <div slot="selected">
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                    <span class="filterName">
                        {% verbatim %}
                            {{ element.name }}
                        {% endverbatim %}
                    </span>
                </div>

                <div slot="unselected">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="filterName">
                        {% verbatim %}
                            {{ element.name }}
                        {% endverbatim %}
                    </span>
                </div>
            </ff-asn-group-element>

            <div slot="groupCaption" class="groupCaption groupCaption__selected expand-arrow">
                <span class="groupName">
                    {% verbatim %}
                        {{ group.name }}
                    {% endverbatim %}
                </span>
            </div>
        </ff-asn-group>

        <ff-asn-group filter-style="MULTISELECT" for-group="Eigenschaften" class="cursor" unresolved>
            <ff-asn-group-element class="multiAttributes">
                <div slot="selected">
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                    <span class="filterName">
                    {% verbatim %}
                        {{ element.name }}
                    {% endverbatim %}
                </span>
                </div>
                <div slot="unselected">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="filterName">
                    {% verbatim %}
                        {{ element.name }}
                    {% endverbatim %}
                </span>
                </div>

                <div data-container="removeFilter">{{ 'ff.remove.filter.checkbox' | trans }}</div>
            </ff-asn-group-element>

            <div slot="groupCaption" class="groupCaption groupCaption__selected expand-arrow">
                <span class="groupName">
                    {% verbatim %}
                        {{ group.name }}
                    {% endverbatim %}
                </span>
            </div>

            <div data-container="hiddenLinks">
                <div data-content="hiddenLinks"></div>
                <div data-container="showLess">
                    <span class="text">Show Less</span>
                </div>
            </div>
        </ff-asn-group>

        <!-- SLIDER PART -->
        <ff-asn-group-slider filter-style="SLIDER" for-group="Price">
            <div slot="groupCaption" class="groupCaption groupCaption__selected expand-arrow">
                <span class="groupName">
                    {% verbatim %}
                        {{ group.name }}
                    {% endverbatim %}
                </span>
            </div>

            <div data-container="removeFilter">
                <span>{{ 'ff.remove.filter.checkbox' | trans }}</span>
            </div>

            <ff-slider-control submit-on-input="true">

                <ff-slider-one-touch></ff-slider-one-touch>

                <div class="ffw-button-wrapper">
                    <input data-control='1'>
                    <input data-control='2'>
                </div>

            </ff-slider-control>
        </ff-asn-group-slider>
    </ff-asn>
{% endblock %}
