{% extends model('component') %}

{% define config = {
    name: 'product-description',
    nameopt: 'product-description',
} %}

{% define data = {
    triggerClassName: '',
    product:[],
} %}

{% block class -%}
    {{ parent() }}
{%- endblock %}

{% block body %}
    <div class="{{ config.name }}__info">
        <div class="description-holder">
            <div>{{ data.product.description | raw }}</div>
        </div>
        {% if data.product.attributes.bulletpoints is defined %}
            {% set bulletPoints =  data.product.attributes.bulletpoints|split(';') %}
            {% for key,bulletPoint in bulletPoints %}
                <div class="bullet-point">
{#                    <img src={{ publicPath("/images/check-circle.svg")}}  width="20px" height="20px" />#}
                    <svg>
                        <use xlink:href="#:globus-info"></use>
                    </svg>
                    <span>{{ bulletPoint }}</span>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
