{% extends model('component') %}

{% define config = {
    name: 'product-description',
    nameopt: 'product-description',
} %}

{% define data = {
    triggerClassName: '',
    product:[],
} %}

{% block class -%}
    {{ parent() }}
{%- endblock %}

{% block body %}
    <div class="{{ config.name }}__info">
        <div class="description-holder">
            {% if data.product.description is defined %}
                {% set productDescription = data.product.description|split('<br>') %}
                {% for key,description in productDescription %}
                    {% set desciptionWithColon = description|split(':') %}
                    {% for key, colDescription in desciptionWithColon %}
                        {% if key ==  desciptionWithColon|length - 1 %}
                            <span>{{ colDescription }}</span><br>
                        {% else %}
                            <span class="description">{{ colDescription }}:</span><br>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
        {% if data.product.attributes.bulletpoints is defined %}
            {% set bulletPoints =  data.product.attributes.bulletpoints|split(';') %}
            {% for key,bulletPoint in bulletPoints %}
                <div class="bullet-point">
                    <img src={{ publicPath("/images/check-circle.svg")}}  width="20px" height="20px" />
                    <span>{{ bulletPoint }}</span>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
