{% extends model('component') %}

{% define config = {
    name: 'customer-info'
} %}

{% define data = {
    fullName: required,
    customerCartNote: '',
    isDetailPage: false
} %}

{% block body %}
    <div class="grid grid--middle">
        <div class="col {{ config.name }}__content">
            {% if data.isDetailPage == true %}
                <div class="{{ config.name }}__titleDiv"><span class="{{ config.name }}__title">{{ 'customer.comment' | trans }}</span></div>
            {% endif %}

            <div>{{ data.fullName }}</div>
            <div>{{ data.customerCartNote }}</div>
        </div>
    </div>
{% endblock %}
