{% extends model('component') %}

{% define config = {
    name: 'lazy-image',
    tag: 'lazy-image',
} %}

{% define data = {
    imageClasses: '',
    isImage: true,
} %}

{% define attributes = {
    loading: 'lazy',
} %}

{% set defaultImage = publicPath("/images/kein_bild_vorhanden.png") %}

{% block attributes %}{% endblock %}

{% block extraClass %}
    {% if not data.isImage %}
        {{ config.name }}--bg
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block body %}
    {% block image %}
        {% set attributesWithoutSrc = attributes | merge({'src': ''}) %}

        {% if data.isImage %}
            {% if attributes.src is defined %}
                {% if attributes.src is not empty %}
                    <img class="{{ data.imageClasses }} {{ config.jsName }}__content is-invisible" data-src="{{ attributes.src }}" {{ component.renderAttributes(attributesWithoutSrc) }}>
                {% else %}
                    <img class="{{ data.imageClasses }} {{ config.jsName }}__content is-invisible" data-src="{{ defaultImage }}" {{ component.renderAttributes(attributesWithoutSrc) }}>
                {% endif %}
            {% endif %}
        {% else %}
            <div class="{{ data.imageClasses }} {{ config.jsName }}__content is-invisible" data-background-image="{{ attributes.src }}"></div>
        {% endif %}
    {% endblock %}

    {% block noscriptImage %}
        <noscript>
            {% if data.isImage %}
                <img class="{{ data.imageClasses }}" {{ component.renderAttributes(attributes) }}>
            {% else %}
                <div class="{{ data.imageClasses }} {{ config.name }}__bg-fallback" style="background-image: url({{ attributes.src }})"></div>
            {% endif %}
        </noscript>
    {% endblock %}

    <script type="text/javascript">
        document.querySelector(".lazy-thumbnail__image").onerror = function(args){
            args.currentTarget.src = '{{ defaultImage }}';
        };
    </script>
{% endblock %}
