{% extends model('component') %}

{% define config = {
    name: 'lazy-image',
    tag: 'lazy-image',
} %}

{% define data = {
    imageClasses: '',
    isImage: true,
    imageSrc: '',
    imageTitle: '',
} %}

{% define attributes = {
    loading: 'lazy',
} %}

{% set defaultImage = publicPath("images/kein_bild_vorhanden.png") %}

{% block attributes %}{% endblock %}

{% block extraClass %}
    {% if not data.isImage %}
        {{ config.name }}--bg
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block body %}
    {% block image %}
        {% set attributesWithoutSrc = attributes | merge({'src': ''}) %}

        {% if data.isImage %}
            {% if attributes.src is defined %}
                <img onerror="OnErrorChangeImage(this);" class="{{ data.imageClasses }} {{ config.jsName }}__content is-invisible" src="{{ attributes.src }}" data-src="{{ data.imageSrc }}" data-storage="{{ attributes.src }}" {{ component.renderAttributes(attributesWithoutSrc) }}>
            {% endif %}
        {% else %}
            <div class="{{ data.imageClasses }} {{ config.jsName }}__content is-invisible" data-background-image="{{ attributes.src }}"></div>
        {% endif %}
    {% endblock %}
    {% block noscriptImage %}
        <noscript>
            {% if data.isImage %}
                <img onerror="this.src = '{{ defaultImage }}'" class="{{ data.imageClasses }}" {{ component.renderAttributes(attributes) }}>
            {% else %}
                <div class="{{ data.imageClasses }} {{ config.name }}__bg-fallback" style="background-image: url({{ attributes.src }})"></div>
            {% endif %}
        </noscript>
    {% endblock %}

    <script type="text/javascript">
        function OnErrorChangeImage(ev){
            if(ev.src.includes("thumb_") ){
                let nonThumbImageFromStorage = ev.getAttribute("data-storage");
                ev.src = nonThumbImageFromStorage;
                ev.setAttribute("data-src", nonThumbImageFromStorage);
            }
            else{
                ev.src = '{{ defaultImage }}';
                ev.setAttribute("data-src", "{{ defaultImage }}");
            }
        }
    </script>

{% endblock %}
