{% extends model('component') %}

{% define config = {
    name: 'navigation-header-de',
    tag: 'navigation-header'
} %}

{% block body %}
        <input id="idGlossaryAngebote" type="hidden" value="{{ 'catalog.sale' | trans }}"/>
        <input id="idGlossaryMyProducts" type="hidden" value="{{ 'my.products' | trans }}"/>

        <input id="alleProdukteID" type="hidden" value="{{ 'global.all_products' | trans }}">

        <ff-navigation class="{{ config.name }}__container" layout="vertical" id="desktop_ff-navigation">

            <ff-navigation-item>
                    <a class="{{ config.name }}__urlNavItem" href="{{ "{{previewImageURL}}" }}">
                        <div class="{{ config.name }}__navigation-link-item">
                            {{ "{{name}}" }}
                        </div>
                    </a>
            </ff-navigation-item>

            <ff-navigation-item type="header">
                    <a class="{{ config.name }}__urlNavItem" href="{{ "{{previewImageURL}}" }}">
                            <div class="navigation-icon {{ config.name }}__navigation-link-item">
                                {{ "{{name}}" }}
                            </div>
                    </a>
            </ff-navigation-item>
        </ff-navigation>
        <script type="text/javascript">
            {% include '@ContentNavigationWidget/views/navigation-header/navigation-header-de.js' %}
        </script>

{% endblock %}

