        <style>
            #desktop_ff-navigation ff-navigation-item {
                width: 25em;
                height: 24px;
                float: right;
                margin-top: 10px;
                margin-right: 5px;
                left: unset!important;
            }
            #desktop_ff-navigation .ffw-item-container {
                left: unset!important;
                right: 100%;
            }
            .labelDiscount {
                width: 45px;
                height: 25px;
                border-radius: 5px;
                background-color: red;
                position: absolute;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 3px;
                text-align: center;
                color: white;
                z-index: 100;
                top: 6px;
                left: 6px;
            }
            .record-list__amount--original {
                text-decoration: line-through;
            }
        </style>
        <input id="idGlossaryAngebote" type="hidden" value="{{ 'catalog.sale' | trans }}"/>
        <input id="idGlossaryMyProducts" type="hidden" value="{{ 'my.products' | trans }}"/>

        <input id="alleProdukteID" type="hidden" value="{{ 'global.all_products' | trans }}">

        <ff-navigation layout="vertical" id="desktop_ff-navigation">
            <ff-navigation-item>
                <div class="navigation-multilevel-node__link navigation-multilevel-node__link--header navigation-multilevel-node__link--lvl-1 ">
                    <a href="{{ "{{previewImageURL}}" }}" class="navigation-multilevel-node__link-inner navigation-multilevel-node__link-inner--lvl-1" onclick="toggleNavigationCategoriesMenu(this);">
                        {{ "{{name}}" }}&nbsp;
                    </a>
                </div>
            </ff-navigation-item>
            <ff-navigation-item type="header">
                <div class="navigation-multilevel-node__link navigation-multilevel-node__link--header navigation-multilevel-node__link--lvl-1 ">
                    <a href="{{ "{{previewImageURL}}" }}" class="navigation-multilevel-node__link-inner navigation-multilevel-node__link-inner--lvl-1" onclick="toggleNavigationCategoriesMenu(this);">
                        {{"{{name}}"}}&nbsp;
                    </a>
                </div>
            </ff-navigation-item>
        </ff-navigation>

        <script type="text/javascript">
            {% include '@ContentNavigationWidget/views/navigation-header/navigation-header-de.js' %}
        </script>


