{% extends template('page-layout-main') %}

{% define data = {
    merchant: merchant,
    collectDetailsForm: collectDetailsForm,
    collectOrder: collectOrder,
    paramIdSalesOrder: paramIdSalesOrder,
    idSalesOrder: idSalesOrder,
    orderReference: orderReference,
    collectNumber: collectNumber,
    urlCollectByCustomerConfirmation: urlCollectByCustomerConfirmation,
    urlCollectByCustomerCancellation: urlCollectByCustomerCancellation,
    requestedDeliveryDate: requestedDeliveryDate,
    pickedProductCount: pickedProductCount,
    dayOfTheWeek: dayOfTheWeek,
    fullName: fullName,
    collected: collected,
    cancelled: cancelled,
    cartNote: cartNote,
    collectedAt: collectedAt,
    pickingSalesOrders: pickingSalesOrders,
    pickedAndNotFoundItems: pickedAndNotFoundItems
} %}

{% set pickedItemCount = data.collectOrder.pickedItemsCount %}
{% set notFoundItemCount = data.collectOrder.notFoundItemsCount %}
{% set totalItemCount = pickedItemCount + notFoundItemCount %}

{% block header %}
    {% include organism('header') with {
        modifiers: ['produccollectDetailsFormact-type'],
        data: {
            withoutLogo: true,
            orderReference: data.orderReference,
            collectNumber: data.collectNumber,
            buttonUrl: '/picker/collect-by-customer',
            orderTime: '',
            titleColor: 'lightOrange',
            headerLocationTitle: collectNumber
        },
    } only %}
{% endblock %}

{% block content %}
    <div class="spacing-y">
        {% set isCollectionOrderFinished = data.collected or data.cancelled %}
        {% embed molecule('order-item-abholung') with {
            class: 'js-order-search__item',
            modifiers: ['picked', 'expanded', 'with-bottom', 'bordered'],
            data: {
                reference: data.orderReference,
                collectNumber: data.collectNumber,
                productsCount: data.pickedProductCount,
                date: data.requestedDeliveryDate | split(' ') | first | date('d/m/Y'),
                deadline: data.requestedDeliveryDate | split(' ') | last ~ ' ' ~ 'hour' | trans,
                dayOfTheWeek: data.dayOfTheWeek,
                detailPage: true
            },
            attributes: {
                'data-order': data.collectNumber | lower,
                'data-reference': data.orderReference | lower,
                'data-time': data.requestedDeliveryDate | split(' ') | last,
            },
            embed: {
                collectDetailsForm: collectDetailsForm,
                collectOrder: data.collectOrder,
                collectionOrder: data,
                paramIdSalesOrder: data.paramIdSalesOrder,
                urlCollectByCustomerCancellation: data.urlCollectByCustomerCancellation,
                urlCollectByCustomerConfirmation: data.urlCollectByCustomerConfirmation,
                isCollectionOrderFinished: isCollectionOrderFinished,
                collectedAt: data.collectedAt,
                cartNote: data.cartNote,
                orderReference: data.orderReference,
                idSalesOrder: data.idSalesOrder,
                pickingSalesOrders: pickingSalesOrders,
                fullName: fullName,
                orderReference: orderReference,
                pickedAndNotFoundItems: pickedAndNotFoundItems
            }
        } only %}
            {% block action %}{% endblock %}

            {% block orderReference %}
                {% if embed.isCollectionOrderFinished %}
                    {% include atom('app-label') with {
                        class: 'text-center',
                        modifiers: ['reference'],
                        data: {
                            text: 'Order ID' | trans ~ ': ' ~ embed.orderReference
                        }
                    } only %}
                {% endif %}
            {% endblock %}

            {% block additionalFields %}

                <input type="hidden" name="{{ embed.paramIdSalesOrder }}" value="{{ embed.idSalesOrder }}">

                </div>
                <div>
                    {% if embed.pickedAndNotFoundItems|length > 0 %}
                        {% include molecule('missing-articles') with {
                            data: {
                                missingArticles: embed.pickedAndNotFoundItems,
                                collectOrder: embed.collectOrder
                            },
                        } only %}
                    {% endif %}
                </div>
                <div>
                    {% include molecule('customer-info') with {
                        data: {
                            fullName: embed.fullName,
                            customerCartNote: embed.cartNote,
                            isDetailPage: true
                        },
                    } only %}
                </div>
                <div>
                    {% include molecule('barcode') with {
                        data: {
                            orderReference: embed.orderReference,
                        },
                    } only %}
                </div>
                <div class="box__bottom">
                    {% if not embed.isCollectionOrderFinished %}
                        <div class="grid grid--middle spacing-y">
                            <div class="col col--sm-6 spacing-right spacing-right--inner">
                                <form action="{{ embed.urlCollectByCustomerCancellation }}" method="POST" class="js-submit-form-handler__form">
                                    <input type="hidden" name="{{ embed.paramIdSalesOrder }}" value="{{ embed.idSalesOrder }}">

                                    {% embed molecule('popup-ui') with {
                                        data: {
                                            title: 'Not picked up!' | trans,
                                            buttons: {
                                                submit: {
                                                    isButton: true,
                                                }
                                            }
                                        },
                                        embed: {
                                            reference: data.reference,
                                        },
                                    } only %}
                                        {% block content %}
                                            <div class="text-center spacing-bottom">
                                                {{ 'Order %order% hasn’t been picked up' | trans | replace({'%order%': embed.reference}) }}
                                            </div>
                                        {% endblock %}

                                        {% block button %}
                                            <div class="text-center">
                                                <div class="button button--small button--table button--expand button--hollow">
                                                    {{ 'picker.collect-by-customer.order.cancel-collection' | trans }}
                                                </div>
                                            </div>
                                        {% endblock %}

                                    {% endembed %}
                                </form>
                            </div>
                            <div class="col col--sm-6 spacing-left spacing-left--inner">
                                <form action="{{ embed.urlCollectByCustomerConfirmation }}" method="POST" class="js-submit-form-handler__form">
                                    <input type="hidden" name="{{ embed.paramIdSalesOrder }}" value="{{ embed.idSalesOrder }}">

                                    {% embed molecule('popup-ui') with {
                                        data: {
                                            title: 'Picked up!' | trans,
                                            buttons: {
                                                submit: {
                                                    isButton: true,
                                                }
                                            }
                                        },
                                        embed: {
                                            reference: embed.orderReference,
                                        },
                                    } only %}
                                        {% block content %}
                                            <div class="text-center spacing-bottom">
                                                {{ 'Order %order% has been picked up' | trans | replace({'%order%': embed.reference}) }}
                                            </div>
                                        {% endblock %}

                                        {% block button %}
                                            <div class="text-center">
                                                <div class="button button--small button--table button--expand js-pick-products__submit-button {{ config.jsName }}__open">
                                                    {{ 'picker.collect-by-customer.order.confirm-collection' | trans }}
                                                </div>
                                            </div>
                                        {% endblock %}
                                    {% endembed %}
                                </form>
                            </div>
                        </div>
                    {% endif %}

                    {% if embed.collectionOrder.collected %}
                        <div class="grid grid--justify grid--middle">
                            <div class="col">
                                {{ embed.collectedAt | date('H:i') }} {{ 'hour' | trans }}
                            </div>
                            <div class="col">
                                {% include atom('app-label') with {
                                    modifiers: ['success'],
                                    data: {
                                        text: 'picker.collect-by-customer.order.status.collected' | trans
                                    }
                                } only %}
                            </div>
                        </div>
                    {% elseif embed.collectionOrder.cancelled %}
                        <div class="grid grid--justify grid--middle">
                            <div class="col"></div>
                            <div class="col">
                                {% include atom('app-label') with {
                                    modifiers: ['info'],
                                    data: {
                                        text: 'picker.collect-by-customer.order.status.cancelled' | trans
                                    }
                                } only %}
                            </div>
                        </div>
                    {% endif %}
                </div>

            {% endblock %}


        {% endembed %}
    </div>
{% endblock content %}
