{% extends template('page-layout-main') %}

{% define data = {
    merchant: merchant,
    activities: activities,
    collectionOrders: collectionOrders,
    requestedDeliveryDates: requestedDeliveryDates,
    paramIdSalesOrder: paramIdSalesOrder,
    urlCollectByCustomerConfirmation: urlCollectByCustomerConfirmation,
    urlCollectByCustomerCancellation: urlCollectByCustomerCancellation,
    urlCollectByCustomerDetails: urlCollectByCustomerDetails,
} %}

{% block header %}
    {% include organism('header') with {
        data: {
            headerLocationTitle: 'collect.by.customer.header' | trans,
            withoutLogo: true,
            titleColor: 'lightOrange'
        }
    } only %}
{% endblock %}

{% block content %}
    <div class="spacing-y">
        <div style="display: none;" id="sourcetwig" datatype="ready for collection" datasrc="collect-by-customer"></div>

        {% set timeOptions = [] %}

        {% for time in data.requestedDeliveryDates %}
            {% set timeOptions = timeOptions | merge([{
                label: time ~ ' ' ~ 'hour' | trans,
                value: time
            }]) %}
        {% endfor %}

        {% include molecule('order-search') with {
            data: {
                selectOptions: timeOptions
            }
        } only %}
        {% for collectionOrder in data.collectionOrders %}
            {% set isCollectionOrderFinished = collectionOrder.collected or collectionOrder.cancelled %}

            {% embed molecule('order-item-abholung') with {
                class: 'js-order-search__item',
                modifiers: ['picked', 'expanded', 'with-bottom', 'bordered'],
                data: {
                    reference: collectionOrder.reference,
                    collectNumber: collectionOrder.collectNumber,
                    productsCount: collectionOrder.pickedProductCount,
                    date: collectionOrder.requestedDeliveryDate | split(' ') | first | date('d/m/Y'),
                    deadline: collectionOrder.requestedDeliveryDate | split(' ') | last ~ ' ' ~ 'hour' | trans,
                    dayOfTheWeek: collectionOrder.dayOfTheWeek,
                    fullName: collectionOrder.fullName,
                    pickupStatus: collectionOrder.pickupStatus
                },
                attributes: {
                    'data-order': collectionOrder.collectNumber | lower,
                    'data-pickupstatus': collectionOrder.pickupStatus | lower,
                    'data-reference': collectionOrder.reference | lower,
                    'data-ordersBeforeReadyToCollectStatus': collectionOrder.ordersBeforeReadyToCollectStatus,
                    'data-time': collectionOrder.requestedDeliveryDate | split(' ') | last
                },
                embed: {
                    collectionOrder: collectionOrder,
                    paramIdSalesOrder: data.paramIdSalesOrder,
                    urlCollectByCustomerCancellation: data.urlCollectByCustomerCancellation,
                    urlCollectByCustomerConfirmation: data.urlCollectByCustomerConfirmation,
                    urlCollectByCustomerDetails: data.urlCollectByCustomerDetails,
                    isCollectionOrderFinished: isCollectionOrderFinished
                }
            } only %}
                {% block action %}{% endblock %}

                {% block orderReference %}
                    {% if embed.isCollectionOrderFinished %}
                        {% include atom('app-label') with {
                            class: 'text-center',
                            modifiers: ['reference'],
                            data: {
                                text: 'Order ID' | trans ~ ': ' ~ data.reference
                            }
                        } only %}
                    {% endif %}
                {% endblock %}

                {% block additionalFields %}
                    <div class="grid grid--expand">
                        <div class="col col--sm-12 spacing-top">
                            {% include molecule('product-type') with {
                                modifiers: ['list'],
                                data: {
                                    productTypes: embed.collectionOrder.pickedProductTypes | default(),
                                    withoutText: true,
                                },
                            } only %}
                        </div>
                    </div>
                {% endblock %}

                {% block additionalContent %}
                    <div class="customerInfo">
                        {% include molecule('customer-info') with {
                            data: {
                                fullName: data.fullName,
                                customerCartNote: embed.collectionOrder.cartNote,
                                isDetailPage: false
                            },
                        } only %}
                    </div>

                    <div class="containers">
                        {{ embed.collectionOrder.numberOfContainersInOrder }} {{ 'picker.collect-by-customer.details.containers' | trans }}
                    </div>

                    <div class="box__bottom">
                        {% if not embed.isCollectionOrderFinished %}
                            <div class="grid grid--middle spacing-y">
                                <div class="col col--sm-6 spacing-right spacing-right--inner">
                                    <form action="{{ embed.urlCollectByCustomerDetails }}" method="POST" class="js-submit-form-handler__form">
                                        <input type="hidden" name="{{ embed.paramIdSalesOrder }}" value="{{ embed.collectionOrder.idSalesOrder }}">

                                        {% block button %}
                                            <div class="text-center">
                                                <input type="submit" value="{{ 'picker.collect-by-customer.order.open-detail-confirm-collection' | trans }}" class="button button--small button--table button--expand js-pick-products__submit-button" />
                                            </div>
                                        {% endblock %}

                                    </form>
                                </div>
                            </div>
                        {% endif %}

                        {% if embed.collectionOrder.collected %}
                            <div class="grid grid--justify grid--middle">
                                <div class="col">
                                    {{ embed.collectionOrder.collectedAt | date('H:i') }} {{ 'hour' | trans }}
                                </div>
                                <div class="col">
                                    {% include atom('app-label') with {
                                        modifiers: ['success'],
                                        data: {
                                            text: 'picker.collect-by-customer.order.status.collected' | trans
                                        }
                                    } only %}
                                </div>
                            </div>
                        {% elseif embed.collectionOrder.cancelled %}
                            <div class="grid grid--justify grid--middle">
                                <div class="col"></div>
                                <div class="col">
                                    {% include atom('app-label') with {
                                        modifiers: ['info'],
                                        data: {
                                            text: 'picker.collect-by-customer.order.status.cancelled' | trans
                                        }
                                    } only %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endblock %}
            {% endembed %}
        {% endfor %}
    </div>
{% endblock content %}
