{% extends template('page-layout-main') %}

{% define data = {
    title: required,
    message: required,
    collectNumber: '',
    requestedDeliveryDate: '',
    deliveryMethodKey: '',
    orderReference:''

} %}

{%- block class -%}{{ parent() }} page-layout-main--success-page{%- endblock -%}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% endblock %}

{% block content %}
    <div class="page-layout-checkout success-page text-center">
        <div class="success-page__container container">
            <h1 class="title title--checkout-success">{{ data.title }}</h1>
            <p class="success-page__text">{{ data.message }}</p>

            <div id="app">
                <h2>Vielen Dank für Ihren Einkauf</h2>
            </div>
            Vielen Dank für Ihren Einkaufch
            Ihre Bestellung ist erfolgreich in unserem Abholmarkt eingegangen.



            <p style="font-weight:bold">Wie geht es weiter?</p>
            Ihre Bestellbestätigung <strong> {{ data.orderReference }}</strong> ist bereits auf dem Weg in Ihr Email-Postfach - prüfen Sie also unbedingt auch Ihren Spam Ordner.<br>
            Ihren <strong>Abholschein</strong> erhalten Sie direkt am <strong>Abholtag per Mail</strong>, sobald wir Ihre Bestellung fertig gepackt haben.
            Darin finden Sie außerdem den <strong> detaillierten Lieferstatus </strong> aller bestellten Artikel

            {% if data.collectNumber %}
                <p class="success-page__text">{{ 'customer.order.collect_number' | trans }}:
                    <strong>{{ data.collectNumber }}</strong>
                </p>
            {% endif %}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="button" href="{{ url('customer/overview') }}">{{ 'checkout.step.success.link' | trans }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
