{% extends template('page-layout-main') %}

{% define data = {
    title: required,
    message: required,
    collectNumber: '',
    requestedDeliveryDate: '',
    deliveryMethodKey: '',
    orderReference:'',
    items: '',
    totals: '',
    payments: '',
    isAccountConnectedWithPayback: '',
    currencyIsoCode: app.currentCurrencyISOCode,
} %}

{%- block class -%}{{ parent() }} page-layout-main--success-page{%- endblock -%}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% endblock %}

{% block content %}
    {% set fontClass = app.currentCodeBucket == "CZ" ? 'cz-font' : '' %}
    {% for item in data.items %}
        <script>
            window.purchaseItems = window.purchaseItems || [];
            window.purchaseItems.push({
                    'name': '{{ item.name | escape('js') }}',
                    'id': '{{ item.id }}',
                    'sku': '{{ item.sku }}',
                    'price': '{{ item.unitGrossPrice is defined ? item.unitGrossPrice / 100 : null }}',
                    'quantity': '{{ item.quantity }}',
                    'brand': '{{ item.brand }}',
            }
            );
        </script>
    {% endfor %}
    <div class="page-layout-checkout success-page text-center {{ fontClass }}">
        <div class="success-page__container container">
            <div class="success-title">
                {% if app.currentCodeBucket == 'DE' %}
                    <h1 class="title">{{ data.title }}</h1>
                {% else %}
                    <h1 class="title title--heading-CZ">{{ data.title }}</h1>
                {% endif %}
                <p class="success-page__text">{{ data.message }}</p>
            </div>

            <div class="flex-container">
                <div class="abhol-service">
                    <img src="{{ publicPath('images/abhol-service-logo.png') }}"/>
                </div>
                <div class="success-information-holder {{ fontClass }}" style="text-align: left;margin:0 auto;width:80%;padding-bottom: 20px">
                    <h4 class="{{ fontClass }}">{{ 'success.message.title' | trans }}</h4>
                    <p>{{ 'success.message.text1' | trans }} <strong> {{ data.orderReference }}</strong> {{ 'success.message.text2' | trans }}<br>
                        {{ 'success.message.text3' | trans }}<strong> {{ 'success.message.text4' | trans }}</strong> {{ 'success.message.text5' | trans }} <strong>{{ 'success.message.text6' | trans }}</strong>{{ 'success.message.text7' | trans }} <strong> {{ 'success.message.text8' | trans }} </strong> {{ 'success.message.text9' | trans }}<br/><br/><br/>
                        <strong>{{ 'success.message.text10' | trans }}<br/>
                            {{ 'success.message.text11' | trans }}</strong>
                        {% if app.currentCodeBucket == 'DE' %}
                            <a class="support-link" href="https://globus.zendesk.com/hc/de">https://globus.zendesk.com/hc/de</a>
                        {% else %}
                            <a class="support-link {{ fontClass }}" href="{{ url('/cs/otazky-a-odpovedi')  }}">{{ url('/cs/otazky-a-odpovedi')  }}</a>
                        {% endif %}
                    </p>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a style="float: left;margin-top: 15px" class="button {{ fontClass }}" href="{{ url('customer/overview') }}">{{ 'checkout.step.success.link' | trans }}</a>
                    {% endif %}
                </div>
            </div>

            {% if not data.isAccountConnectedWithPayback and app.currentCodeBucket == 'DE' %}
                <div class="not-linked-payback">
                    <div class="badge-pdp">
                        <img src="{{ publicPath('images/pb-badge-pdp.png') }}" width="70px" height="25" style="margin-right: 5px;" />
                    </div>
                    <div class="info-banner">
                        <div class="info-left-banner" >
                            <div class="title">
                                <h3>{{ 'checkout.step.success.payback.not.connected' | trans }}</h3>
                            </div>
                            <p>
                                <span>
                                    <svg class="check-orange">
                                        <use xlink:href="#:check-orange"></use>
                                    </svg>
                                </span>
                                <span class="payback-tip">{{ 'checkout.step.success.payback.tip.one' | trans }}</span>
                            </p>
                            <p>
                                <span>
                                    <svg class="check-orange">
                                        <use xlink:href="#:check-orange"></use>
                                    </svg>
                                </span>
                                <span class="payback-tip">{{ 'checkout.step.success.payback.tip.two' | trans }}</span>
                            </p>
                            <p>
                                <span>
                                    <svg class="check-orange">
                                        <use xlink:href="#:check-orange"></use>
                                    </svg>
                                </span>
                                <span class="payback-tip">{{ 'checkout.step.success.payback.tip.three' | trans }}</span>
                            </p>
                            <p>
                                <span>
                                    <svg class="check-orange">
                                        <use xlink:href="#:check-orange"></use>
                                    </svg>
                                </span>
                                <span class="payback-tip">{{ 'checkout.step.success.payback.tip.four' | trans }}</span>
                            </p>
                            <a class="button payback-discovery" href="https://www.globus.de/kundenprogramme/payback/index.php" target="_blank">
                                {{ 'checkout.step.success.payback.discover' | trans }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <script>
            window.dataLayer = window.dataLayer || [];
            var products = window.purchaseItems;
            window.dataLayer.push({
                'event':'eec.purchase',
                'ecommerce':
                    {
                        'currencyCode': '{{ data.currencyIsoCode }}',
                        'purchase':
                            {
                                'actionField': {
                                    'id': '{{ data.orderReference }}',
                                    'shipping': '{{ data.totals.expenseTotal is defined ? data.totals.expenseTotal / 100 : null }}',
                                    'revenue': '{{ data.totals.grandTotal is defined ? data.totals.grandTotal / 100 : null  }}',
                                    'tax' : '{{ data.totals.taxTotal.amount is defined ? data.totals.taxTotal.amount / 100 : null }}', //TODO: Add tax
                                },
                               products,
                            }
                    }
            });
    </script>
{% endblock %}
