{% extends model('component') %}

{% define config = {
    name: 'additional-product-information',
} %}

{% define data = {
    productAttributes: required,
    product: required,
    characteristics: []
} %}

{% block body %}

                {% if data.product['idProductConcrete'] is defined %}
                    <div><div class="{{ config.name }}__headline"><strong>{{ 'product.info.additional.article_number' | trans }}:</strong></div><p class="{{ config.name }}__attribute">{{ data.product['idProductConcrete'] }}</p></div>
                {% endif %}
                {% if data.product['sku'] is defined %}

                    {% if '_' in data.product['sku'] %}
                        {% set length = data.product['sku'] | length %}
                        {% set beginerLength = data.product['sku'] | length - 5 %}
                        {% set houseNumber = data.product['sku'] | slice( beginerLength, length ) %}

                        <div><div class="{{ config.name }}__headline"><strong>EAN/GTIN:</strong></div><p class="{{ config.name }}__attribute">{{ data.product['sku']|replace({ (houseNumber): '' }) }}</p></div>
                    {% else %}
                        <div><div class="{{ config.name }}__headline"><strong>EAN/GTIN:</strong></div><p class="{{ config.name }}__attribute">{{ data.product['sku'] }}</p></div>
                    {% endif %}

                {% endif %}
                {% if data.productAttributes['alkgeh'] is defined %}
                    <div><div class="{{ config.name }}__headline"><strong>{{ 'product.info.additional.alcohol' | trans }}:</strong></div><p class="{{ config.name }}__attribute">{{ data.productAttributes['alkgeh'] }}</p></div>
                {% endif %}
                {% if data.productAttributes['fsk'] is defined %}
                    <div><div class="{{ config.name }}__headline"><strong>{{ 'product.info.additional.age_restriction' | trans }}:</strong></div><p class="{{ config.name }}__attribute">{{ data.productAttributes['fsk'] }}</p></div>
                {% endif %}

                {% if data.characteristics is defined and data.characteristics is not empty %}
                    <div><div class="{{ config.name }}__headline"><strong>{{ 'product.info.additional.characteristics' | trans }}:</strong></div>
                    <p class="{{ config.name }}__attribute">
                        {% for key, value in data.characteristics %}
                            <span>{{ key | trans }}{% if loop.last == false %}<span>, </span>{% endif %}</span>
                        {% endfor %}
                    </p>
                    </div>
                {% endif %}

                {% if data.productAttributes['inverkehrbringer'] is defined %}
                    <div><div class="{{ config.name }}__headline"><strong>{{ 'product.info.additional.manufacturer' | trans }}:</strong></div><p class="{{ config.name }}__attribute">{{ data.productAttributes['inverkehrbringer'] | raw }}</p></div>
                {% endif %}

                <div><div class="{{ config.name }}__headline"><strong>{{ 'product.info.additional.hints' | trans }}:</strong></div><p class="{{ config.name }}__attribute">{{  'product.info.additional.hintsText' | trans }}</p></div>

{% endblock %}
