{% extends model('component') %}

{% define config = {
    name: 'additional-product-information',
} %}

{% define data = {
    productAttributes: required,
    product: required,
    triggerClassName: 'active',
} %}

{% block body %}
    <div class="{{ component.renderClass(config.name ~ '__content', modifiers) }} col--lg-12">
        {% block contentText %}
            <h3 class="title title--h2 title--product-details {{ data.triggerClassName }}"
                data-toggle-target-class-name="{{ config.jsName }}__toggler-target">
                <strong>{{ 'catalog.view.product.info' | trans }}</strong>
            </h3>
            <div class="{{ config.jsName }}__toggler-target"> {# is-hidden #}
                {% if data.product['idProductConcrete'] is defined %}
                    <div><strong>Art.Nr:</strong> {{ data.product['idProductConcrete'] }}</div>
                {% endif %}
                {% if data.product['sku'] is defined %}
                    <div><strong>EAN/GTIN:</strong> {{ data.product['sku'] }}</div>
                {% endif %}
                {% if data.productAttributes['alkgeh'] is defined %}
                    <div><strong>{{ 'product.info.additional.alcohol' | trans }}:</strong> {{ data.productAttributes['alkgeh'] }}</div>
                {% endif %}
                {% if data.productAttributes['fsk'] is defined %}
                    <div><strong>Altersbeschränkung :</strong> {{ data.productAttributes['fsk'] }}</div>
                {% endif %}
                {% if data.productAttributes['bio'] is defined %}
                    <div><strong>Bio:</strong> {{ data.productAttributes['bio'] }}</div>
                {% endif %}
                {% if data.productAttributes['inverkehrbringer'] is defined %}
                    <div><strong>Inverkehrbringer (Hersteller):</strong> {{ data.productAttributes['inverkehrbringer'] }}</div>
                {% endif %}
                {% if data.productAttributes['verwendungshinweise'] is defined %}
                    <div><strong>{{ 'product.info.additional.hints' | trans }}:</strong> {{ data.productAttributes['verwendungshinweise'] }}</div>
                {% endif %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
