{% extends model('component') %}

{% define config = {
    name: 'footer',
    tag: 'footer'
} %}

{% define data = {
    showNavigation: true,
} %}

{% block body %}
    {% block footerTop %}

        <div class="container">
            <div class="{{ config.name }}__top">
                <div class="{{ config.name }}__content">
                    <div class="grid grid--justify grid--expand">

                        {% block navigation %}
                                {# Commented for later use...#}
                                    {# <div class="contact-store-info"> #}
                                    {# {{ cms_block(['Kontakt KMD','Kontakt EIN','Kontakt LPZ','Kontakt HAD']) }}#}
                                {#</div>#}
                                <div class="contact-store-info">
                                    <p style="margin-top:0px">Kundenservice</p><p>Mo - Sa 10 - 20 hr</p><p>068-34-456-5</p><p>Kontakt</p>
                                </div>

                            <div class="col col--sm-12 col--lg-8">
                                {% include molecule('navigation-footer') with {
                                    class: config.name ~ '__navigation',
                                    data: {
                                        items: [
                                            {
                                                title: 'footer.categories',
                                                templates: [
                                                {
                                                    template: 'navigation-footer',
                                                    menu: 'FOOTER_NAVIGATION_CATEGORIES',
                                                },
                                            ],
                                            },
                                            {
                                                title: 'footer.globus',
                                                templates: [
                                                {
                                                    template: 'navigation-footer',
                                                    menu: 'NAVIGATION_FOOTER_ELEMENT',
                                                },
                                            ],
                                            }
                                        ],
                                    },
                                } only %}
                            </div>
                        {% endblock %}


                        {% block payments %}
                            <div class="icon-container">
                                <h3 class="title title--footer">{{ 'global.paymentProviders' | trans }}</h3>
                                <div class="div-margin-right">
                                    <img src={{ publicPath("/images/visa.svg")}}  width="50px" height="50px" />
                                </div>
                                <div>
                                    <img src={{ publicPath("/images/maestro.svg")}}  width="50px" height="50px" />
                                </div>
                                <div class="div-margin-left">
                                    <img src={{ publicPath("/images/vpay.svg")}}  width="50px" height="50px" />
                                </div>
                                <br/>
                                <div style="margin-right: 20px">
                                    <img src={{ publicPath("/images/google_pay.svg")}}  width="50px" height="50px" />
                                </div>
                                <div>
                                    <img src={{ publicPath("/images/mastercard.svg")}}  width="50px" height="50px" />
                                </div>
                                <div style="margin-left: 20px">
                                    <img src={{ publicPath("/images/apple_pay.svg")}}  width="50px" height="50px" />
                                </div>
                                <br/>
                                <div class="div-margin-right">
                                    <img src={{ publicPath("/images/americanexpress.svg")}}  width="50px" height="50px" />
                                </div>
                                <div>
                                    <img src={{ publicPath("/images/girocard.svg")}}  width="50px" height="50px" />
                                </div>
                                <div class="div-margin-left" style="position: relative;top:-15px">
                                    <img src={{ publicPath("/images/bluecode.png")}}  width="60px" height="20px" />
                                </div>
                            </div>
                        {% endblock %}

                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block copyright %}
        <div class="{{ config.name }}__bottom">
            {% include molecule('copyright-build-with') with {
                class: 'container text-center',
            } only %}
        </div>
    {% endblock %}
{% endblock %}
