{% extends model('component') %}

{% define config = {
    name: 'breadcrumb'
} %}

{% define data = {
    properties: {
        component: '',
        items: []
    }
} %}

{% block body %}
    <ff-breadcrumb-trail {{ data.properties.component|raw }}>
        <span data-separator> &#8226 </span>
        <!-- The search item is the content of the search query-->
        <ff-breadcrumb-trail-item type="search">
            <span class="{{ 'search__item' }}">
                {% verbatim %}
                    {{ text }}
                {% endverbatim %}
            </span>
        </ff-breadcrumb-trail-item>

        <ff-breadcrumb-trail-item type="filter">
            <span class="{{ 'filter__item' }}">
                {% verbatim %}
                    {{ text }}
                {% endverbatim %}
            </span>
        </ff-breadcrumb-trail-item>
    </ff-breadcrumb-trail>
{% endblock %}
