{% extends model('component') %}

{% define config = {
    name: 'popup-ui-container-scan',
    tag: 'popup-ui-container-scan'
} %}

{% define data = {
    title: '',
    buttons: {
        submit: {
            title: 'Confirm' | trans,
            isButton: false,
            url: '/',
            type:'button',
            blank: false,
            additionalClass: ''
        },
        close: true
    },
    headerBackgroundColor: '#FFF',
    headerTextColor: '#000',
    headerBorderBottomColor: 'transparent',
    closeIconColor: '#000',
    contentBackgroundColor: '#FFF',
    borderRadius: 24,
    textAlign: 'center',
    id: '',
    urlScanShelves: '',
    itemSku: '',
    onCloseExecuteCode: ''
} %}

{% define attributes = {
    'close-on-submit': true
} %}

{% block body %}
    <div class="{{ config.name }}__overlay" id="{{ data.id }}">
        <div class="{{ config.name }}__container" style="border-radius: {{ data.borderRadius }};">
            <div class="{{ config.name }}__title-container" style="background-color: {{ data.headerBackgroundColor }}; color: {{ data.headerTextColor }}; border-bottom: 1px solid {{ data.headerBorderBottomColor }};">
                <div style="text-align: {{ data.textAlign }};" class="{{ config.name }}__title col col--xs-10 col--sm-10 col--md-10">
                    {{ data.title }}
                </div>

                {% if data.buttons.close == true %}
                    {% block cancelButton %}
                        <a href="#" id="btnCloseContainerScan" class="link link--close text-center cancel-confirmation {{ config.jsName }}__close col col--xs-1 col--sm-1 col--md-1" onclick="{{ data.onCloseExecuteCode }}" style="color: {{ data.closeIconColor }};">
                            X
                        </a>
                    {% endblock %}
                {% endif %}
            </div>
            <div class="{{ config.name }}__content" style="background-color: {{ data.contentBackgroundColor }};">
                {% block content %}{% endblock %}

                {% block popupActions %}

{#                    {% block mergeContainersButton %}#}
{#                        <button type="{{ data.buttons.submit.type }}" class="button button--expand {{ config.jsName }}__merge">#}
{#                            {{  }}#}
{#                        </button>#}
{#                    {% endblock %}#}

                    {% block confirmButton %}
                        {% if data.buttons.submit.isButton %}
                            <button type="{{ data.buttons.submit.type }}" class="button button--expand {{ data.buttons.submit.additionalClass }} {{ config.jsName }}__submit" {% if data.buttons.submit.blank %}target="_blank"{% endif %}>
                                {{ data.buttons.submit.title }}
                            </button>
                        {% endif %}
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% block button %}{% endblock %}
{% endblock %}
