{% extends model('component') %}

{% define config = {
    name: 'popup-ui-info',
    tag: 'popup-ui-info'
} %}

{% define data = {
    isUpdated: data.isUpdated,
    containerId: data.containerId,
    shelfId: data.shelfId,
    orderId: data.orderId,
    title: 'Confirm your work!' | trans,
    buttons: {
        submit: {
            title: 'Confirm' | trans,
            isButton: false,
            url: '/',
            blank: false,
            additionalClass: ''
        },
        cancel: {
            title: 'Cancel' | trans
        }
    }
} %}

{% if data.shelfId %}
    {% set lblShelfId = data.shelfId %}
    {% set lblAddedShelf = 'storeapp.innfopopup.under.information.label' | trans %}
{% else %}
    {% set lblShelfId = 'storeapp.innfopopup.lagerplatz.label' | trans %}
    {% set lblAddedShelf = '' %}
{% endif %}

{% define attributes = {
    'close-on-submit': true
} %}

{% block body %}
    <div class="{{ config.name }}__overlay update-holder" update= {{ data.isUpdated }}>
        <div class="{{ config.name }}__container">
            <div class="closeInfoMessage">
                {% block cancelButton %}
                    <span href="#" class="link link--close {{ config.jsName }}__close">
                              x
                            </span>
                {% endblock %}
            </div>
            <div class="{{ config.name }}__content">
                {% block content %}{% endblock %}

                {% block popupActions %}
                    <div id="firstBlock">
                        Container: <strong>{{ data.containerId }}</strong>
                    </div>
                    <div id="secondBlock">
                        Lagerplatz: <strong>{{ lblShelfId }}</strong> <br> Bestellnummer: <strong>{{ data.orderId }}</strong>
                    </div>
                    <div>
                        <strong>{{ lblAddedShelf }}</strong>
                    </div>

                {% endblock %}
            </div>
        </div>
    </div>
    {% block button %}{% endblock %}
{% endblock %}
